openapi: 3.1.0
info:
  title: Apollo.io Tasks API
  version: '1.0'
  summary: Programmatic access to Apollo's sales intelligence and engagement platform — data enrichment,
    prospect and company search, and go-to-market workflow management.
  description: 'The Apollo API provides programmatic access to [Apollo](https://www.apollo.io/), the all-in-one
    sales intelligence and engagement platform. Use it to enrich people and company data (individually
    or in bulk), search Apollo''s database of over 240 million contacts and 30 million companies, and
    manage accounts, contacts, deals, sequences, tasks, calls, and conversations in your go-to-market
    workflows.


    ## Base URL


    All API requests are made to `https://api.apollo.io/api/v1`.


    ## Authentication


    - **Apollo users** authenticate with an API key passed in the `x-api-key` request header. See [Create
    API Keys](https://docs.apollo.io/docs/create-api-key).

    - **Apollo partners** building integrations on behalf of mutual users authenticate with the [OAuth
    2.0 authorization flow](https://docs.apollo.io/docs/use-oauth-20-authorization-flow-to-access-apollo-user-information-partners).


    ## Rate limits & credits


    Rate limits and credit consumption depend on your [Apollo pricing plan](https://docs.apollo.io/docs/api-pricing).
    Check your current limits and usage with the [View API Usage Stats and Rate Limits](https://docs.apollo.io/reference/view-api-usage-stats)
    endpoint. For more details, see [Rate Limits](https://docs.apollo.io/reference/rate-limits) and the
    [API FAQs](https://docs.apollo.io/docs/apollo-api-faqs).


    New to the API? Start with the [Apollo API overview](https://docs.apollo.io/reference/apollo-api).'
  termsOfService: https://www.apollo.io/terms/api
  contact:
    name: Apollo API Support
    url: https://docs.apollo.io/
servers:
- url: https://api.apollo.io/api/v1
tags:
- name: Tasks
  description: Create and search tasks for your go-to-market workflows.
security:
- apiKey: []
- bearerAuth: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: '[Recommended] API key, passed in the `x-api-key` request header.

        See [Create API Keys](https://docs.apollo.io/docs/create-api-key).'
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth 2.0 access token, used by Apollo partners building integrations.

        See the [OAuth 2.0 authorization flow](https://docs.apollo.io/docs/use-oauth-20-authorization-flow-to-access-apollo-user-information-partners).'
paths:
  /tasks:
    post:
      summary: Create a Task
      description: '## Endpoint essentials


        **API key access:** `api/v1/tasks/create` or `Master API key`


        **OAuth scopes:** `tasks_create`


        **Credit usage:** `0 credits` — [Learn more about API pricing and credits](https://docs.apollo.io/docs/api-pricing).


        <a href="https://knowledge.apollo.io/hc/en-us/articles/28705458602125-Tasks-Overview" target="_blank">Tasks</a>
        let you track, prioritize, and help you complete actions required for your outbound sales motion.<br><br>Use
        the Create a Task endpoint to create a single task in Apollo for you and your team. Tasks help
        track the upcoming actions you need to take, such as emailing or calling a contact.<br><br>This
        endpoint returns the created task object.<br><br>Apollo does not apply deduplication  processes
        when you create a new task via the API. If your entry has the same task owner, contact, and other
        details as an existing task, Apollo will create a new task instead of updating the existing task.'
      tags:
      - Tasks
      operationId: create-a-task
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user_id
              - contact_id
              - type
              - status
              - due_at
              properties:
                user_id:
                  type: string
                  description: 'The ID for the task owner within your team''s Apollo account. This is
                    the user that will take action on the contacts. <br><br>Use the <a href="https://docs.apollo.io/reference/get-a-list-of-users"
                    target="_blank">Get a List of Users endpoint</a> to retrieve IDs for all of the users
                    within your Apollo account. <br><br>Example: `66302798d03b9601c7934ebf`'
                contact_id:
                  type: string
                  description: 'The Apollo ID for the contact that you want to be on the receiving end
                    of the action. <br><br>To find contact IDs, call the <a href="https://docs.apollo.io/reference/search-for-contacts"
                    target="_blank">Search for Contacts endpoint</a> and identify the `id` value for the
                    contact. <br><br>Example: `66e34b81740c50074e3d1bd4`'
                type:
                  type: string
                  description: 'Set the task to be 1 of the following task types. This enables the task
                    owner to know the type of action they need to take. <ul> <li> `call`: Call the contact.
                    </li> <li> `outreach_manual_email`: Email the contact. </li> <li> `linkedin_step_connect`:
                    Send a LinkedIn invitation to connect with the contact. </li> <li> `linkedin_step_message`:
                    Send a direct message to the contact''s LinkedIn profile. </li> <li> `linkedin_step_view_profile`:
                    View the contact''s LinkedIn profile. </li> <li> `linkedin_step_interact_post`: Interact
                    with the contact''s recent LinkedIn posts. </li> <li> `action_item`: Take generic
                    action for the contact. If you use this task type, Apollo recommends using the `note`
                    parameter too. </li> </ul>'
                priority:
                  type: string
                  description: 'Assign a priority to the task you are creating: <ul> <li> `high` </li>
                    <li> `medium` </li> <li> `low` </li> </ul>'
                  default: medium
                status:
                  type: string
                  description: 'The status of the task being created. For future-facing tasks, you should
                    use the `scheduled` status. <br><br>For tasks that are already completed, you can
                    use `completed` or `skipped`. <br><br>Example: `scheduled`'
                due_at:
                  type: string
                  format: date-time
                  description: 'The full date and time when the task will be due. <br><br>Your entry should
                    adhere to the <a href="https://www.rfc-editor.org/rfc/rfc3339#section-5.6" target="_blank">ISO
                    8601 date-time format</a>. Apollo uses Greenwich Mean Time (GMT) by default. If you
                    do not account for time zone differences, you could add a task due date that falls
                    on a different day than you intended. <br><br>The value you enter can either adhere
                    to GMT, or you can adjust the time manually by specifying in hours and minutes how
                    much you want to offset GMT.<br><br>Example: `2025-02-15T08:10:30Z`; `2025-03-25T10:15:30+05:00`'
                title:
                  type: string
                  description: 'A title for the task. If omitted, Apollo will display an auto-generated
                    title based on the task type and contact name. <br><br>Example: `Follow up on demo
                    request`'
                note:
                  type: string
                  description: 'Add a description for the task. This should be a human-readable message.
                    <br><br>This parameter is not required, but it is recommended as it provides the task
                    owner with more context on the action they need to take. <br><br>Example: `This contact
                    expressed interest in the Sequences feature specifically. Be prepared to discuss.`'
            examples:
              Create a call task:
                value:
                  user_id: 66302798d03b9601c7934ebf
                  contact_id: 66e34b81740c50074e3d1bd4
                  type: call
                  priority: high
                  status: scheduled
                  due_at: '2025-02-15T10:00:00Z'
                  title: Follow-up call
                  note: Discuss product demo results and next steps.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  task:
                    type: object
                    properties:
                      emailer_campaign_id: {}
                      id:
                        type: string
                        example: 66e8cc45028aed019c25d724
                      user_id:
                        type: string
                        example: 66a3d80d4238fe02d2baaaaf
                      created_at:
                        type: string
                        example: '2024-09-17T00:24:37.436Z'
                      completed_at: {}
                      note: {}
                      skipped_at: {}
                      due_at:
                        type: string
                        example: '2024-09-21T00:00:00.000+00:00'
                      type:
                        type: string
                        example: action_item
                      priority:
                        type: string
                        example: medium
                      status:
                        type: string
                        example: scheduled
                      answered: {}
                      contact_id: {}
                      person_id: {}
                      account_id: {}
                      organization_id: {}
                      persona_ids:
                        type: array
                      subject: {}
                      created_from: {}
                      salesforce_type: {}
                      playbook_step_ids:
                        type: array
                      playbook_id: {}
                      needs_playbook_autoprospecting: {}
                      starred_by_user_ids:
                        type: array
                      salesforce_id: {}
                      hubspot_id: {}
                      opportunity_id:
                        type: string
                        example: 66e8c4567f32a501b2605004
                      title:
                        type: string
                        example: Reminder - Schedule Demo Call
                      rule_config_id: {}
                      creator_id:
                        type: string
                        example: 60affe7d6e270a00f5db6fe4
                      opportunity:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 66e8c4567f32a501b2605004
                          team_id:
                            type: string
                            example: 6095a710bd01d100a506d4ac
                          owner_id:
                            type: string
                            example: 66a3d80d4238fe02d2baaaaf
                          salesforce_owner_id: {}
                          amount:
                            type: integer
                            example: 3000
                            default: 0
                          closed_date:
                            type: string
                            example: '2024-11-03T00:00:00.000+00:00'
                          account_id:
                            type: string
                            example: 612f9d6cd26c290001d9bda0
                          description: {}
                          is_closed:
                            type: boolean
                            example: false
                            default: true
                          is_won: {}
                          name:
                            type: string
                            example: 5 Seats of Acme | $2K | Google
                          stage_name: {}
                          opportunity_stage_id:
                            type: string
                            example: 66e4b9b5e5aa6b0e57f078a1
                          source:
                            type: string
                            example: ui_form
                          salesforce_id: {}
                          created_at:
                            type: string
                            example: '2024-09-16T23:50:46.311Z'
                          actual_close_date: {}
                          next_step:
                            type: string
                            example: Schedule Demo
                          next_step_date: {}
                          closed_lost_reason: {}
                          closed_won_reason: {}
                          forecast_category:
                            type: string
                            example: omitted
                          deal_probability:
                            type: integer
                            example: 50
                            default: 0
                          created_by_id:
                            type: string
                            example: 60affe7d6e270a00f5db6fe4
                          current_solutions: {}
                          deal_source: {}
                          manually_updated_probability: {}
                          manually_updated_forecast: {}
                          crm_id: {}
                          crm_record_url: {}
                          crm_owner_id: {}
                          probability: {}
                          opportunity_pipeline_id:
                            type: string
                            example: 66e4b85ce5aa6b03f3f08b6e
                          stage_updated_at:
                            type: string
                            example: '2024-09-17T16:44:07.133+00:00'
                          next_step_last_updated_at:
                            type: string
                            example: '2024-09-17T00:03:13.420+00:00'
                          exchange_rate_code:
                            type: string
                            example: USD
                          exchange_rate_value:
                            type: integer
                            example: 1
                            default: 0
                          amount_in_team_currency:
                            type: integer
                            example: 3000
                            default: 0
                          forecasted_revenue:
                            type: integer
                            example: 1500
                            default: 0
                          last_activity_date:
                            type: string
                            example: '2024-09-17T16:44:07.134Z'
                          existence_level:
                            type: string
                            example: full
                          typed_custom_fields:
                            type: object
                            properties:
                              6095a711bd01d100a506d4da:
                                type: array
                                items:
                                  type: string
                                  example: 6153414ac0559d00016ce5eb
                              6095a711bd01d100a506d4dc:
                                type: array
                                items:
                                  type: string
                                  example: 6153414ac0559d00016ce5f3
                              66e4ba346fe95a073461e00e:
                                type: array
                                items:
                                  type: string
                                  example: 66e4ba346fe95a073461e00c
                          opportunity_rule_config_statuses:
                            type: array
                          opportunity_contact_roles:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: 66e8c9d7320e8a01b44f1e82
                                contact_id:
                                  type: string
                                  example: 665c3338da53130001243ac4
                                is_primary:
                                  type: boolean
                                  example: true
                                  default: true
                                created_at:
                                  type: string
                                  example: '2024-09-17T00:14:15.655Z'
                                updated_at:
                                  type: string
                                  example: '2024-09-17T00:14:15.655Z'
                                role:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      opportunity_contact_role_type_id:
                                        type: string
                                        example: 64288550ffb0470001cbf2b0
                                      crm_role_id: {}
                                      is_primary:
                                        type: boolean
                                        example: true
                                        default: true
                                      crm_id: {}
                          currency:
                            type: object
                            properties:
                              name:
                                type: string
                                example: US Dollar
                              iso_code:
                                type: string
                                example: USD
                              symbol:
                                type: string
                                example: $
                          account:
                            type: object
                            properties:
                              id:
                                type: string
                                example: 612f9d6cd26c290001d9bda0
                              domain:
                                type: string
                                example: google.com
                              name:
                                type: string
                                example: Google
                              team_id:
                                type: string
                                example: 6095a710bd01d100a506d4ac
                              organization_id:
                                type: string
                                example: 5fc93db64c38d300d6aa24e6
                              account_stage_id:
                                type: string
                                example: 6095a710bd01d100a506d4b9
                              source:
                                type: string
                                example: csv_import
                              original_source:
                                type: string
                                example: csv_import
                              creator_id: {}
                              owner_id: {}
                              created_at:
                                type: string
                                example: '2021-09-01T15:34:04.371Z'
                              phone: {}
                              phone_status:
                                type: string
                                example: no_status
                              hubspot_id: {}
                              salesforce_id: {}
                              crm_owner_id: {}
                              parent_account_id: {}
                              linkedin_url: {}
                              account_playbook_statuses:
                                type: array
                              account_rule_config_statuses:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    _id:
                                      type: string
                                      example: 6466e8047759270001e53509
                                    created_at: {}
                                    rule_action_config_id:
                                      type: string
                                      example: 64650edd434f8f00a3b13938
                                    rule_config_id:
                                      type: string
                                      example: 64650edd434f8f00a3b13939
                                    status_cd:
                                      type: string
                                      example: completed
                                    updated_at: {}
                                    id:
                                      type: string
                                      example: 6466e8047759270001e53509
                                    key:
                                      type: string
                                      example: 6466e8047759270001e53509
                              existence_level:
                                type: string
                                example: full
                              label_ids:
                                type: array
                                items:
                                  type: string
                                  example: 6466e8261e13be000133f25d
                              typed_custom_fields:
                                type: object
                                properties: {}
                              custom_field_errors: {}
                              modality:
                                type: string
                                example: account
                              source_display_name:
                                type: string
                                example: Uploaded from CSV
                              crm_record_url: {}
                              contact_emailer_campaign_ids:
                                type: array
                              contact_campaign_status_tally:
                                type: object
                                properties: {}
                              num_contacts:
                                type: integer
                                example: 0
                                default: 0
                              last_activity_date: {}
              examples:
                Result:
                  value:
                    task:
                      emailer_campaign_id: null
                      id: 67a1b2c3d4e5f60001234567
                      user_id: 66302798d03b9601c7934ebf
                      created_at: '2025-02-03T15:30:00.000Z'
                      completed_at: null
                      note: Discuss product demo results and next steps.
                      skipped_at: null
                      due_at: '2025-02-15T10:00:00.000+00:00'
                      type: call
                      priority: high
                      status: scheduled
                      answered: null
                      contact_id: 66e34b81740c50074e3d1bd4
                      person_id: 66e34b81740c50074e3d1bd5
                      account_id: 612f9d6cd26c290001d9bda0
                      organization_id: 5fc93db64c38d300d6aa24e6
                      persona_ids: []
                      subject: null
                      created_from: api
                      salesforce_type: null
                      playbook_step_ids: []
                      playbook_id: null
                      needs_playbook_autoprospecting: null
                      starred_by_user_ids: []
                      salesforce_id: null
                      hubspot_id: null
                      opportunity_id: null
                      title: Follow-up call with John Smith
                      rule_config_id: null
                      creator_id: 66302798d03b9601c7934ebf
                      contact:
                        id: 66e34b81740c50074e3d1bd4
                        first_name: John
                        last_name: Smith
                        name: John Smith
                        linkedin_url: https://www.linkedin.com/in/john-smith-6b2d9f84
                        title: VP of Sales
                        email: john.smith@example.com
                        organization_name: Example Corp
                        photo_url: null
                        twitter_url: null
                        github_url: null
                        facebook_url: null
                        account_id: 612f9d6cd26c290001d9bda0
                        owner_id: 66302798d03b9601c7934ebf
                        created_at: '2024-09-12T18:45:21.456Z'
                        present_raw_address: San Francisco, CA
                        city: San Francisco
                        state: California
                        country: United States
                        email_status: verified
                      account:
                        id: 612f9d6cd26c290001d9bda0
                        name: Example Corp
                        domain: example.com
                        team_id: 6095a710bd01d100a506d4ac
                        organization_id: 5fc93db64c38d300d6aa24e6
                        owner_id: 66302798d03b9601c7934ebf
                        created_at: '2021-09-01T15:34:04.371Z'
                        phone: +1 (555) 555-0164
                        phone_status: no_status
                        linkedin_url: https://www.linkedin.com/company/example-corp
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Check API key:
                  value: Invalid API key. See https://docs.apollo.io/reference/authentication for how
                    to authenticate.
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Need master API key:
                  value: "{\n  \"error\": \"This API key is not authorized to access api/v1/tasks. Request\
                    \ an API key from your administrator that includes this endpoint in its configured\
                    \ scope.\",\n  \"error_code\": \"API_INACCESSIBLE\"\n}"
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: This API key is not authorized to access api/v1/tasks. Request an API key
                      from your administrator that includes this endpoint in its configured scope.
                  error_code:
                    type: string
                    example: API_INACCESSIBLE
        '422':
          description: '422'
          content:
            application/json:
              examples:
                Missing required fields:
                  value: "{\n  \"error\": \"type and user can not be blank\"\n}"
              schema:
                type: object
                properties:
                  error:
                    type: string
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Too many requests:
                  value: "{\n  \"message\": \"The maximum number of api calls allowed for api/v1/tasks\
                    \ is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.\"\
                    \n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
      deprecated: false
  /tasks/bulk_create:
    post:
      summary: Bulk Create Tasks
      description: '## Endpoint essentials


        **API key access:** `api/v1/tasks/bulk_create` or `Master API key`


        **OAuth scopes:** `tasks_create`


        **Credit usage:** `0 credits` — [Learn more about API pricing and credits](https://docs.apollo.io/docs/api-pricing).


        **Authentication note:** Shares scope with `tasks/create`.


        <a href="https://knowledge.apollo.io/hc/en-us/articles/28705458602125-Tasks-Overview" target="_blank">Tasks</a>
        let you track, prioritize, and help you complete actions required for your outbound sales motion.<br><br>Use
        the Bulk Create Tasks endpoint to create multiple tasks in a single API request. A separate task
        will be created for each contact provided. <br><br>This endpoint returns a `success` boolean and
        a `tasks` array containing the created tasks. <br><br>Apollo doesn''t apply deduplication processes
        when you create a new task via the API. If your entry has the same task owner, contact, and other
        details as an existing task, Apollo creates a new task instead of updating the existing task.
        <br><br>For creating a single task, use the <a href="https://docs.apollo.io/reference/create-a-task">Create
        a Task endpoint</a> instead.'
      tags:
      - Tasks
      operationId: bulk-create-tasks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user_id
              - contact_ids
              - type
              - status
              - due_at
              properties:
                user_id:
                  type: string
                  description: 'The ID for the task owner within your team''s Apollo account. This is
                    the user that will take action on the contacts. <br><br>Use the <a href="https://docs.apollo.io/reference/get-a-list-of-users"
                    target="_blank">Get a List of Users endpoint</a> to retrieve IDs for all of the users
                    within your Apollo account. <br><br>Example: `66302798d03b9601c7934ebf`'
                contact_ids:
                  type: array
                  items:
                    type: string
                  description: 'The Apollo IDs for the contacts that you want to be on the receiving end
                    of the action. <br><br>If you add multiple contact IDs, individual tasks will be created
                    for each of the contacts using the same task type, due date, and other details. <br><br>To
                    find contact IDs, call the <a href="https://docs.apollo.io/reference/search-for-contacts"
                    target="_blank">Search for Contacts endpoint</a> and identify the `id` value for the
                    contact. <br><br>Example: `66e34b81740c50074e3d1bd4`'
                type:
                  type: string
                  description: 'Set the task to be 1 of the following task types. This enables the task
                    owner to know the type of action they need to take. <ul> <li> `call`: Call the contacts.
                    </li> <li> `outreach_manual_email`: Email the contacts. </li> <li> `linkedin_step_connect`:
                    Send a LinkedIn invitation to connect with the contacts. </li> <li> `linkedin_step_message`:
                    Send a direct message to the contacts'' LinkedIn profiles. </li> <li> `linkedin_step_view_profile`:
                    View the contacts'' LinkedIn profiles. </li> <li> `linkedin_step_interact_post`: Interact
                    with the contacts'' recent LinkedIn posts. </li> <li> `action_item`: Take generic
                    action for the contacts. If you use this task type, Apollo recommends using the `note`
                    parameter too. </li> </ul>'
                priority:
                  type: string
                  description: 'Assign a priority to the task you are creating: <ul> <li> `high` </li>
                    <li> `medium` </li> <li> `low` </li> </ul>'
                  default: medium
                status:
                  type: string
                  description: 'The status of the task being created. For future-facing tasks, you should
                    use the `scheduled` status. <br><br>For tasks that are already completed, you can
                    use `completed` or `skipped`. <br><br>Example: `scheduled`'
                due_at:
                  type: string
                  format: date-time
                  description: 'The full date and time when the task will be due. <br><br>Your entry should
                    adhere to the <a href="https://www.rfc-editor.org/rfc/rfc3339#section-5.6" target="_blank">ISO
                    8601 date-time format</a>. Apollo uses Greenwich Mean Time (GMT) by default. If you
                    do not account for time zone differences, you could add a task due date that falls
                    on a different day than you intended. <br><br>The value you enter can either adhere
                    to GMT, or you can adjust the time manually by specifying in hours and minutes how
                    much you want to offset GMT.<br><br>Example: `2025-02-15T08:10:30Z`; `2025-03-25T10:15:30+05:00`'
                note:
                  type: string
                  description: 'Add a description for the task. This should be a human-readable message.
                    <br><br>This parameter is not required, but it is recommended as it provides the task
                    owner with more context on the action they need to take. <br><br>Example: `This contact
                    expressed interest in the Sequences feature specifically. Be prepared to discuss.`'
            examples:
              Create call tasks for multiple contacts:
                value:
                  user_id: 66302798d03b9601c7934ebf
                  contact_ids:
                  - 66e34b81740c50074e3d1bd4
                  - 66e34b81740c50074e3d1bd5
                  - 66e34b81740c50074e3d1bd6
                  type: call
                  priority: high
                  status: scheduled
                  due_at: '2025-02-15T10:00:00Z'
                  note: Follow up on demo request.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  tasks:
                    type: array
                    items:
                      type: object
                      properties:
                        emailer_campaign_id: {}
                        id:
                          type: string
                          example: 66e8cc45028aed019c25d724
                        user_id:
                          type: string
                          example: 66a3d80d4238fe02d2baaaaf
                        created_at:
                          type: string
                          example: '2024-09-17T00:24:37.436Z'
                        completed_at: {}
                        note: {}
                        skipped_at: {}
                        due_at:
                          type: string
                          example: '2024-09-21T00:00:00.000+00:00'
                        type:
                          type: string
                          example: action_item
                        priority:
                          type: string
                          example: medium
                        status:
                          type: string
                          example: scheduled
                        answered: {}
                        contact_id: {}
                        person_id: {}
                        account_id: {}
                        organization_id: {}
                        persona_ids:
                          type: array
                        subject: {}
                        created_from: {}
                        salesforce_type: {}
                        playbook_step_ids:
                          type: array
                        playbook_id: {}
                        needs_playbook_autoprospecting: {}
                        starred_by_user_ids:
                          type: array
                        salesforce_id: {}
                        hubspot_id: {}
                        opportunity_id:
                          type: string
                          example: 66e8c4567f32a501b2605004
                        title:
                          type: string
                          example: Reminder - Schedule Demo Call
                        rule_config_id: {}
                        creator_id:
                          type: string
                          example: 60affe7d6e270a00f5db6fe4
                        opportunity:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 66e8c4567f32a501b2605004
                            team_id:
                              type: string
                              example: 6095a710bd01d100a506d4ac
                            owner_id:
                              type: string
                              example: 66a3d80d4238fe02d2baaaaf
                            salesforce_owner_id: {}
                            amount:
                              type: integer
                              example: 3000
                              default: 0
                            closed_date:
                              type: string
                              example: '2024-11-03T00:00:00.000+00:00'
                            account_id:
                              type: string
                              example: 612f9d6cd26c290001d9bda0
                            description: {}
                            is_closed:
                              type: boolean
                              example: false
                              default: true
                            is_won: {}
                            name:
                              type: string
                              example: 5 Seats of Acme | $2K | Google
                            stage_name: {}
                            opportunity_stage_id:
                              type: string
                              example: 66e4b9b5e5aa6b0e57f078a1
                            source:
                              type: string
                              example: ui_form
                            salesforce_id: {}
                            created_at:
                              type: string
                              example: '2024-09-16T23:50:46.311Z'
                            actual_close_date: {}
                            next_step:
                              type: string
                              example: Schedule Demo
                            next_step_date: {}
                            closed_lost_reason: {}
                            closed_won_reason: {}
                            forecast_category:
                              type: string
                              example: omitted
                            deal_probability:
                              type: integer
                              example: 50
                              default: 0
                            created_by_id:
                              type: string
                              example: 60affe7d6e270a00f5db6fe4
                            current_solutions: {}
                            deal_source: {}
                            manually_updated_probability: {}
                            manually_updated_forecast: {}
                            crm_id: {}
                            crm_record_url: {}
                            crm_owner_id: {}
                            probability: {}
                            opportunity_pipeline_id:
                              type: string
                              example: 66e4b85ce5aa6b03f3f08b6e
                            stage_updated_at:
                              type: string
                              example: '2024-09-17T16:44:07.133+00:00'
                            next_step_last_updated_at:
                              type: string
                              example: '2024-09-17T00:03:13.420+00:00'
                            exchange_rate_code:
                              type: string
                              example: USD
                            exchange_rate_value:
                              type: integer
                              example: 1
                              default: 0
                            amount_in_team_currency:
                              type: integer
                              example: 3000
                              default: 0
                            forecasted_revenue:
                              type: integer
                              example: 1500
                              default: 0
                            last_activity_date:
                              type: string
                              example: '2024-09-17T16:44:07.134Z'
                            existence_level:
                              type: string
                              example: full
                            typed_custom_fields:
                              type: object
                              properties:
                                6095a711bd01d100a506d4da:
                                  type: array
                                  items:
                                    type: string
                                    example: 6153414ac0559d00016ce5eb
                                6095a711bd01d100a506d4dc:
                                  type: array
                                  items:
                                    type: string
                                    example: 6153414ac0559d00016ce5f3
                                66e4ba346fe95a073461e00e:
                                  type: array
                                  items:
                                    type: string
                                    example: 66e4ba346fe95a073461e00c
                            opportunity_rule_config_statuses:
                              type: array
                            opportunity_contact_roles:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    example: 66e8c9d7320e8a01b44f1e82
                                  contact_id:
                                    type: string
                                    example: 665c3338da53130001243ac4
                                  is_primary:
                                    type: boolean
                                    example: true
                                    default: true
                                  created_at:
                                    type: string
                                    example: '2024-09-17T00:14:15.655Z'
                                  updated_at:
                                    type: string
                                    example: '2024-09-17T00:14:15.655Z'
                                  role:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        opportunity_contact_role_type_id:
                                          type: string
                                          example: 64288550ffb0470001cbf2b0
                                        crm_role_id: {}
                                        is_primary:
                                          type: boolean
                                          example: true
                                          default: true
                                        crm_id: {}
                            currency:
                              type: object
                              properties:
                                name:
                                  type: string
                                  example: US Dollar
                                iso_code:
                                  type: string
                                  example: USD
                                symbol:
                                  type: string
                                  example: $
                            account:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: 612f9d6cd26c290001d9bda0
                                domain:
                                  type: string
                                  example: google.com
                                name:
                                  type: string
                                  example: Google
                                team_id:
                                  type: string
                                  example: 6095a710bd01d100a506d4ac
                                organization_id:
                                  type: string
                                  example: 5fc93db64c38d300d6aa24e6
                                account_stage_id:
                                  type: string
                                  example: 6095a710bd01d100a506d4b9
                                source:
                                  type: string
                                  example: csv_import
                                original_source:
                                  type: string
                                  example: csv_import
                                creator_id: {}
                                owner_id: {}
                                created_at:
                                  type: string
                                  example: '2021-09-01T15:34:04.371Z'
                                phone: {}
                                phone_status:
                                  type: string
                                  example: no_status
                                hubspot_id: {}
                                salesforce_id: {}
                                crm_owner_id: {}
                                parent_account_id: {}
                                linkedin_url: {}
                                account_playbook_statuses:
                                  type: array
                                account_rule_config_statuses:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      _id:
                                        type: string
                                        example: 6466e8047759270001e53509
                                      created_at: {}
                                      rule_action_config_id:
                                        type: string
                                        example: 64650edd434f8f00a3b13938
                                      rule_config_id:
                                        type: string
                                        example: 64650edd434f8f00a3b13939
                                      status_cd:
                                        type: string
                                        example: completed
                                      updated_at: {}
                                      id:
                                        type: string
                                        example: 6466e8047759270001e53509
                                      key:
                                        type: string
                                        example: 6466e8047759270001e53509
                                existence_level:
                                  type: string
                                  example: full
                                label_ids:
                                  type: array
                                  items:
                                    type: string
                                    example: 6466e8261e13be000133f25d
                                typed_custom_fields:
                                  type: object
                                  properties: {}
                                custom_field_errors: {}
                                modality:
                                  type: string
                                  example: account
                                source_display_name:
                                  type: string
                                  example: Uploaded from CSV
                                crm_record_url: {}
                                contact_emailer_campaign_ids:
                                  type: array
                                contact_campaign_status_tally:
                                  type: object
                                  properties: {}
                                num_contacts:
                                  type: integer
                                  example: 0
                                  default: 0
                                last_activity_date: {}
              examples:
                Result:
                  value:
                    success: true
                    tasks:
                    - emailer_campaign_id: null
                      id: 67a1b2c3d4e5f60001234567
                      user_id: 66302798d03b9601c7934ebf
                      created_at: '2025-02-03T15:30:00.000Z'
                      completed_at: null
                      note: Discuss product demo results and next steps.
                      skipped_at: null
                      due_at: '2025-02-15T10:00:00.000+00:00'
                      type: call
                      priority: high
                      status: scheduled
                      answered: null
                      contact_id: 66e34b81740c50074e3d1bd4
                      person_id: 66e34b81740c50074e3d1bd5
                      account_id: 612f9d6cd26c290001d9bda0
                      organization_id: 5fc93db64c38d300d6aa24e6
                      persona_ids: []
                      subject: null
                      created_from: api
                      salesforce_type: null
                      playbook_step_ids: []
                      playbook_id: null
                      needs_playbook_autoprospecting: null
                      starred_by_user_ids: []
                      salesforce_id: null
                      hubspot_id: null
                      opportunity_id: null
                      title: Follow-up call with John Smith
                      rule_config_id: null
                      creator_id: 66302798d03b9601c7934ebf
                      contact:
                        id: 66e34b81740c50074e3d1bd4
                        first_name: John
                        last_name: Smith
                        name: John Smith
                        linkedin_url: https://www.linkedin.com/in/john-smith-6b2d9f84
                        title: VP of Sales
                        email: john.smith@example.com
                        organization_name: Example Corp
                        photo_url: null
                        twitter_url: null
                        github_url: null
                        facebook_url: null
                        account_id: 612f9d6cd26c290001d9bda0
                        owner_id: 66302798d03b9601c7934ebf
                        created_at: '2024-09-12T18:45:21.456Z'
                        present_raw_address: San Francisco, CA
                        city: San Francisco
                        state: California
                        country: United States
                        email_status: verified
                      account:
                        id: 612f9d6cd26c290001d9bda0
                        name: Example Corp
                        domain: example.com
                        team_id: 6095a710bd01d100a506d4ac
                        organization_id: 5fc93db64c38d300d6aa24e6
                        owner_id: 66302798d03b9601c7934ebf
                        created_at: '2021-09-01T15:34:04.371Z'
                        phone: +1 (555) 555-0164
                        phone_status: no_status
                        linkedin_url: https://www.linkedin.com/company/example-corp
                    - emailer_campaign_id: null
                      id: 67a1b2c3d4e5f60001234568
                      user_id: 66302798d03b9601c7934ebf
                      created_at: '2025-02-03T15:30:00.000Z'
                      completed_at: null
                      note: Discuss product demo results and next steps.
                      skipped_at: null
                      due_at: '2025-02-15T10:00:00.000+00:00'
                      type: call
                      priority: high
                      status: scheduled
                      answered: null
                      contact_id: 66e34b81740c50074e3d1bd5
                      person_id: 66e34b81740c50074e3d1bd5
                      account_id: 612f9d6cd26c290001d9bda0
                      organization_id: 5fc93db64c38d300d6aa24e6
                      persona_ids: []
                      subject: null
                      created_from: api
                      salesforce_type: null
                      playbook_step_ids: []
                      playbook_id: null
                      needs_playbook_autoprospecting: null
                      starred_by_user_ids: []
                      salesforce_id: null
                      hubspot_id: null
                      opportunity_id: null
                      title: Follow-up call with Jane Doe
                      rule_config_id: null
                      creator_id: 66302798d03b9601c7934ebf
                      contact:
                        id: 66e34b81740c50074e3d1bd5
                        first_name: Jane
                        last_name: Doe
                        name: Jane Doe
                        linkedin_url: https://www.linkedin.com/in/john-smith-6b2d9f84
                        title: Director of Marketing
                        email: jane.doe@example.com
                        organization_name: Example Corp
                        photo_url: null
                        twitter_url: null
                        github_url: null
                        facebook_url: null
                        account_id: 612f9d6cd26c290001d9bda0
                        owner_id: 66302798d03b9601c7934ebf
                        created_at: '2024-09-12T18:45:21.456Z'
                        present_raw_address: San Francisco, CA
                        city: San Francisco
                        state: California
                        country: United States
                        email_status: verified
                      account:
                        id: 612f9d6cd26c290001d9bda0
                        name: Example Corp
                        domain: example.com
                        team_id: 6095a710bd01d100a506d4ac
                        organization_id: 5fc93db64c38d300d6aa24e6
                        owner_id: 66302798d03b9601c7934ebf
                        created_at: '2021-09-01T15:34:04.371Z'
                        phone: +1 (555) 555-0164
                        phone_status: no_status
                        linkedin_url: https://www.linkedin.com/company/example-corp
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Check API key:
                  value: Invalid API key. See https://docs.apollo.io/reference/authentication for how
                    to authenticate.
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Need master API key:
                  value: "{\n  \"error\": \"This API key is not authorized to access api/v1/tasks/bulk_create.\
                    \ Request an API key from your administrator that includes this endpoint in its configured\
                    \ scope.\",\n  \"error_code\": \"API_INACCESSIBLE\"\n}"
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: This API key is not authorized to access api/v1/tasks/bulk_create. Request
                      an API key from your administrator that includes this endpoint in its configured
                      scope.
                  error_code:
                    type: string
                    example: API_INACCESSIBLE
        '422':
          description: '422'
          content:
            application/json:
              examples:
                Missing required fields:
                  value: "{\n  \"error\": \"type and user can not be blank\"\n}"
              schema:
                type: object
                properties:
                  error:
                    type: string
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Too many requests:
                  value: "{\n  \"message\": \"The maximum number of api calls allowed for api/v1/tasks/bulk_create\
                    \ is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.\"\
                    \n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The maximum number of api calls allowed for api/v1/tasks/bulk_create is 600
                      times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.
      deprecated: false
  /tasks/{id}:
    get:
      summary: Get a Task
      description: '## Endpoint essentials


        **API key access:** `api/v1/tasks/show` or `Master API key`


        **OAuth scopes:** `tasks_list`


        **Credit usage:** `0 credits` — [Learn more about API pricing and credits](https://docs.apollo.io/docs/api-pricing).


        <a href="https://knowledge.apollo.io/hc/en-us/articles/28705458602125-Tasks-Overview" target="_blank">Tasks</a>
        let you track, prioritize, and help you complete actions required for your outbound sales motion.<br><br>Use
        the Get a Task endpoint to retrieve the full details for a single task that belongs to your team''s
        Apollo account.<br><br>The response includes the task''s associated <a href="https://docs.apollo.io/reference/view-an-account">account</a>
        and <a href="https://docs.apollo.io/reference/view-a-contact">contact</a> when the task has one
        attached. Depending on the task''s `type` and how it was created, the response can also include
        additional fields, such as `phone_call` for call tasks, `emailer_message` for email tasks, or
        a LinkedIn message template for LinkedIn-step tasks.<br><br>To find task IDs, use the <a href="https://docs.apollo.io/reference/search-tasks">Search
        for Tasks endpoint</a> and identify the `id` value for the task you want to view.<br><br>To create
        a task, use the <a href="https://docs.apollo.io/reference/create-a-task">Create a Task endpoint</a>
        instead.'
      tags:
      - Tasks
      operationId: get-a-task
      parameters:
      - name: id
        in: path
        description: 'The Apollo ID for the task. <br><br>To find task IDs, call the <a href="https://docs.apollo.io/reference/search-tasks">Search
          for Tasks endpoint</a> and identify the `id` value for the task. <br><br>Example: `67a1b2c3d4e5f60001234567`'
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  task:
                    type: object
                    properties:
                      emailer_campaign_id: {}
                      id:
                        type: string
                        example: 66e8cc45028aed019c25d724
                      user_id:
                        type: string
                        example: 66a3d80d4238fe02d2baaaaf
                      created_at:
                        type: string
                        example: '2024-09-17T00:24:37.436Z'
                      completed_at: {}
                      note: {}
                      skipped_at: {}
                      due_at:
                        type: string
                        example: '2024-09-21T00:00:00.000+00:00'
                      type:
                        type: string
                        example: action_item
                      priority:
                        type: string
                        example: medium
                      status:
                        type: string
                        example: scheduled
                      answered: {}
                      contact_id: {}
                      person_id: {}
                      account_id: {}
                      organization_id: {}
                      persona_ids:
                        type: array
                      subject: {}
                      created_from: {}
                      salesforce_type: {}
                      playbook_step_ids:
                        type: array
                      playbook_id: {}
                      needs_playbook_autoprospecting: {}
                      starred_by_user_ids:
                        type: array
                      salesforce_id: {}
                      hubspot_id: {}
                      opportunity_id:
                        type: string
                        example: 66e8c4567f32a501b2605004
                      title:
                        type: string
                        example: Reminder - Schedule Demo Call
                      rule_config_id: {}
                      creator_id:
                        type: string
                        example: 60affe7d6e270a00f5db6fe4
                      completed_by_user_id: {}
                      call_script: {}
                      relevant_fields: {}
                      pending_send:
                        type: boolean
                        example: false
                      ai_variables_status: {}
                      recommended:
                        type: boolean
                        example: false
                      recommendation_reasons:
                        type: array
                      note_text:
                        type: string
                        example: ''
                        description: Plain-text version of `note`, with HTML tags stripped. Only present
                          for `call` tasks.
                      phone_call:
                        type: object
                        description: Details about the logged phone call for this task. Only present for
                          `call` type tasks that have an associated call log.
                        properties:
                          id:
                            type: string
                            example: 66e8cc45028aed019c25d720
                          answered:
                            type: boolean
                            example: true
                          created_at:
                            type: string
                            example: '2024-09-17T00:24:37.436Z'
                          phone_call_outcome_id: {}
                          phone_call_purpose_id: {}
                          to_number:
                            type: string
                            example: +1 (555) 555-****
                            description: The number that was called. May be partially masked depending
                              on your team's phone number redaction settings.
                      account:
                        type: object
                        description: The account associated with this task, when the task has one. Includes
                          the same fields as the <a href="https://docs.apollo.io/reference/view-an-account">View
                          an Account</a> endpoint's response, plus `linkedin_uid` and `account_queues`.
                        properties:
                          id:
                            type: string
                            example: 612f9d6cd26c290001d9bda0
                          name:
                            type: string
                            example: Example Corp
                          website_url:
                            type: string
                            example: http://www.example.com
                          domain:
                            type: string
                            example: example.com
                          linkedin_url:
                            type: string
                            example: https://www.linkedin.com/company/example-corp
                          linkedin_uid:
                            type: string
                            example: '18511550'
                          phone:
                            type: string
                            example: +1 (555) 555-0164
                          phone_status:
                            type: string
                            example: no_status
                          owner_id:
                            type: string
                            example: 66302798d03b9601c7934ebf
                          account_stage_id: {}
                          organization_id:
                            type: string
                            example: 5fc93db64c38d300d6aa24e6
                          industry:
                            type: string
                            example: information technology & services
                          estimated_num_employees:
                            type: integer
                            example: 910
                          label_ids:
                            type: array
                          typed_custom_fields:
                            type: object
                          account_queues:
                            type: array
                            description: Play/account-queue memberships for this account.
                          created_at:
                            type: string
                            example: '2021-09-01T15:34:04.371Z'
                      contact:
                        type: object
                        description: The contact associated with this task, when the task has one. Includes
                          the same fields as the <a href="https://docs.apollo.io/reference/view-a-contact">View
                          a Contact</a> endpoint's response.
                        properties:
                          id:
                            type: string
                            example: 66e34b81740c50074e3d1bd4
                          first_name:
                            type: string
                            example: John
                          last_name:
                            type: string
                            example: Smith
                          name:
                            type: string
                            example: John Smith
                          email:
                            type: string
                            example: john.smith@example.com
                          title:
                            type: string
                            example: VP of Sales
                          organization_name:
                            type: string
                            example: Example Corp
                          account_id:
                            type: string
                            example: 612f9d6cd26c290001d9bda0
                          owner_id:
                            type: string
                            example: 66302798d03b9601c7934ebf
                          contact_stage_id: {}
                          linkedin_url:
                            type: string
                            example: https://www.linkedin.com/in/john-smith-6b2d9f84
                          phone_numbers:
                            type: array
                          contact_emails:
                            type: array
                            description: All known email addresses for this contact, with per-address
                              verification status.
                          typed_custom_fields:
                            type: object
                          label_ids:
                            type: array
                          created_at:
                            type: string
                            example: '2024-09-12T18:45:21.456Z'
                          updated_at:
                            type: string
                            example: '2024-09-17T00:24:37.436Z'
                      opportunity:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 66e8c4567f32a501b2605004
                          team_id:
                            type: string
                            example: 6095a710bd01d100a506d4ac
                          owner_id:
                            type: string
                            example: 66a3d80d4238fe02d2baaaaf
                          salesforce_owner_id: {}
                          amount:
                            type: integer
                            example: 3000
                            default: 0
                          closed_date:
                            type: string
                            example: '2024-11-03T00:00:00.000+00:00'
                          account_id:
                            type: string
                            example: 612f9d6cd26c290001d9bda0
                          description: {}
                          is_closed:
                            type: boolean
                            example: false
                            default: true
                          is_won: {}
                          name:
                            type: string
                            example: 5 Seats of Acme | $2K | Google
                          stage_name: {}
                          opportunity_stage_id:
                            type: string
                            example: 66e4b9b5e5aa6b0e57f078a1
                          source:
                            type: string
                            example: ui_form
                          salesforce_id: {}
                          created_at:
                            type: string
                            example: '2024-09-16T23:50:46.311Z'
                          actual_close_date: {}
                          next_step:
                            type: string
                            example: Schedule Demo
                          next_step_date: {}
                          closed_lost_reason: {}
                          closed_won_reason: {}
                          forecast_category:
                            type: string
                            example: omitted
                          deal_probability:
                            type: integer
                            example: 50
                            default: 0
                          created_by_id:
                            type: string
                            example: 60affe7d6e270a00f5db6fe4
                          current_solutions: {}
                          deal_source: {}
                          manually_updated_probability: {}
                          manually_updated_forecast: {}
                          crm_id: {}
                          crm_record_url: {}
                          crm_owner_id: {}
                          probability: {}
                          opportunity_pipeline_id:
                            type: string
                            example: 66e4b85ce5aa6b03f3f08b6e
                          stage_updated_at:
                            type: string
                            example: '2024-09-17T16:44:07.133+00:00'
                          next_step_last_updated_at:
                            type: string
                            example: '2024-09-17T00:03:13.420+00:00'
                          exchange_rate_code:
                            type: string
                            example: USD
                          exchange_rate_value:
                            type: integer
                            example: 1
                            default: 0
                          amount_in_team_currency:
                            type: integer
                            example: 3000
                            default: 0
                          forecasted_revenue:
                            type: integer
                            example: 1500
                            default: 0
                          last_activity_date:
                            type: string
                            example: '2024-09-17T16:44:07.134Z'
                          existence_level:
                            type: string
                            example: full
                          typed_custom_fields:
                            type: object
                            properties:
                              6095a711bd01d100a506d4da:
                                type: array
                                items:
                                  type: string
                                  example: 6153414ac0559d00016ce5eb
                              6095a711bd01d100a506d4dc:
                                type: array
                                items:
                                  type: string
                                  example: 6153414ac0559d00016ce5f3
                              66e4ba346fe95a073461e00e:
                                type: array
                                items:
                                  type: string
                                  example: 66e4ba346fe95a073461e00c
                          opportunity_rule_config_statuses:
                            type: array
                          opportunity_contact_roles:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: 66e8c9d7320e8a01b44f1e82
                                contact_id:
                                  type: string
                                  example: 665c3338da53130001243ac4
                                is_primary:
                                  type: boolean
                                  example: true
                                  default: true
                                created_at:
                                  type: string
                                  example: '2024-09-17T00:14:15.655Z'
                                updated_at:
                                  type: string
                                  example: '2024-09-17T00:14:15.655Z'
                                role:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      opportunity_contact_role_type_id:
                                        type: string
                                        example: 64288550ffb0470001cbf2b0
                                      crm_role_id: {}
                                      is_primary:
                                        type: boolean
                                        example: true
                                        default: true
                                      crm_id: {}
                          currency:
                            type: object
                            properties:
                              name:
                                type: string
                                example: US Dollar
                              iso_code:
                                type: string
                                example: USD
                              symbol:
                                type: string
                                example: $
                          account:
                            type: object
                            properties:
                              id:
                                type: string
                                example: 612f9d6cd26c290001d9bda0
                              domain:
                                type: string
                                example: google.com
                              name:
                                type: string
                                example: Google
                              team_id:
                                type: string
                                example: 6095a710bd01d100a506d4ac
                              organization_id:
                                type: string
                                example: 5fc93db64c38d300d6aa24e6
                              account_stage_id:
                                type: string
                                example: 6095a710bd01d100a506d4b9
                              source:
                                type: string
                                example: csv_import
                              original_source:
                                type: string
                                example: csv_import
                              creator_id: {}
                              owner_id: {}
                              created_at:
                                type: string
                                example: '2021-09-01T15:34:04.371Z'
                              phone: {}
                              phone_status:
                                type: string
                                example: no_status
                              hubspot_id: {}
                              salesforce_id: {}
                              crm_owner_id: {}
                              parent_account_id: {}
                              linkedin_url: {}
                              account_playbook_statuses:
                                type: array
                              account_rule_config_statuses:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    _id:
                                      type: string
                                      example: 6466e8047759270001e53509
                                    created_at: {}
                                    rule_action_config_id:
                                      type: string
                                      example: 64650edd434f8f00a3b13938
                                    rule_config_id:
                                      type: string
                                      example: 64650edd434f8f00a3b13939
                                    status_cd:
                                      type: string
                                      example: completed
                                    updated_at: {}
                                    id:
                                      type: string
                                      example: 6466e8047759270001e53509
                                    key:
                                      type: string
                                      example: 6466e8047759270001e53509
                              existence_level:
                                type: string
                                example: full
                              label_ids:
                                type: array
                                items:
                                  type: string
                                  example: 6466e8261e13be000133f25d
                              typed_custom_fields:
                                type: object
                                properties: {}
                              custom_field_errors: {}
                              modality:
                                type: string
                                example: account
                              source_display_name:
                                type: string
                                example: Uploaded from CSV
                              crm_record_url: {}
                              contact_emailer_campaign_ids:
                                type: array
                              contact_campaign_status_tally:
                                type: object
                                properties: {}
                              num_contacts:
                                type: integer
                                example: 0
                                default: 0
                              last_activity_date: {}
                      relevant_field_values:
                        type: object
                        description: Values for any team-defined relevant fields configured on this task's
                          playbook step, keyed by field name.
              examples:
                OK:
                  value:
                    task:
                      emailer_campaign_id: null
                      id: 67a1b2c3d4e5f60001234567
                      user_id: 66302798d03b9601c7934ebf
                      created_at: '2024-09-12T18:45:21.456Z'
                      completed_at: null
                      note: Discuss product demo results and next steps.
                      skipped_at: null
                      due_at: '2025-02-15T10:00:00.000+00:00'
                      type: call
                      priority: high
                      status: scheduled
                      answered: null
                      contact_id: 66e34b81740c50074e3d1bd4
                      person_id: null
                      account_id: 612f9d6cd26c290001d9bda0
                      organization_id: 5fc93db64c38d300d6aa24e6
                      persona_ids: []
                      subject: null
                      created_from: api
                      salesforce_type: null
                      playbook_step_ids: []
                      playbook_id: null
                      needs_playbook_autoprospecting: null
                      starred_by_user_ids: []
                      salesforce_id: null
                      hubspot_id: null
                      opportunity_id: null
                      title: Follow-up call with John Smith
                      rule_config_id: null
                      creator_id: 66302798d03b9601c7934ebf
                      completed_by_user_id: null
                      call_script: null
                      relevant_fields: null
                      pending_send: false
                      ai_variables_status: null
                      recommended: false
                      recommendation_reasons: []
                      note_text: Discuss product demo results and next steps.
                      phone_call:
                        id: 66e8cc45028aed019c25d720
                        answered: true
                        created_at: '2024-09-17T00:24:37.436Z'
                        phone_call_outcome_id: null
                        phone_call_purpose_id: null
                        to_number: +1 (555) 555-****
                      account:
                        id: 612f9d6cd26c290001d9bda0
                        name: Example Corp
                        website_url: http://www.example.com
                        domain: example.com
                        linkedin_url: https://www.linkedin.com/company/example-corp
                        linkedin_uid: '18511550'
                        phone: +1 (555) 555-0164
                        phone_status: no_status
                        owner_id: 66302798d03b9601c7934ebf
                        account_stage_id: null
                        organization_id: 5fc93db64c38d300d6aa24e6
                        industry: information technology & services
                        estimated_num_employees: 910
                        label_ids: []
                        typed_custom_fields: {}
                        account_queues: []
                        created_at: '2021-09-01T15:34:04.371Z'
                      contact:
                        id: 66e34b81740c50074e3d1bd4
                        first_name: John
                        last_name: Smith
                        name: John Smith
                        email: john.smith@example.com
                        title: VP of Sales
                        organization_name: Example Corp
                        account_id: 612f9d6cd26c290001d9bda0
                        owner_id: 66302798d03b9601c7934ebf
                        contact_stage_id: null
                        linkedin_url: https://www.linkedin.com/in/john-smith-6b2d9f84
                        phone_numbers: []
                        contact_emails:
                        - email: john.smith@example.com
                          email_status: verified
                        typed_custom_fields: {}
                        label_ids: []
                        created_at: '2024-09-12T18:45:21.456Z'
                        updated_at: '2024-09-17T00:24:37.436Z'
                      relevant_field_values: {}
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Check API key:
                  value: Invalid API key. See https://docs.apollo.io/reference/authentication for how
                    to authenticate.
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Key lacks required scope:
                  value: "{\n  \"error\": \"This API key is not authorized to access api/v1/tasks/show.\
                    \ Request an API key from your administrator that includes this endpoint in its configured\
                    \ scope.\",\n  \"error_code\": \"API_INACCESSIBLE\"\n}"
                Task functions disabled for this account:
                  value: "{\n  \"error\": \"You do not have permissions to access task functions.\"\n}"
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: This API key is not authorized to access api/v1/tasks/show. Request an API
                      key from your administrator that includes this endpoint in its configured scope.
                  error_code:
                    type: string
                    example: API_INACCESSIBLE
        '422':
          description: '422'
          content:
            application/json:
              examples:
                Task not found:
                  value: "{\n  \"error\": \"This task or emailer message has been deleted. Please refresh\
                    \ your page.\"\n}"
              schema:
                type: object
                properties:
                  error:
                    type: string
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Too many requests:
                  value: "{\n  \"message\": \"The maximum number of api calls allowed for api/v1/tasks/show\
                    \ is 200 times per minute. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.\"\
                    \n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The maximum number of api calls allowed for api/v1/tasks/show is 200 times
                      per minute. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.
      deprecated: false
    patch:
      summary: Update a Task
      description: '## Endpoint essentials


        **API key access:** `api/v1/tasks/update` or `Master API key`


        **OAuth scopes:** `tasks_create`


        **Credit usage:** `0 credits` — [Learn more about API pricing and credits](https://docs.apollo.io/docs/api-pricing).


        <a href="https://knowledge.apollo.io/hc/en-us/articles/28705458602125-Tasks-Overview" target="_blank">Tasks</a>
        let you track, prioritize, and help you complete actions required for your outbound sales motion.<br><br>Use
        the Update a Task endpoint to change the details of an existing task that belongs to your team''s
        Apollo account.<br><br>To find task IDs, use the <a href="https://docs.apollo.io/reference/search-tasks">Search
        for Tasks endpoint</a> and identify the `id` value for the task you want to update.<br><br>The
        fields you can update depend on the task''s current `status`. For a task with a `scheduled` status,
        you can update any of the parameters listed below. For a task that''s already `completed` or `skipped`,
        you can only update `note`, `priority`, `priority_cd`, and `contact_id`.<br><br>To mark a task
        as done, use the <a href="https://docs.apollo.io/reference/complete-a-task">Complete a Task</a>
        or <a href="https://docs.apollo.io/reference/skip-a-task">Skip a Task</a> endpoints instead of
        setting `status` here.


        > ⚠️ Omitting `priority` or `creator_id` resets them

        >

        > If the task you''re updating has a `scheduled` status, and your request doesn''t include a `priority`
        or `creator_id` parameter, Apollo resets `priority` to `medium` and `creator_id` to the user associated
        with your API key — even if you didn''t intend to change those fields. To avoid this, always include
        the task''s current `priority` and `creator_id` in every update request, even when you''re only
        changing an unrelated field like `note`.'
      tags:
      - Tasks
      operationId: update-a-task
      parameters:
      - name: id
        in: path
        description: 'The Apollo ID for the task. <br><br>To find task IDs, call the <a href="https://docs.apollo.io/reference/search-tasks">Search
          for Tasks endpoint</a> and identify the `id` value for the task. <br><br>Example: `67a1b2c3d4e5f60001234567`'
        schema:
          type: string
        required: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: 'The ID for the task owner within your team''s Apollo account. Only applies
                    to tasks with a `scheduled` status. <br><br>Example: `66302798d03b9601c7934ebf`'
                creator_id:
                  type: string
                  description: 'The ID of the user considered the creator of this task. Only applies to
                    tasks with a `scheduled` status. <br><br>If this task currently has a `scheduled`
                    status and you omit this parameter, Apollo resets it to the user associated with your
                    API key. <br><br>Example: `60affe7d6e270a00f5db6fe4`'
                contact_id:
                  type: string
                  description: 'The Apollo ID for the contact you want on the receiving end of the action.
                    <br><br>Example: `66e34b81740c50074e3d1bd4`'
                note:
                  type: string
                  description: 'A description for the task. This should be a human-readable message. <br><br>Example:
                    `This contact expressed interest in the Sequences feature specifically. Be prepared
                    to discuss.`'
                type:
                  type: string
                  description: 'Only applies to tasks with a `scheduled` status. Set the task to 1 of
                    the following task types: <ul> <li> `call`: Call the contact. </li> <li> `outreach_manual_email`:
                    Email the contact. </li> <li> `linkedin_step_connect`: Send a LinkedIn invitation
                    to connect with the contact. </li> <li> `linkedin_step_message`: Send a direct message
                    to the contact''s LinkedIn profile. </li> <li> `linkedin_step_view_profile`: View
                    the contact''s LinkedIn profile. </li> <li> `linkedin_step_interact_post`: Interact
                    with the contact''s recent LinkedIn posts. </li> <li> `action_item`: Take generic
                    action for the contact. </li> </ul>'
                priority:
                  type: string
                  description: 'Assign a priority to the task: `high`, `medium`, or `low`. <br><br>If
                    this task currently has a `scheduled` status and you omit this parameter, Apollo resets
                    its priority to `medium`.'
                  default: medium
                priority_cd:
                  description: Numeric-coded alternative to `priority`. Only applies to tasks that are
                    not `scheduled` (already `completed` or `skipped`).
                status:
                  type: string
                  description: 'Only applies to tasks with a `scheduled` status. To mark a task done,
                    use the <a href="https://docs.apollo.io/reference/complete-a-task">Complete a Task</a>
                    or <a href="https://docs.apollo.io/reference/skip-a-task">Skip a Task</a> endpoints
                    instead of setting this directly. <br><br>Example: `scheduled`'
                due_at:
                  type: string
                  format: date-time
                  description: 'Only applies to tasks with a `scheduled` status. The full date and time
                    when the task is due, in <a href="https://www.rfc-editor.org/rfc/rfc3339#section-5.6"
                    target="_blank">ISO 8601</a> format. <br><br>Example: `2025-02-15T08:10:30Z`'
                title:
                  type: string
                  description: 'Only applies to tasks with a `scheduled` status. A title for the task.
                    <br><br>Example: `Follow up on demo request`'
                call_script:
                  type: string
                  description: Only applies to tasks with a `scheduled` status. A call script or talking
                    points for a `call` type task.
                relevant_fields:
                  type: array
                  description: Only applies to tasks with a `scheduled` status. Names of team-defined
                    relevant fields to surface for this task.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  task:
                    type: object
                    properties:
                      emailer_campaign_id: {}
                      id:
                        type: string
                        example: 66e8cc45028aed019c25d724
                      user_id:
                        type: string
                        example: 66a3d80d4238fe02d2baaaaf
                      created_at:
                        type: string
                        example: '2024-09-17T00:24:37.436Z'
                      completed_at: {}
                      note: {}
                      skipped_at: {}
                      due_at:
                        type: string
                        example: '2024-09-21T00:00:00.000+00:00'
                      type:
                        type: string
                        example: action_item
                      priority:
                        type: string
                        example: medium
                      status:
                        type: string
                        example: scheduled
                      answered: {}
                      contact_id: {}
                      person_id: {}
                      account_id: {}
                      organization_id: {}
                      persona_ids:
                        type: array
                      subject: {}
                      created_from: {}
                      salesforce_type: {}
                      playbook_step_ids:
                        type: array
                      playbook_id: {}
                      needs_playbook_autoprospecting: {}
                      starred_by_user_ids:
                        type: array
                      salesforce_id: {}
                      hubspot_id: {}
                      opportunity_id:
                        type: string
                        example: 66e8c4567f32a501b2605004
                      title:
                        type: string
                        example: Reminder - Schedule Demo Call
                      rule_config_id: {}
                      creator_id:
                        type: string
                        example: 60affe7d6e270a00f5db6fe4
                      completed_by_user_id: {}
                      call_script: {}
                      relevant_fields: {}
                      pending_send:
                        type: boolean
                        example: false
                      ai_variables_status: {}
                      recommended:
                        type: boolean
[...]
