openapi: 3.1.0
info:
  title: Apollo.io Contacts API
  version: '1.0'
  summary: Programmatic access to Apollo's sales intelligence and engagement platform — data enrichment,
    prospect and company search, and go-to-market workflow management.
  description: 'The Apollo API provides programmatic access to [Apollo](https://www.apollo.io/), the all-in-one
    sales intelligence and engagement platform. Use it to enrich people and company data (individually
    or in bulk), search Apollo''s database of over 240 million contacts and 30 million companies, and
    manage accounts, contacts, deals, sequences, tasks, calls, and conversations in your go-to-market
    workflows.


    ## Base URL


    All API requests are made to `https://api.apollo.io/api/v1`.


    ## Authentication


    - **Apollo users** authenticate with an API key passed in the `x-api-key` request header. See [Create
    API Keys](https://docs.apollo.io/docs/create-api-key).

    - **Apollo partners** building integrations on behalf of mutual users authenticate with the [OAuth
    2.0 authorization flow](https://docs.apollo.io/docs/use-oauth-20-authorization-flow-to-access-apollo-user-information-partners).


    ## Rate limits & credits


    Rate limits and credit consumption depend on your [Apollo pricing plan](https://docs.apollo.io/docs/api-pricing).
    Check your current limits and usage with the [View API Usage Stats and Rate Limits](https://docs.apollo.io/reference/view-api-usage-stats)
    endpoint. For more details, see [Rate Limits](https://docs.apollo.io/reference/rate-limits) and the
    [API FAQs](https://docs.apollo.io/docs/apollo-api-faqs).


    New to the API? Start with the [Apollo API overview](https://docs.apollo.io/reference/apollo-api).'
  termsOfService: https://www.apollo.io/terms/api
  contact:
    name: Apollo API Support
    url: https://docs.apollo.io/
servers:
- url: https://api.apollo.io/api/v1
tags:
- name: Contacts
  description: Create, update, and search the people your team saves in Apollo.
security:
- apiKey: []
- bearerAuth: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: '[Recommended] API key, passed in the `x-api-key` request header.

        See [Create API Keys](https://docs.apollo.io/docs/create-api-key).'
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth 2.0 access token, used by Apollo partners building integrations.

        See the [OAuth 2.0 authorization flow](https://docs.apollo.io/docs/use-oauth-20-authorization-flow-to-access-apollo-user-information-partners).'
paths:
  /contacts:
    post:
      summary: Create a Contact
      description: '## Endpoint essentials


        **API key access:** `api/v1/contacts/create` or `Master API key`


        **OAuth scopes:** `contact_write`


        **Credit usage:** `0 credits` — [Learn more about API pricing and credits](https://docs.apollo.io/docs/api-pricing).


        <a href="https://knowledge.apollo.io/hc/en-us/articles/5995459280525-View-and-Edit-Contacts" target="_blank">Contacts</a>
        are people saved in Apollo.<br><br>Use the Create a Contact endpoint to add a new contact to your
        team''s Apollo  account.<br><br>By default, Apollo doesn''t apply deduplication processes when
        you create a new contact via API. If your entry has the same name, email address, or other details
        as an existing contact, Apollo creates a new contact instead of updating the existing contact.
        To enable deduplication and prevent duplicate contacts, set the <code>run_dedupe</code> parameter
        to <code>true</code>. <br><br>To update an existing contact, use the <a href="https://docs.apollo.io/reference/update-a-contact">Update
        a Contact endpoint</a> instead.


        ### What `run_dedupe` actually does


        Setting `run_dedupe` to `true` does more than suppress a duplicate. On a match, Apollo **updates
        that existing contact in place** with your request''s values and returns it. The response looks
        like a creation, but the `id` belongs to the pre-existing contact — so treating every `200` as
        "a new contact was created" doesn''t hold once `run_dedupe` is on.


        **How Apollo picks the match.** It checks these in order and stops at the first hit, so a match
        isn''t necessarily on email:


        1. `id`, if you send one.

        2. CRM identifiers: `salesforce_lead_id`, `salesforce_contact_id`, `hubspot_vid`, or a previously
        merged CRM ID.

        3. `person_id`.

        4. `email` — compared against the contact''s primary email **and** any additional emails stored
        on it.

        5. `first_name` plus `last_name` (or a full name) with a matching company, where the company matches
        on email domain, `organization_id`, or `organization_name`.


        Because of step 5, a contact can be matched and updated even when the email you send differs from
        the stored one.


        **What the update writes.** It''s a field-level overwrite of the values you send, not a merge
        that prefers existing data:


        * Fields you **send** overwrite the stored values, with no warning and no record of the previous
        value.

        * Fields you **omit** are left untouched, so you don''t need to resend the whole record.

        * An **empty value clears the field** rather than being ignored.

        * The contact''s `email` can itself be overwritten when the match came from a CRM ID, `person_id`,
        or name-plus-company. `email_status` isn''t re-verified, so it can keep reading `verified` while
        describing the previous address.

        * Protected once set: `person_id`, `salesforce_lead_id`, and `salesforce_contact_id`. LinkedIn-sourced
        photos won''t replace an existing `photo_url`.


        **Recommended handling.** To add records without changing existing ones, leave `run_dedupe` off
        (the default) and reconcile duplicates yourself. To upsert, set it to `true` and send the complete
        set of fields you want the contact to end up with, since omitted fields keep their old values.
        To edit a known contact, prefer [Update a Contact](https://docs.apollo.io/reference/update-a-contact)
        with its `id` — explicit, with no matching involved.


        [Bulk Create Contacts](https://docs.apollo.io/reference/bulk-create-contacts) differs: matched
        contacts are returned in `existing_contacts` **without** being modified.'
      tags:
      - Contacts
      operationId: create-a-contact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: 'The first name of the contact you want to create. Example: `Tim`'
                last_name:
                  type: string
                  description: 'The last name of the contact you want to create. Example: `Zheng`'
                organization_name:
                  type: string
                  description: 'The name of the contact''s employer (company). Example: `apollo`'
                title:
                  type: string
                  description: 'The current job title that the contact holds. Example: `senior research
                    analyst`'
                account_id:
                  type: string
                  description: 'The Apollo ID for the account. Example: `63f53afe4ceeca00016bdd2f`'
                email:
                  type: string
                  description: 'The email address of the contact. Example: `example@email.com`'
                website_url:
                  type: string
                  description: 'The corporate website URL. Example: `https://www.apollo.io/`'
                label_names:
                  type: array
                  description: Lists to which the contact belongs.
                  items:
                    type: string
                contact_stage_id:
                  type: string
                  description: 'The Apollo ID for the contact stage. Example: `6095a710bd01d100a506d4ae`'
                present_raw_address:
                  type: string
                  description: 'The personal location for the contact. Example: `Atlanta, United States`'
                direct_phone:
                  type: string
                  description: 'The primary phone number. Example: `555-555-0133`'
                corporate_phone:
                  type: string
                  description: 'The work/office phone number. Example: `+44 7700 900852`'
                mobile_phone:
                  type: string
                  description: 'The mobile phone number. Example: `555-555-0133`'
                home_phone:
                  type: string
                  description: 'The home phone number. Example: `555-555-0133`'
                other_phone:
                  type: string
                  description: 'Alternative phone number. Example: `555-555-0133`'
                typed_custom_fields:
                  type: object
                  description: "Add information to <a href=\"https://knowledge.apollo.io/hc/en-us/articles/4412498825869-Create-Custom-Contact-Fields\"\
                    \ target=\"_blank\">custom fields</a> in Apollo. <br><br><b>Your custom fields are\
                    \ unique to your team's Apollo account. This means that the examples in this documentation\
                    \ may not work for your testing purposes.</b> <br><br>To utilize this parameter successfully,\
                    \ call the <a href=\"https://docs.apollo.io/reference/get-a-list-of-all-custom-fields\"\
                    >Get a List of All Custom Fields</a> endpoint and identify the `id` value for the\
                    \ custom field, as well as the appropriate data type. For example, if a custom field\
                    \ accepts picklist entries, you need to pass the accompanying `id` value for the picklist\
                    \ entry that you want to use as the input value. <br><br><b>Example</b>: When the\
                    \ <a href=\"https://docs.apollo.io/reference/get-a-list-of-all-custom-fields\">Get\
                    \ a List of All Custom Fields</a> endpoint returns an `id` of field: \n * `\"60c39ed82bd02f01154c470a\"\
                    ` (datetime) \n \n\n then the value passed should be: \n\n `{\"60c39ed82bd02f01154c470a\"\
                    : \"2025-08-07\"}`"
                  additionalProperties:
                    type: string
                  example:
                    60c39ed82bd02f01154c470a: '2025-08-07'
                run_dedupe:
                  type: boolean
                  description: 'Set to `true` to match against your existing contacts instead of always
                    creating a new one. The default value is `false`. <br><br>When a match is found, Apollo
                    **updates that existing contact in place** with the values you sent and returns it
                    — the `id` in the response belongs to the pre-existing contact, not a new record.
                    Fields you send overwrite the stored values, fields you omit are left untouched, and
                    sending an empty value clears the field. <br><br>Matching is checked in order: `id`,
                    CRM identifiers, `person_id`, `email` (against the contact''s primary and additional
                    emails), then name plus company. Because of the last rule, a contact can be matched
                    and updated even when the email differs. <br><br>When deduplication is enabled, performance
                    may be slightly impacted due to the additional matching checks. See the endpoint description
                    for full details.'
                  default: false
            examples:
              Create contact without deduplication:
                summary: Create a new contact without deduplication (default behavior)
                value:
                  first_name: John
                  last_name: Smith
                  email: john.smith@example.com
                  organization_name: Example Corp
                  title: Software Engineer
              Create contact with deduplication:
                summary: Create a new contact with deduplication enabled
                value:
                  first_name: Jane
                  last_name: Doe
                  email: jane.doe@example.com
                  organization_name: Example Corp
                  title: Product Manager
                  run_dedupe: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    contact:
                      contact_roles: []
                      id: 66e34b81740c50074e3d1bd4
                      first_name: Fyodor
                      last_name: Dostoevsky
                      name: Fyodor Dostoevsky
                      linkedin_url: null
                      title: Chief Fiction Writer
                      contact_stage_id: 6095a710bd01d100a506d4ae
                      owner_id: 60affe7d6e270a00f5db6fe4
                      creator_id: 60affe7d6e270a00f5db6fe4
                      person_id: null
                      email_needs_tickling: null
                      organization_name: Apollo.io
                      source: api
                      original_source: api
                      organization_id: 5e66b6381e05b4008c8331b8
                      headline: null
                      photo_url: null
                      present_raw_address: St. Petersburg, Russia
                      linkedin_uid: null
                      extrapolated_email_confidence: null
                      salesforce_id: null
                      salesforce_lead_id: null
                      salesforce_contact_id: null
                      salesforce_account_id: null
                      crm_owner_id: null
                      created_at: '2024-09-12T20:13:53.207Z'
                      emailer_campaign_ids: []
                      direct_dial_status: null
                      direct_dial_enrichment_failed_at: null
                      email_status: verified
                      email_source: null
                      account_id: 63f53afe4ceeca00016bdd2f
                      last_activity_date: null
                      hubspot_vid: null
                      hubspot_company_id: null
                      crm_id: null
                      sanitized_phone: '+15555550149'
                      merged_crm_ids: null
                      updated_at: '2024-09-12T20:13:53.331Z'
                      queued_for_crm_push: true
                      suggested_from_rule_engine_config_id: null
                      email_unsubscribed: null
                      label_ids:
                      - 66e34b81740c50074e3d1bd0
                      - 66e34b81740c50074e3d1bd1
                      - 66e34b81740c50074e3d1bd2
                      - 66e34b81740c50074e3d1bd3
                      has_pending_email_arcgate_request: false
                      has_email_arcgate_request: false
                      existence_level: full
                      email: fyodo@apollo.io
                      email_from_customer: true
                      custom_field_errors: {}
                      crm_record_url: null
                      email_status_unavailable_reason: null
                      email_true_status: User Managed
                      updated_email_true_status: true
                      contact_rule_config_statuses: []
                      source_display_name: Created from API
                      twitter_url: null
                      contact_campaign_statuses: []
                      contact_emails: []
                      next_contact_id: null
                      time_zone: Asia/Krasnoyarsk
                      city: Saint Petersburg
                      state: Saint Petersburg
                      country: Russia
                      show_intent: false
                      phone_numbers:
                      - raw_number: 555-555-0149
                        sanitized_number: '+15555550149'
                        type: work_direct
                        position: 0
                        status: no_status
                        dnc_status: null
                        dnc_other_info: null
                        dialer_flags: null
                      account_phone_note: null
                      free_domain: false
                      is_likely_to_engage: false
                      email_domain_catchall: false
                      typed_custom_fields:
                        5b75f1c11dc2727d43ae3bb9: test
                        5c4296857f799409361890ea: test2
                    labels:
                    - id: 66e34b81740c50074e3d1bd2
                      modality: contacts
                      cached_count: 0
                      name: typewriter
                      created_at: '2024-09-12T20:13:53.119Z'
                      updated_at: '2024-09-12T20:13:53.279Z'
                      user_id: 60affe7d6e270a00f5db6fe4
                    - id: 66e34b81740c50074e3d1bd1
                      modality: contacts
                      cached_count: 0
                      name: fiction
                      created_at: '2024-09-12T20:13:53.107Z'
                      updated_at: '2024-09-12T20:13:53.258Z'
                      user_id: 60affe7d6e270a00f5db6fe4
                    - id: 66e34b81740c50074e3d1bd0
                      modality: contacts
                      cached_count: 0
                      name: writer
                      created_at: '2024-09-12T20:13:53.093Z'
                      updated_at: '2024-09-12T20:13:53.308Z'
                      user_id: 60affe7d6e270a00f5db6fe4
                    - id: 66e34b81740c50074e3d1bd3
                      modality: contacts
                      cached_count: 0
                      name: microsoft word
                      created_at: '2024-09-12T20:13:53.132Z'
                      updated_at: '2024-09-12T20:13:53.313Z'
                      user_id: 60affe7d6e270a00f5db6fe4
                Deduplication-Result:
                  summary: Contact creation with deduplication enabled - existing contact found
                  value:
                    contact:
                      contact_roles: []
                      id: 66e34b81740c50074e3d1bd4
                      first_name: Jane
                      last_name: Doe
                      name: Jane Doe
                      linkedin_url: null
                      title: Product Manager
                      contact_stage_id: 6095a710bd01d100a506d4ae
                      owner_id: 60affe7d6e270a00f5db6fe4
                      creator_id: 60affe7d6e270a00f5db6fe4
                      person_id: null
                      email_needs_tickling: null
                      organization_name: Example Corp
                      source: api
                      original_source: api
                      organization_id: 5e66b6381e05b4008c8331b8
                      headline: null
                      photo_url: null
                      present_raw_address: null
                      linkedin_uid: null
                      extrapolated_email_confidence: null
                      salesforce_id: null
                      salesforce_lead_id: null
                      salesforce_contact_id: null
                      salesforce_account_id: null
                      crm_owner_id: null
                      created_at: '2024-09-12T20:13:53.207Z'
                      emailer_campaign_ids: []
                      direct_dial_status: null
                      direct_dial_enrichment_failed_at: null
                      email_status: verified
                      email_source: null
                      account_id: 63f53afe4ceeca00016bdd2f
                      last_activity_date: null
                      hubspot_vid: null
                      hubspot_company_id: null
                      crm_id: null
                      sanitized_phone: null
                      merged_crm_ids: null
                      updated_at: '2024-09-12T20:13:53.331Z'
                      queued_for_crm_push: false
                      suggested_from_rule_engine_config_id: null
                      email_unsubscribed: null
                      label_ids: []
                      has_pending_email_arcgate_request: false
                      has_email_arcgate_request: false
                      existence_level: full
                      email: jane.doe@example.com
                      email_from_customer: true
                      custom_field_errors: {}
                      crm_record_url: null
                      email_status_unavailable_reason: null
                      email_true_status: User Managed
                      updated_email_true_status: true
                      contact_rule_config_statuses: []
                      source_display_name: Created from API
                      twitter_url: null
                      contact_campaign_statuses: []
                      contact_emails: []
                      next_contact_id: null
                      time_zone: null
                      city: null
                      state: null
                      country: null
                      show_intent: false
                      phone_numbers: []
                      account_phone_note: null
                      free_domain: false
                      is_likely_to_engage: false
                      email_domain_catchall: false
                      typed_custom_fields: {}
                    labels: []
                    dedupe_result:
                      found_existing: true
                      match_reason: email_match
                      existing_contact_id: 66e34b81740c50074e3d1bd4
              schema:
                type: object
                properties:
                  contact:
                    type: object
                    properties:
                      contact_roles:
                        type: array
                      id:
                        type: string
                        example: 66e34b81740c50074e3d1bd4
                      first_name:
                        type: string
                        example: Fyodor
                      last_name:
                        type: string
                        example: Dostoevsky
                      name:
                        type: string
                        example: Fyodor Dostoevsky
                      linkedin_url: {}
                      title:
                        type: string
                        example: Chief Fiction Writer
                      contact_stage_id:
                        type: string
                        example: 6095a710bd01d100a506d4ae
                      owner_id:
                        type: string
                        example: 60affe7d6e270a00f5db6fe4
                      creator_id:
                        type: string
                        example: 60affe7d6e270a00f5db6fe4
                      person_id: {}
                      email_needs_tickling: {}
                      organization_name:
                        type: string
                        example: Apollo.io
                      source:
                        type: string
                        example: api
                      original_source:
                        type: string
                        example: api
                      organization_id:
                        type: string
                        example: 5e66b6381e05b4008c8331b8
                      headline: {}
                      photo_url: {}
                      present_raw_address:
                        type: string
                        example: St. Petersburg, Russia
                      linkedin_uid: {}
                      extrapolated_email_confidence:
                        type: number
                        nullable: true
                      salesforce_id: {}
                      salesforce_lead_id: {}
                      salesforce_contact_id: {}
                      salesforce_account_id: {}
                      crm_owner_id: {}
                      created_at:
                        type: string
                        example: '2024-09-12T20:13:53.207Z'
                      emailer_campaign_ids:
                        type: array
                      direct_dial_status: {}
                      direct_dial_enrichment_failed_at: {}
                      email_status:
                        type: string
                        example: verified
                      email_source: {}
                      account_id:
                        type: string
                        example: 63f53afe4ceeca00016bdd2f
                      last_activity_date: {}
                      hubspot_vid: {}
                      hubspot_company_id: {}
                      crm_id: {}
                      sanitized_phone:
                        type: string
                        example: '+15555550149'
                      merged_crm_ids: {}
                      updated_at:
                        type: string
                        example: '2024-09-12T20:13:53.331Z'
                      queued_for_crm_push:
                        type: boolean
                        example: true
                        default: true
                      suggested_from_rule_engine_config_id: {}
                      email_unsubscribed: {}
                      label_ids:
                        type: array
                        items:
                          type: string
                          example: 66e34b81740c50074e3d1bd0
                      has_pending_email_arcgate_request:
                        type: boolean
                        example: false
                        default: true
                      has_email_arcgate_request:
                        type: boolean
                        example: false
                        default: true
                      existence_level:
                        type: string
                        example: full
                      email:
                        type: string
                        example: fyodo@apollo.io
                      email_from_customer:
                        type: boolean
                        example: true
                        default: true
                      typed_custom_fields:
                        type: object
                        properties: {}
                      custom_field_errors:
                        type: object
                        properties: {}
                      crm_record_url: {}
                      email_status_unavailable_reason: {}
                      email_true_status:
                        type: string
                        example: User Managed
                      updated_email_true_status:
                        type: boolean
                        example: true
                        default: true
                      contact_rule_config_statuses:
                        type: array
                      source_display_name:
                        type: string
                        example: Created from API
                      twitter_url: {}
                      contact_campaign_statuses:
                        type: array
                        description: Array of campaign statuses for the contact, showing their participation
                          in various email sequences
                        items:
                          type: object
                          description: Contact campaign status object representing the contact's current
                            state in a specific email sequence
                          properties:
                            id:
                              type: string
                              description: Unique identifier for this contact campaign status record
                              example: 68782af181c7f0002159df25
                            emailer_campaign_id:
                              type: string
                              description: ID of the email sequence (emailer campaign) this status belongs
                                to
                              example: 66e9e215ece19801b219997f
                            send_email_from_user_id:
                              type: string
                              description: ID of the user who is sending emails for this contact in the
                                sequence
                              example: 66302798d03b9601c7934ebf
                            inactive_reason:
                              type: string
                              nullable: true
                              description: Reason why the contact is inactive in this sequence, if applicable
                              example: Sequence inactive
                            status:
                              type: string
                              description: Current status of the contact in this email sequence
                              enum:
                              - active
                              - failed
                              - paused
                              - finished
                              example: paused
                            added_at:
                              type: string
                              format: date-time
                              description: Timestamp when the contact was added to this sequence
                              example: '2025-07-16T22:42:57.372+00:00'
                            added_by_user_id:
                              type: string
                              description: ID of the user who added this contact to the sequence
                              example: 60affe7d6e270a00f5db6fe4
                            finished_at:
                              type: string
                              format: date-time
                              nullable: true
                              description: Timestamp when the contact finished/completed the sequence
                              example: null
                            paused_at:
                              type: string
                              format: date-time
                              nullable: true
                              description: Timestamp when the contact was paused in the sequence
                              example: null
                            auto_unpause_at:
                              type: string
                              format: date-time
                              nullable: true
                              description: Scheduled timestamp for automatically unpausing the contact
                              example: null
                            send_email_from_email_address:
                              type: string
                              nullable: true
                              description: Specific email address used to send emails to this contact
                              example: test.marcus.hale@apollomail.io
                            send_email_from_email_account_id:
                              type: string
                              description: ID of the email account used to send emails to this contact
                              example: 6633baaece5fbd01c791d7ca
                            manually_set_unpause:
                              type: boolean
                              nullable: true
                              description: Whether the unpause was manually set by a user
                              example: null
                            failure_reason:
                              type: string
                              nullable: true
                              description: Specific reason for failure if status is 'failed'
                              enum:
                              - hard_bounced
                              - spam_blocked
                              - bounced
                              - past_date_failure
                              example: null
                            current_step_id:
                              type: string
                              nullable: true
                              description: ID of the current step in the sequence that the contact is
                                on
                              example: null
                            in_response_to_emailer_message_id:
                              type: string
                              nullable: true
                              description: ID of the emailer message this campaign status is in response
                                to
                              example: null
                            cc_emails:
                              type: array
                              nullable: true
                              description: Email addresses to CC when sending emails to this contact
                              items:
                                type: string
                              example: null
                            bcc_emails:
                              type: array
                              nullable: true
                              description: Email addresses to BCC when sending emails to this contact
                              items:
                                type: string
                              example: null
                            to_emails:
                              type: array
                              nullable: true
                              description: Additional email addresses to include in TO field when sending
                                emails
                              items:
                                type: string
                              example: null
                            current_step_position:
                              type: integer
                              nullable: true
                              description: Position number of the current step in the sequence (1-based
                                indexing)
                              example: null
                          required:
                          - id
                          - emailer_campaign_id
                          - send_email_from_user_id
                          - status
                          - added_at
                          - added_by_user_id
                          - send_email_from_email_account_id
                      contact_emails:
                        type: array
                      next_contact_id: {}
                      time_zone:
                        type: string
                        example: Asia/Krasnoyarsk
                      city:
                        type: string
                        example: Saint Petersburg
                      state:
                        type: string
                        example: Saint Petersburg
                      country:
                        type: string
                        example: Russia
                      show_intent:
                        type: boolean
                        example: false
                        default: true
                      phone_numbers:
                        type: array
                        items:
                          type: object
                          properties:
                            raw_number:
                              type: string
                              example: 555-555-0149
                            sanitized_number:
                              type: string
                              example: '+15555550149'
                            type:
                              type: string
                              example: work_direct
                            position:
                              type: integer
                              example: 0
                              default: 0
                            status:
                              type: string
                              example: no_status
                            dnc_status: {}
                            dnc_other_info: {}
                            dialer_flags: {}
                      account_phone_note: {}
                      free_domain:
                        type: boolean
                        example: false
                        default: true
                      is_likely_to_engage:
                        type: boolean
                        example: false
                        default: true
                      email_domain_catchall:
                        type: boolean
                        example: false
                        default: true
                  labels:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 66e34b81740c50074e3d1bd2
                        modality:
                          type: string
                          example: contacts
                        cached_count:
                          type: integer
                          example: 0
                          default: 0
                        name:
                          type: string
                          example: typewriter
                        created_at:
                          type: string
                          example: '2024-09-12T20:13:53.119Z'
                        updated_at:
                          type: string
                          example: '2024-09-12T20:13:53.279Z'
                        user_id:
                          type: string
                          example: 60affe7d6e270a00f5db6fe4
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Check API key:
                  value: Invalid API key. See https://docs.apollo.io/reference/authentication for how
                    to authenticate.
        '422':
          description: '422'
          content:
            application/json:
              examples:
                Check the account ID:
                  value: "{\n  \"error\": \"Parameters misconfigured. 63f53afe4ceeca00016bdd2fsfsdf is\
                    \ not a valid ID\"\n}"
                Check the contact stage ID:
                  value: "{\n  \"error\": \"Parameters misconfigured. 2342432 is not a valid ID\"\n}"
              schema:
                oneOf:
                - title: Check the account ID
                  type: object
                  properties:
                    error:
                      type: string
                      example: Parameters misconfigured. 63f53afe4ceeca00016bdd2fsfsdf is not a valid
                        ID
                - title: Check the contact stage ID
                  type: object
                  properties:
                    error:
                      type: string
                      example: Parameters misconfigured. 2342432 is not a valid ID
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Too many requests:
                  value: "{\n    \"message\": \"The maximum number of api calls allowed for api/v1/contacts\
                    \ is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.\"\
                    \n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The maximum number of api calls allowed for api/v1/contacts is 600 times
                      per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.
      deprecated: false
  /contacts/{contact_id}:
    patch:
      summary: Update a Contact
      description: '## Endpoint essentials


        **API key access:** `api/v1/contacts/update` or `Master API key`


        **OAuth scopes:** `contact_update`


        **Credit usage:** `0 credits` — [Learn more about API pricing and credits](https://docs.apollo.io/docs/api-pricing).


        <a href="https://knowledge.apollo.io/hc/en-us/articles/5995459280525-View-and-Edit-Contacts" target="_blank">Contacts</a>
        are people saved in Apollo.<br><br>Use the Update a Contact endpoint to update existing contacts
        in your team''s Apollo account.<br><br>To create a new contact, use the <a href="https://docs.apollo.io/reference/create-a-contact">Create
        a Contact endpoint</a> instead. To update the contact stage for multiple contacts, use the <a
        href="https://docs.apollo.io/reference/update-contact-stage">Update Contact Stage for Multiple
        Contacts</a> endpoint.'
      tags:
      - Contacts
      operationId: update-a-contact
      parameters:
      - name: contact_id
        in: path
        description: 'The Apollo ID for the contact that you want to update. <br><br>To find contact IDs,
          call the <a href="https://docs.apollo.io/reference/search-for-contacts" target="_blank">Search
          for Contacts endpoint</a> and identify the `id` value for the contact. <br><br>Example: `66e34b81740c50074e3d1bd4`'
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: 'Update the contact''s first name. Example: `Tim`'
                last_name:
                  type: string
                  description: 'Update the contact''s last name. Example: `Zheng`'
                organization_name:
                  type: string
                  description: 'Update the employer (company) name. Example: `apollo`'
                title:
                  type: string
                  description: 'Update the job title. Example: `senior research analyst`'
                account_id:
                  type: string
                  description: 'Update the account ID. Example: `63f53afe4ceeca00016bdd2f`'
                email:
                  type: string
                  description: 'Update the contact email. Example: `example@email.com`'
                website_url:
                  type: string
                  description: 'Update the employer website URL. Example: `https://www.apollo.io/`'
                label_names:
                  type: array
                  description: Replace lists this contact belongs to. (Passing new values will overwrite
                    existing lists.)
                  items:
                    type: string
                contact_stage_id:
                  type: string
                  description: 'Update the contact stage ID. Example: `6095a710bd01d100a506d4af`'
                present_raw_address:
                  type: string
                  description: 'Update location (city/state/country). Example: `Atlanta, United States`'
                direct_phone:
                  type: string
                  description: Primary phone.
                corporate_phone:
                  type: string
                  description: Work/office phone.
                mobile_phone:
                  type: string
                  description: Mobile phone.
                home_phone:
                  type: string
                  description: Home phone.
                other_phone:
                  type: string
                  description: Alternate phone.
                typed_custom_fields:
                  type: object
                  description: "Add information to <a href=\"https://knowledge.apollo.io/hc/en-us/articles/4412498825869-Create-Custom-Contact-Fields\"\
                    \ target=\"_blank\">custom fields</a> in Apollo. <br><br><b>Your custom fields are\
                    \ unique to your team's Apollo account. This means that the examples in this documentation\
                    \ may not work for your testing purposes.</b> <br><br>To utilize this parameter successfully,\
                    \ call the <a href=\"https://docs.apollo.io/reference/get-a-list-of-all-custom-fields\"\
                    >Get a List of All Custom Fields</a> endpoint and identify the `id` value for the\
                    \ custom field, as well as the appropriate data type. For example, if a custom field\
                    \ accepts picklist entries, you need to pass the accompanying `id` value for the picklist\
                    \ entry that you want to use as the input value. <br><br><b>Example</b>: When the\
                    \ <a href=\"https://docs.apollo.io/reference/get-a-list-of-all-custom-fields\">Get\
                    \ a List of All Custom Fields</a> endpoint returns an `id` of field: \n * `\"60c39ed82bd02f01154c470a\"\
                    ` (datetime) \n \n\n then the value passed should be: \n\n `{\"60c39ed82bd02f01154c470a\"\
                    : \"2025-08-07\"}`"
                  additionalProperties:
                    type: string
                  example:
                    60c39ed82bd02f01154c470a: '2025-08-07'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    contact:
                      contact_roles: []
                      id: 66e34b81740c50074e3d1bd4
                      first_name: Fyodor
                      last_name: Dostoevsky
                      name: Fyodor Dostoevsky
                      linkedin_url: null
                      title: Chief Writer
                      contact_stage_id: 6095a710bd01d100a506d4ae
                      owner_id: 60affe7d6e270a00f5db6fe4
                      creator_id: 60affe7d6e270a00f5db6fe4
                      person_id: null
                      email_needs_tickling: null
                      organization_name: Apollo.io
                      source: api
                      original_source: api
                      organization_id: 5e66b6381e05b4008c8331b8
                      headline: null
                      photo_url: null
                      present_raw_address: St. Petersburg, Russia
                      linkedin_uid: null
                      extrapolated_email_confidence: null
                      salesforce_id: null
                      salesforce_lead_id: null
                      salesforce_contact_id: null
                      salesforce_account_id: null
                      crm_owner_id: null
                      created_at: '2024-09-12T20:13:53.207Z'
                      emailer_campaign_ids: []
                      direct_dial_status: null
                      direct_dial_enrichment_failed_at: null
                      email_status: verified
                      email_source: null
                      account_id: 63f53afe4ceeca00016bdd2f
                      last_activity_date: null
                      hubspot_vid: null
                      hubspot_company_id: null
                      crm_id: null
                      sanitized_phone: '+15555550117'
                      merged_crm_ids: null
                      updated_at: '2024-09-12T20:14:53.134Z'
                      queued_for_crm_push: false
                      suggested_from_rule_engine_config_id: null
                      email_unsubscribed: null
                      label_ids:
                      - 66e361494acd1307386d4073
                      typed_custom_fields:
                        5b75f1c11dc2727d43ae3bb9: test
                        5c4296857f799409361890ea: test2
                      has_pending_email_arcgate_request: false
                      has_email_arcgate_request: false
                      existence_level: full
                      email: fyodor.dostoevsky@apollo.io
                      email_from_customer: true
                      custom_field_errors: {}
                      crm_record_url: null
                      email_status_unavailable_reason: null
                      email_true_status: User Managed
                      updated_email_true_status: true
                      contact_rule_config_statuses: []
                      source_display_name: Created from API
                      twitter_url: null
                      contact_emails: []
                      next_contact_id: null
                      time_zone: Asia/Krasnoyarsk
                      city: Saint Petersburg
                      state: Saint Petersburg
                      country: Russia
                      show_intent: false
                      phone_numbers:
                      - raw_number: 555-555-0117
                        sanitized_number: '+15555550117'
                        type: work_direct
                        position: 0
                        status: no_status
                        dnc_status: null
                        dnc_other_info: null
                        dialer_flags: null
                      account_phone_note: null
                      free_domain: false
                      is_likely_to_engage: false
                      email_domain_catchall: false
                    labels:
                    - id: 66e361494acd1307386d4073
                      modality: contacts
                      cached_count: 0
                      name: 2024 fiction writers of america attendees
                      created_at: '2024-09-12T21:46:49.464Z'
                      updated_at: '2024-09-12T21:46:49.544Z'
                      user_id: 60affe7d6e270a00f5db6fe4
              schema:
                type: object
                properties:
                  contact:
                    type: object
                    properties:
                      contact_roles:
                        type: array
                      id:
                        type: string
                        example: 66e34b81740c50074e3d1bd4
                      first_name:
                        type: string
                        example: Fyodor
                      last_name:
                        type: string
                        example: Dostoevsky
                      name:
                        type: string
                        example: Fyodor Dostoevsky
                      linkedin_url: {}
                      title:
                        type: string
                        example: Chief Writer
                      contact_stage_id:
                        type: string
                        example: 6095a710bd01d100a506d4ae
                      owner_id:
                        type: string
                        example: 60affe7d6e270a00f5db6fe4
                      creator_id:
                        type: string
                        example: 60affe7d6e270a00f5db6fe4
                      person_id: {}
                      email_needs_tickling: {}
                      organization_name:
                        type: string
                        example: Apollo.io
                      source:
                        type: string
                        example: api
                      original_source:
                        type: string
                        example: api
                      organization_id:
                        type: string
                        example: 5e66b6381e05b4008c8331b8
                      headline: {}
                      photo_url: {}
                      present_raw_address:
                        type: string
                        example: St. Petersburg, Russia
                      linkedin_uid: {}
                      extrapolated_email_confidence:
                        type: number
                        nullable: true
                      salesforce_id: {}
                      salesforce_lead_id: {}
                      salesforce_contact_id: {}
                      salesforce_account_id: {}
                      crm_owner_id: {}
                      created_at:
                        type: string
                        example: '2024-09-12T20:13:53.207Z'
                      emailer_campaign_ids:
                        type: array
                      direct_dial_status: {}
                      direct_dial_enrichment_failed_at: {}
                      email_status:
                        type: string
                        example: verified
                      email_source: {}
                      account_id:
                        type: string
                        example: 63f53afe4ceeca00016bdd2f
                      last_activity_date: {}
                      hubspot_vid: {}
                      hubspot_company_id: {}
                      crm_id: {}
                      sanitized_phone:
                        type: string
                        example: '+15555550117'
                      merged_crm_ids: {}
                      updated_at:
                        type: string
                        example: '2024-09-12T20:14:53.134Z'
                      queued_for_crm_push:
                        type: boolean
                        example: false
                        default: true
                      suggested_from_rule_engine_config_id: {}
                      email_unsubscribed: {}
                      label_ids:
                        type: array
                        items:
                          type: string
                          example: 66e361494acd1307386d4073
                      has_pending_email_arcgate_request:
                        type: boolean
                        example: false
                        default: true
                      has_email_arcgate_request:
                        type: boolean
                        example: false
                        default: true
                      existence_level:
                        type: string
                        example: full
                      email:
                        type: string
                        example: fyodor.dostoevsky@apollo.io
                      email_from_customer:
                        type: boolean
                        example: true
                        default: true
                      typed_custom_fields:
                        type: object
                        properties: {}
                      custom_field_errors:
                        type: object
                        properties: {}
                      crm_record_url: {}
                      email_status_unavailable_reason: {}
                      email_true_status:
                        type: string
                        example: User Managed
                      updated_email_true_status:
                        type: boolean
                        example: true
                        default: true
                      contact_rule_config_statuses:
                        type: array
                      source_display_name:
                        type: string
                        example: Created from API
                      twitter_url: {}
                      contact_emails:
                        type: array
                      next_contact_id: {}
                      time_zone:
                        type: string
                        example: Asia/Krasnoyarsk
                      city:
                        type: string
                        example: Saint Petersburg
                      state:
                        type: string
                        example: Saint Petersburg
                      country:
                        type: string
                        example: Russia
                      show_intent:
                        type: boolean
                        example: false
                        default: true
                      phone_numbers:
                        type: array
                        items:
                          type: object
                          properties:
                            raw_number:
                              type: string
                              example: 555-555-0117
                            sanitized_number:
                              type: string
                              example: '+15555550117'
                            type:
                              type: string
                              example: work_direct
                            position:
                              type: integer
                              example: 0
                              default: 0
                            status:
                              type: string
                              example: no_status
                            dnc_status: {}
                            dnc_other_info: {}
                            dialer_flags: {}
                      account_phone_note: {}
                      free_domain:
                        type: boolean
                        example: false
                        default: true
                      is_likely_to_engage:
                        type: boolean
                        example: false
                        default: true
                      email_domain_catchall:
                        type: boolean
                        example: false
                        default: true
                  labels:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 66e361494acd1307386d4073
                        modality:
                          type: string
                          example: contacts
                        cached_count:
                          type: integer
                          example: 0
                          default: 0
                        name:
                          type: string
                          example: 2024 fiction writers of america attendees
                        created_at:
                          type: string
                          example: '2024-09-12T21:46:49.464Z'
                        updated_at:
                          type: string
                          example: '2024-09-12T21:46:49.544Z'
                        user_id:
                          type: string
                          example: 60affe7d6e270a00f5db6fe4
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Check API key:
                  value: Invalid API key. See https://docs.apollo.io/reference/authentication for how
                    to authenticate.
        '422':
          description: '422'
          content:
            application/json:
              examples:
                Check the account ID:
                  value: "{\n  \"error\": \"Parameters misconfigured. 5234234 is not a valid ID\"\n}"
                Check the contact stage ID:
                  value: "{\n  \"error\": \"Parameters misconfigured. 2342432 is not a valid ID\"\n}"
                Contact has been deleted:
                  value: "{\n  \"error\": \"Cannot update contact as it is deleted.\",\n  \"deleted_contact_ids\"\
                    : [\n    \"66e34b81740c50074e3d1bd4\"\n  ]\n}"
              schema:
                oneOf:
                - title: Check the account ID
                  type: object
                  properties:
                    error:
                      type: string
                      example: Parameters misconfigured. 5234234 is not a valid ID
                - title: Check the contact stage ID
                  type: object
                  properties:
                    error:
                      type: string
                      example: Parameters misconfigured. 2342432 is not a valid ID
                - title: Contact has been deleted
                  type: object
                  properties:
                    error:
                      type: string
                      example: Cannot update contact as it is deleted.
                    deleted_contact_ids:
                      type: array
                      items:
                        type: string
                        example: 66e34b81740c50074e3d1bd4
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Too many requests:
                  value: "{\n    \"message\": \"The maximum number of api calls allowed for api/v1/contacts/{contact_id}\
                    \ is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.\"\
                    \n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The maximum number of api calls allowed for api/v1/contacts/{contact_id}
                      is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.
      deprecated: false
    get:
      summary: View a Contact
      description: '## Endpoint essentials


        **API key access:** `api/v1/contacts/show` or `Master API key`


        **OAuth scopes:** `contact_read`


        **Credit usage:** `0 credits` — [Learn more about API pricing and credits](https://docs.apollo.io/docs/api-pricing).


        <a href="https://knowledge.apollo.io/hc/en-us/articles/5995459280525-View-and-Edit-Contacts" target="_blank">Contacts</a>
        are people saved in Apollo.<br><br>Use the View a Contact endpoint to retrieve details for an
        existing contact in your team''s Apollo database.'
      tags:
      - Contacts
      operationId: view-a-contact
      parameters:
      - name: contact_id
        in: path
        description: 'The Apollo ID for the contact that you want to view. <br><br>To find contact IDs,
          call the <a href="https://docs.apollo.io/reference/search-for-contacts" target="_blank">Search
          for Contacts endpoint</a> and identify the `id` value for the contact. <br><br>Example: `66e34b81740c50074e3d1bd4`'
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    contact:
                      contact_roles: []
                      id: 66e34b81740c50074e3d1bd4
                      first_name: Fyodor
                      last_name: Dostoevsky
                      name: Fyodor Dostoevsky
                      linkedin_url: null
                      title: Chief Writer
                      contact_stage_id: 6095a710bd01d100a506d4ae
                      owner_id: 60affe7d6e270a00f5db6fe4
                      creator_id: 60affe7d6e270a00f5db6fe4
                      person_id: null
                      email_needs_tickling: null
                      organization_name: Apollo.io
                      source: api
                      original_source: api
                      organization_id: 5e66b6381e05b4008c8331b8
                      headline: null
                      photo_url: null
                      present_raw_address: St. Petersburg, Russia
                      linkedin_uid: null
                      extrapolated_email_confidence: null
                      salesforce_id: null
                      salesforce_lead_id: null
                      salesforce_contact_id: null
                      salesforce_account_id: null
                      crm_owner_id: null
                      created_at: '2024-09-12T20:13:53.207Z'
                      emailer_campaign_ids: []
                      direct_dial_status: null
                      direct_dial_enrichment_failed_at: null
                      email_status: verified
                      email_source: null
                      account_id: 63f53afe4ceeca00016bdd2f
                      last_activity_date: null
                      hubspot_vid: null
                      hubspot_company_id: null
                      crm_id: null
                      sanitized_phone: '+15555550117'
                      merged_crm_ids: null
                      updated_at: '2024-09-12T20:14:53.134Z'
                      queued_for_crm_push: false
                      suggested_from_rule_engine_config_id: null
                      email_unsubscribed: null
                      label_ids:
                      - 66e361494acd1307386d4073
                      typed_custom_fields:
                        5b75f1c11dc2727d43ae3bb9: test
                        5c4296857f799409361890ea: test2
                      has_pending_email_arcgate_request: false
                      has_email_arcgate_request: false
                      existence_level: full
                      email: fyodor.dostoevsky@apollo.io
                      email_from_customer: true
                      custom_field_errors: {}
                      crm_record_url: null
                      email_status_unavailable_reason: null
                      email_true_status: User Managed
                      updated_email_true_status: true
                      contact_rule_config_statuses: []
                      source_display_name: Created from API
                      twitter_url: null
                      contact_emails: []
                      next_contact_id: null
                      time_zone: Asia/Krasnoyarsk
                      city: Saint Petersburg
                      state: Saint Petersburg
                      country: Russia
                      show_intent: false
                      phone_numbers:
                      - raw_number: 555-555-0117
                        sanitized_number: '+15555550117'
                        type: work_direct
                        position: 0
                        status: no_status
                        dnc_status: null
                        dnc_other_info: null
                        dialer_flags: null
                      account_phone_note: null
                      free_domain: false
                      is_likely_to_engage: false
                      email_domain_catchall: false
                    labels:
                    - id: 66e361494acd1307386d4073
                      modality: contacts
                      cached_count: 0
                      name: 2024 fiction writers of america attendees
                      created_at: '2024-09-12T21:46:49.464Z'
                      updated_at: '2024-09-12T21:46:49.544Z'
                      user_id: 60affe7d6e270a00f5db6fe4
              schema:
                type: object
                properties:
                  contact:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 66e34b81740c50074e3d1bd4
                      first_name:
                        type: string
                        example: John
                      last_name:
                        type: string
                        example: Doe
                      name:
                        type: string
                        example: John Doe
                      email:
                        type: string
                        example: john.doe@example.com
                      title:
                        type: string
                        example: VP of Sales
                      organization_name:
                        type: string
                        example: Acme Corp
                      account_id:
                        type: string
                        example: 63f53afe4ceeca00016bdd2f
                      owner_id:
                        type: string
                        example: 66302798d03b9601c7934ebf
                      contact_stage_id:
                        type: string
                        example: 6095a710bd01d100a506d4ae
                      linkedin_url:
                        type: string
                        example: https://linkedin.com/in/john-doe-3f9a7c21
                      phone_numbers:
                        type: array
                        items:
                          type: object
                          properties:
                            raw_number:
                              type: string
                            sanitized_number:
                              type: string
                            type:
                              type: string
                      typed_custom_fields:
                        type: object
                        additionalProperties:
                          type: string
                      label_ids:
                        type: array
                        items:
                          type: string
                      created_at:
                        type: string
                        example: '2023-01-01T00:00:00.000Z'
                      updated_at:
                        type: string
                        example: '2023-01-02T00:00:00.000Z'
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Check API key:
                  value: Invalid API key. See https://docs.apollo.io/reference/authentication for how
                    to authenticate.
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Need master API key:
                  value:
                    error: This API key is not authorized to access api/v1/contacts/{contact_id}. Request
                      an API key from your administrator that includes this endpoint in its configured
                      scope.
                    error_code: API_INACCESSIBLE
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: This API key is not authorized to access api/v1/contacts/{contact_id}. Request
                      an API key from your administrator that includes this endpoint in its configured
                      scope.
                  error_code:
                    type: string
                    example: API_INACCESSIBLE
        '422':
          description: '422'
          content:
            application/json:
              examples:
                Contact not found:
                  value:
                    error: Oops! This contact does not exist in Apollo.
                Contact deleted:
                  value:
                    error: This contact has been deleted.
                Unauthorized:
                  value:
                    error: You are not authorized to view this page.
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Oops! This contact does not exist in Apollo.
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Too many requests:
                  value:
                    message: The maximum number of api calls allowed for api/v1/contacts/{contact_id}
                      is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The maximum number of api calls allowed for api/v1/contacts/{contact_id}
                      is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.
      deprecated: false
  /contacts/{contact_id}/opportunities:
    post:
      summary: View Associated Deals
      description: '## Endpoint essentials


        **API key access:** `deals/api/v1/opportunities/search` or `Master API key`


        **OAuth scopes:** `opportunities_list`


        **Credit usage:** `0 credits` — [Learn more about API pricing and credits](https://docs.apollo.io/docs/api-pricing).


        <a href="https://knowledge.apollo.io/hc/en-us/articles/4415062467725-Deals-Overview" target="_blank">Deals</a>
        on Apollo help you track sales opportunities.<br><br>Use the View Associated Deals endpoint to
        retrieve the deals associated with a contact.<br><br>This endpoint doesn''t require a request
        body. If you include one, Apollo doesn''t read its fields. An empty JSON <code>{}</code> is sufficient.<br><br>Each
        result returns the same deal details as <a href="https://docs.apollo.io/reference/view-deal">View
        Deal</a> endpoint. If the contact has no associated deals or the contact ID isn''t recognized,
        Apollo returns a <code>200</code> response with an empty array rather than a <code>404</code>
        error.'
      tags:
      - Contacts
      operationId: view-associated-deals
      parameters:
      - name: contact_id
        in: path
        required: true
        description: 'The ID for the contact whose associated deals you want to retrieve. <br><br>Example:
          <code>64a7ff0cc4dfae00013df1a5</code>'
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties: {}
            examples:
              Empty body:
                value: {}
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Contact with associated deals:
                  value:
                    opportunities:
                    - id: 66e09ea8e3cfcf01b2208ec7
                      team_id: 6095a710bd01d100a506d4ac
                      owner_id: 66302798d03b9601c7934ebf
                      salesforce_owner_id: null
                      amount: 99999999
                      closed_date: null
                      account_id: 60afffecbff6de00a4b82be7
                      description: null
                      is_closed: false
                      is_won: false
                      name: Massive Space Deal
                      stage_name: null
                      opportunity_stage_id: 6095a710bd01d100a506d4bd
                      source: api
                      salesforce_id: null
                      created_at: '2024-09-10T19:31:52.436Z'
                      actual_close_date: null
                      next_step: null
                      next_step_date: null
                      closed_lost_reason: null
                      closed_won_reason: null
                      forecast_category: pipeline
                      deal_probability: 10
                      created_by_id: 60affe7d6e270a00f5db6fe4
                      current_solutions: null
                      deal_source: null
                      manually_updated_probability: null
                      manually_updated_forecast: null
                      crm_id: null
                      crm_record_url: null
                      crm_owner_id: null
                      probability: null
                      opportunity_pipeline_id: 654b989fcb2a5200010a90db
                      stage_updated_at: '2024-09-10T19:33:40.529+00:00'
                      next_step_last_updated_at: null
                      exchange_rate_code: USD
                      exchange_rate_value: 1
                      amount_in_team_currency: 99999999
                      forecasted_revenue: 9999999.9
                      last_activity_date: '2024-09-10T19:33:40.529Z'
                      existence_level: full
                      typed_custom_fields: {}
                      opportunity_rule_config_statuses: []
                      opportunity_contact_roles:
                      - id: 64a7ff0cc4dfae00013df1a5
                        role: Decision Maker
                        contact:
                          id: 64a7ff0cc4dfae00013df1a5
                          name: Tim Zheng
                          first_name: Tim
                          last_name: Zheng
                      currency:
                        name: US Dollar
                        iso_code: USD
                        symbol: $
                      num_contacts: 1
                      account:
                        id: 60afffecbff6de00a4b82be7
                        domain: nasa.gov
                        name: NASA - National Aeronautics and Space Administration
                        team_id: 6095a710bd01d100a506d4ac
                        organization_id: 55e16cfbf3e5bb66cf0026f3
                        account_stage_id: 6095a710bd01d100a506d4b9
                        source: deployment
                        original_source: deployment
                        creator_id: null
                        owner_id: null
                        created_at: '2021-05-27T20:24:12.644Z'
                        phone: +1 202-555-0117
                        phone_status: no_status
                        hubspot_id: null
                        salesforce_id: null
                        crm_owner_id: null
                        parent_account_id: null
                        linkedin_url: null
                        sanitized_phone: '+12025550117'
                        account_playbook_statuses: []
                        account_rule_config_statuses: []
                        existence_level: full
                        label_ids: []
                        typed_custom_fields: {}
                        custom_field_errors: null
                        modality: account
                        source_display_name: Requested from Apollo
                        crm_record_url: null
                        contact_emailer_campaign_ids: []
                        contact_campaign_status_tally: {}
                        num_contacts: 1
                        last_activity_date: null
                Contact with no associated deals:
                  value:
                    opportunities: []
              schema:
                type: object
                properties:
                  opportunities:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 66e09ea8e3cfcf01b2208ec7
                        team_id:
                          type: string
                          example: 6095a710bd01d100a506d4ac
                        owner_id:
                          type: string
                          example: 66302798d03b9601c7934ebf
                        salesforce_owner_id: {}
                        amount:
                          type: integer
                          example: 99999999
                          default: 0
                        closed_date: {}
                        account_id:
                          type: string
                          example: 60afffecbff6de00a4b82be7
                        description: {}
                        is_closed:
                          type: boolean
                          example: false
                          default: true
                        is_won:
                          type: boolean
                          example: false
                          default: true
                        name:
                          type: string
                          example: Massive Space Deal
                        stage_name: {}
                        opportunity_stage_id:
                          type: string
                          example: 6095a710bd01d100a506d4bd
                        source:
                          type: string
                          example: api
                        salesforce_id: {}
                        created_at:
                          type: string
                          example: '2024-09-10T19:31:52.436Z'
                        actual_close_date: {}
                        next_step: {}
                        next_step_date: {}
                        closed_lost_reason: {}
                        closed_won_reason: {}
                        forecast_category:
                          type: string
                          example: pipeline
                        deal_probability:
                          type: integer
                          example: 10
                          default: 0
                        created_by_id:
                          type: string
                          example: 60affe7d6e270a00f5db6fe4
                        current_solutions: {}
                        deal_source: {}
                        manually_updated_probability: {}
                        manually_updated_forecast: {}
                        crm_id: {}
                        crm_record_url: {}
                        crm_owner_id: {}
                        probability: {}
                        opportunity_pipeline_id:
                          type: string
                          example: 654b989fcb2a5200010a90db
                        stage_updated_at:
                          type: string
                          example: '2024-09-10T19:33:40.529+00:00'
                        next_step_last_updated_at: {}
                        exchange_rate_code:
                          type: string
                          example: USD
                        exchange_rate_value:
                          type: integer
                          example: 1
                          default: 0
                        amount_in_team_currency:
                          type: integer
                          example: 99999999
                          default: 0
                        forecasted_revenue:
                          type: number
                          example: 9999999.9
                          default: 0
                        last_activity_date:
                          type: string
                          example: '2024-09-10T19:33:40.529Z'
                        existence_level:
                          type: string
                          example: full
                        typed_custom_fields:
                          type: object
                          properties: {}
                        opportunity_rule_config_statuses:
                          type: array
                        opportunity_contact_roles:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: 64a7ff0cc4dfae00013df1a5
                              role:
                                type: string
                                example: Decision Maker
                              contact:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    example: 64a7ff0cc4dfae00013df1a5
                                  name:
                                    type: string
                                    example: Tim Zheng
                                  first_name:
                                    type: string
                                    example: Tim
                                  last_name:
                                    type: string
                                    example: Zheng
                        currency:
                          type: object
                          properties:
                            name:
                              type: string
                              example: US Dollar
                            iso_code:
                              type: string
                              example: USD
                            symbol:
                              type: string
                              example: $
                        num_contacts:
                          type: integer
                          example: 1
                          default: 0
                        account:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 60afffecbff6de00a4b82be7
                            domain:
                              type: string
                              example: nasa.gov
                            name:
                              type: string
                              example: NASA - National Aeronautics and Space Administration
                            team_id:
                              type: string
                              example: 6095a710bd01d100a506d4ac
                            organization_id:
                              type: string
                              example: 55e16cfbf3e5bb66cf0026f3
                            account_stage_id:
                              type: string
                              example: 6095a710bd01d100a506d4b9
                            source:
                              type: string
                              example: deployment
                            original_source:
                              type: string
                              example: deployment
                            creator_id: {}
                            owner_id: {}
                            created_at:
                              type: string
                              example: '2021-05-27T20:24:12.644Z'
                            phone:
                              type: string
                              example: +1 202-555-0117
                            phone_status:
                              type: string
                              example: no_status
                            hubspot_id: {}
                            salesforce_id: {}
                            crm_owner_id: {}
                            parent_account_id: {}
                            linkedin_url: {}
                            sanitized_phone:
                              type: string
                              example: '+12025550117'
                            account_playbook_statuses:
                              type: array
                            account_rule_config_statuses:
                              type: array
                              items:
                                type: object
                                properties:
                                  _id:
                                    type: string
                                    example: 6466e8047759270001e53509
                                  created_at: {}
                                  rule_action_config_id:
                                    type: string
                                    example: 64650edd434f8f00a3b13938
                                  rule_config_id:
                                    type: string
                                    example: 64650edd434f8f00a3b13939
                                  status_cd:
                                    type: string
                                    example: completed
                                  updated_at: {}
                                  id:
                                    type: string
                                    example: 6466e8047759270001e53509
                                  key:
                                    type: string
                                    example: 6466e8047759270001e53509
                            existence_level:
                              type: string
                              example: full
                            label_ids:
                              type: array
                              items:
                                type: string
                                example: 6466e8261e13be000133f25d
                            typed_custom_fields:
                              type: object
                              properties: {}
                            custom_field_errors: {}
                            modality:
                              type: string
                              example: account
                            source_display_name:
                              type: string
                              example: Requested from Apollo
                            crm_record_url: {}
                            contact_emailer_campaign_ids:
                              type: array
                            contact_campaign_status_tally:
                              type: object
                              properties: {}
                            num_contacts:
                              type: integer
                              example: 0
                              default: 0
                            last_activity_date: {}
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Check API key:
                  value: Invalid API key. See https://docs.apollo.io/reference/authentication for how
                    to authenticate.
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Too many requests:
                  value:
                    message: The maximum number of api calls allowed for api/v1/contacts/{contact_id}/opportunities
                      is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The maximum number of api calls allowed for api/v1/contacts/{contact_id}/opportunities
                      is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.
      deprecated: false
  /contacts/search:
    post:
      summary: Search for Contacts
      description: '## Endpoint essentials


        **API key access:** `api/v1/contacts/search` or `Master API key`


        **OAuth scopes:** `contacts_search`


        **Credit usage:** `0 credits` — [Learn more about API pricing and credits](https://docs.apollo.io/docs/api-pricing).


        <a href="https://knowledge.apollo.io/hc/en-us/articles/5995459280525-View-and-Edit-Contacts" target="_blank">Contacts</a>
        are people saved in Apollo.<br><br>Use the Search for Contacts endpoint to search for the contacts
        that have been added to your team''s Apollo account.<br><br>This endpoint only returns contacts
        in the search results. To search for people in the Apollo database, call the <a href="https://docs.apollo.io/reference/people-api-search">People
        API Search endpoint</a>.<br><br>To protect Apollo''s performance for all users, this endpoint
        has a display limit of 50,000 records (100 records per page, up to 500 pages). Add more filters
        to narrow your search results as much as possible.'
      tags:
      - Contacts
      operationId: search-for-contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                q_keywords:
                  type: string
                  description: 'Add a keyword search string to narrow the contacts in your team''s Apollo
                    account. Keywords should be related to the same search concept and can include names,
                    job titles, employers or company names, or email addresses. Examples: `matthew helm`;
                    `CEO`; `Sumware Software`'
                contact_stage_ids:
                  type: array
                  items:
                    type: string
                  description: 'The Apollo IDs for the contact stages that you want to include in your
                    search results. If you add multiple contact stages, Apollo will include all contacts
                    that match any of the stages, along with the other parameters, in the search results.
                    Call the [List Contact Stages endpoint](https://docs.apollo.io/reference/list-contact-stages)
                    to retrieve a list of all the contact stage IDs available in your Apollo account.
                    Example: `6095a710bd01d100a506d4ae`'
                contact_label_ids:
                  type: array
                  items:
                    type: string
                  description: 'The Apollo IDs for the labels that you want to include in your search
                    results. If you add multiple labels, Apollo will include all contacts connected to
                    any of the labels, along with the other parameters, in the search results. Example:
                    `[''6095a710bd01d100a506d4ae'']`'
                sort_by_field:
                  type: string
                  description: "Sort the matching contacts by 1 of the following options: \n- `contact_last_activity_date`:\
                    \ The most recent activity date recorded first.\n- `contact_email_last_opened_at`:\
                    \ The most recent email opened date first.\n- `contact_email_last_clicked_at`: The\
                    \ most recent email clicked first.\n- `contact_created_at`: The most recently created\
                    \ first.\n- `contact_updated_at`: The most recently updated first."
                sort_ascending:
                  type: boolean
                  default: false
                  description: 'Set to `true` to sort the matching contacts in ascending order. This parameter
                    must be used with `sort_by_field`. Otherwise, the sorting logic is not applied. Example:
                    `true`'
                per_page:
                  type: integer
                  format: int32
                  description: 'The number of search results that should be returned for each page. Limiting
                    the number of results per page improves the endpoint''s performance. Use the `page`
                    parameter to search the different pages of data. Example: `10`'
                page:
                  type: integer
                  format: int32
                  description: 'The page number of the Apollo data that you want to retrieve. Use this
                    parameter in combination with the `per_page` parameter to make search results navigable
                    and improve the performance of the endpoint. Example: `4`'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    contacts:
                    - contact_roles: []
                      id: 66e3726977d36c03f2c30afc
                      first_name: Walt
                      last_name: Whitman
                      name: Walt Whitman
                      linkedin_url: null
                      title: Associate Writer
                      contact_stage_id: 6095a710bd01d100a506d4ae
                      owner_id: 60affe7d6e270a00f5db6fe4
                      creator_id: 60affe7d6e270a00f5db6fe4
                      person_id: null
                      email_needs_tickling: null
                      organization_name: Apollo.io
                      source: api
                      original_source: api
                      organization_id: 5e66b6381e05b4008c8331b8
                      headline: null
                      photo_url: null
                      present_raw_address: null
                      linkedin_uid: null
                      extrapolated_email_confidence: null
                      salesforce_id: null
                      salesforce_lead_id: null
                      salesforce_contact_id: null
                      salesforce_account_id: null
                      crm_owner_id: null
                      created_at: '2024-09-12T22:59:53.423Z'
                      emailer_campaign_ids: []
                      direct_dial_status: null
                      direct_dial_enrichment_failed_at: null
                      email_status: verified
                      email_source: null
                      account_id: 63f53afe4ceeca00016bdd2f
                      last_activity_date: null
                      hubspot_vid: null
                      hubspot_company_id: null
                      crm_id: null
                      sanitized_phone: null
                      merged_crm_ids: null
                      updated_at: '2024-09-12T23:00:41.194Z'
                      queued_for_crm_push: false
                      suggested_from_rule_engine_config_id: null
                      email_unsubscribed: null
                      label_ids:
                      - 68eec47ece3b0b000de4751f
                      has_pending_email_arcgate_request: false
                      has_email_arcgate_request: false
                      existence_level: full
                      email: wwhitman@apollo.io
                      email_from_customer: true
                      typed_custom_fields: {}
                      custom_field_errors: {}
                      crm_record_url: null
                      email_status_unavailable_reason: null
                      email_true_status: User Managed
                      updated_email_true_status: true
                      contact_rule_config_statuses: []
                      source_display_name: Created from API
                      twitter_url: null
                      contact_campaign_statuses: []
                      account:
                        id: 63f53afe4ceeca00016bdd2f
                        name: Apollo.io
                        website_url: http://www.apollo.io
                        blog_url: null
                        angellist_url: null
                        linkedin_url: http://www.linkedin.com/company/apolloio
                        twitter_url: https://twitter.com/meetapollo/
                        facebook_url: https://www.facebook.com/MeetApollo
                        primary_phone: {}
                        languages: []
[...]
