openapi: 3.1.0
info:
  title: Apollo.io Deals API
  version: '1.0'
  summary: Programmatic access to Apollo's sales intelligence and engagement platform — data enrichment,
    prospect and company search, and go-to-market workflow management.
  description: 'The Apollo API provides programmatic access to [Apollo](https://www.apollo.io/), the all-in-one
    sales intelligence and engagement platform. Use it to enrich people and company data (individually
    or in bulk), search Apollo''s database of over 240 million contacts and 30 million companies, and
    manage accounts, contacts, deals, sequences, tasks, calls, and conversations in your go-to-market
    workflows.


    ## Base URL


    All API requests are made to `https://api.apollo.io/api/v1`.


    ## Authentication


    - **Apollo users** authenticate with an API key passed in the `x-api-key` request header. See [Create
    API Keys](https://docs.apollo.io/docs/create-api-key).

    - **Apollo partners** building integrations on behalf of mutual users authenticate with the [OAuth
    2.0 authorization flow](https://docs.apollo.io/docs/use-oauth-20-authorization-flow-to-access-apollo-user-information-partners).


    ## Rate limits & credits


    Rate limits and credit consumption depend on your [Apollo pricing plan](https://docs.apollo.io/docs/api-pricing).
    Check your current limits and usage with the [View API Usage Stats and Rate Limits](https://docs.apollo.io/reference/view-api-usage-stats)
    endpoint. For more details, see [Rate Limits](https://docs.apollo.io/reference/rate-limits) and the
    [API FAQs](https://docs.apollo.io/docs/apollo-api-faqs).


    New to the API? Start with the [Apollo API overview](https://docs.apollo.io/reference/apollo-api).'
  termsOfService: https://www.apollo.io/terms/api
  contact:
    name: Apollo API Support
    url: https://docs.apollo.io/
servers:
- url: https://api.apollo.io/api/v1
tags:
- name: Deals
  description: Create, update, and track deals in your pipeline.
security:
- apiKey: []
- bearerAuth: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: '[Recommended] API key, passed in the `x-api-key` request header.

        See [Create API Keys](https://docs.apollo.io/docs/create-api-key).'
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth 2.0 access token, used by Apollo partners building integrations.

        See the [OAuth 2.0 authorization flow](https://docs.apollo.io/docs/use-oauth-20-authorization-flow-to-access-apollo-user-information-partners).'
paths:
  /opportunities:
    post:
      summary: Create Deal
      description: '## Endpoint essentials


        **API key access:** `deals/api/v1/opportunities/create` or `Master API key`


        **OAuth scopes:** `opportunity_write`


        **Credit usage:** `0 credits` — [Learn more about API pricing and credits](https://docs.apollo.io/docs/api-pricing).


        <a href="https://knowledge.apollo.io/hc/en-us/articles/4415062467725-Deals-Overview" target="_blank">Deals</a>
        on Apollo help you track sales opportunities.<br><br>Use the Create Deal endpoint to create new
        deals for an Apollo account.<br><br>To update existing deals in your Apollo account, use the <a
        href="https://docs.apollo.io/reference/update-deal">Update Deal endpoint</a> instead.'
      tags:
      - Deals
      operationId: create-deal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: 'Name the deal you are creating. This should be a human-readable name.
                    <br><br>Example: `Massive Q3 Deal`'
                owner_id:
                  type: string
                  description: 'The ID for the deal owner within your team''s Apollo account. <br><br>Use
                    the <a href="https://docs.apollo.io/reference/get-a-list-of-users" target="_blank">Get
                    a List of Users endpoint</a> to retrieve IDs for all of the users within your Apollo
                    account. <br><br>Example: `66302798d03b9601c7934ebf`'
                account_id:
                  type: string
                  description: 'The ID for the account within your Apollo instance. This is the company
                    that you are targeting as part of the deal being created. <br><br>Each company in
                    the Apollo database is assigned a unique ID. To find IDs, call the <a href="https://docs.apollo.io/reference/organization-search"
                    target="_blank">Organization Search endpoint</a> and identify the values for `organization_id`.
                    <br><br>Example: `5e66b6381e05b4008c8331b8`'
                amount:
                  type: string
                  description: 'The monetary value of the deal being created. <br><br>Do not enter commas
                    or currency symbols for the value. The currency is automatically populated by the
                    settings within your Apollo account. Commas are not accepted and result in the deal
                    amount being left blank. <br><br>Example: `55123478` (results in a deal value of `$55,123,478`
                    if the default currency is USD)'
                opportunity_stage_id:
                  type: string
                  description: 'The ID for the deal stage within your team''s Apollo account. <br><br>Each
                    deal stage is assigned a unique ID. To find deal stage IDs, call the <a href="https://docs.apollo.io/reference/list-deal-stages"
                    target="_blank">List Deal Stages endpoint</a> and identify the value for `id` for
                    each stage. <br><br>Example: `6095a710bd01d100a506d4bd`'
                closed_date:
                  type: string
                  format: date
                  description: 'The estimated close date for the deal. This can be a future or past date.
                    <br><br>The date should be formatted as `YYYY-MM-DD`. <br><br>Example: `2025-10-30`'
                typed_custom_fields:
                  type: object
                  description: "Add information to <a href=\"https://knowledge.apollo.io/hc/en-us/articles/4415062486669-Create-a-Deal\"\
                    \ target=\"_blank\">custom fields</a> in Apollo. <br><br><b>Your custom fields are\
                    \ unique to your team's Apollo account. This means that the examples in this documentation\
                    \ may not work for your testing purposes.</b> <br><br>To utilize this parameter successfully,\
                    \ call the <a href=\"https://docs.apollo.io/reference/get-a-list-of-all-custom-fields\"\
                    >Get a List of All Custom Fields</a> endpoint and identify the `id` value for the\
                    \ custom field, as well as the appropriate data type. For example, if a custom field\
                    \ accepts picklist entries, you need to pass the accompanying `id` value for the picklist\
                    \ entry that you want to use as the input value. <br><br><b>Example</b>: When the\
                    \ <a href=\"https://docs.apollo.io/reference/get-a-list-of-all-custom-fields\">Get\
                    \ a List of All Custom Fields</a> endpoint returns an `id` of field: \n * `\"60c39ed82bd02f01154c470a\"\
                    ` (datetime) \n \n\n then the value passed should be: \n\n `{\"60c39ed82bd02f01154c470a\"\
                    : \"2025-08-07\"}`"
                  additionalProperties:
                    type: string
                  example:
                    60c39ed82bd02f01154c470a: '2025-08-07'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    opportunity:
                      id: 66e09ea8e3cfcf01b2208ec7
                      team_id: 6095a710bd01d100a506d4ac
                      owner_id: 66302798d03b9601c7934ebf
                      salesforce_owner_id: null
                      amount: 99999999
                      closed_date: null
                      account_id: 55e16cfbf3e5bb66cf0026f3
                      description: null
                      is_closed: false
                      is_won: false
                      name: Massive Space Deal
                      stage_name: null
                      opportunity_stage_id: 6095a710bd01d100a506d4bd
                      source: api
                      salesforce_id: null
                      created_at: '2024-09-10T19:31:52.436Z'
                      actual_close_date: null
                      next_step: null
                      next_step_date: null
                      closed_lost_reason: null
                      closed_won_reason: null
                      forecast_category: pipeline
                      deal_probability: 10
                      created_by_id: 60affe7d6e270a00f5db6fe4
                      current_solutions: null
                      deal_source: null
                      manually_updated_probability: null
                      manually_updated_forecast: null
                      crm_id: null
                      crm_record_url: null
                      crm_owner_id: null
                      probability: null
                      opportunity_pipeline_id: 654b989fcb2a5200010a90db
                      stage_updated_at: '2024-09-10T19:31:52.436+00:00'
                      next_step_last_updated_at: null
                      exchange_rate_code: USD
                      exchange_rate_value: 1
                      amount_in_team_currency: 99999999
                      forecasted_revenue: 9999999.9
                      last_activity_date: '2024-09-10T19:31:52.436Z'
                      existence_level: none
                      opportunity_rule_config_statuses: []
                      opportunity_contact_roles: []
                      currency:
                        name: US Dollar
                        iso_code: USD
                        symbol: $
                      typed_custom_fields:
                        5b75f1c11dc2727d43ae3bb9: test
                        5c4296857f799409361890ea: test2
              schema:
                type: object
                properties:
                  opportunity:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 66e09ea8e3cfcf01b2208ec7
                      team_id:
                        type: string
                        example: 6095a710bd01d100a506d4ac
                      owner_id:
                        type: string
                        example: 66302798d03b9601c7934ebf
                      salesforce_owner_id: {}
                      amount:
                        type: integer
                        example: 99999999
                        default: 0
                      closed_date: {}
                      account_id:
                        type: string
                        example: 55e16cfbf3e5bb66cf0026f3
                      description: {}
                      is_closed:
                        type: boolean
                        example: false
                        default: true
                      is_won:
                        type: boolean
                        example: false
                        default: true
                      name:
                        type: string
                        example: Massive Space Deal
                      stage_name: {}
                      opportunity_stage_id:
                        type: string
                        example: 6095a710bd01d100a506d4bd
                      source:
                        type: string
                        example: api
                      salesforce_id: {}
                      created_at:
                        type: string
                        example: '2024-09-10T19:31:52.436Z'
                      actual_close_date: {}
                      next_step: {}
                      next_step_date: {}
                      closed_lost_reason: {}
                      closed_won_reason: {}
                      forecast_category:
                        type: string
                        example: pipeline
                      deal_probability:
                        type: integer
                        example: 10
                        default: 0
                      created_by_id:
                        type: string
                        example: 60affe7d6e270a00f5db6fe4
                      current_solutions: {}
                      deal_source: {}
                      manually_updated_probability: {}
                      manually_updated_forecast: {}
                      crm_id: {}
                      crm_record_url: {}
                      crm_owner_id: {}
                      probability: {}
                      opportunity_pipeline_id:
                        type: string
                        example: 654b989fcb2a5200010a90db
                      stage_updated_at:
                        type: string
                        example: '2024-09-10T19:31:52.436+00:00'
                      next_step_last_updated_at: {}
                      exchange_rate_code:
                        type: string
                        example: USD
                      exchange_rate_value:
                        type: integer
                        example: 1
                        default: 0
                      amount_in_team_currency:
                        type: integer
                        example: 99999999
                        default: 0
                      forecasted_revenue:
                        type: number
                        example: 9999999.9
                        default: 0
                      last_activity_date:
                        type: string
                        example: '2024-09-10T19:31:52.436Z'
                      existence_level:
                        type: string
                        example: none
                      typed_custom_fields:
                        type: object
                        properties: {}
                      opportunity_rule_config_statuses:
                        type: array
                      opportunity_contact_roles:
                        type: array
                      currency:
                        type: object
                        properties:
                          name:
                            type: string
                            example: US Dollar
                          iso_code:
                            type: string
                            example: USD
                          symbol:
                            type: string
                            example: $
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Check API key:
                  value: Invalid API key. See https://docs.apollo.io/reference/authentication for how
                    to authenticate.
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Need master API key:
                  value: "{\n  \"error\": \"This API key is not authorized to access deals/api/v1/opportunities/create.\
                    \ Request an API key from your administrator that includes this endpoint in its configured\
                    \ scope.\",\n  \"error_code\": \"API_INACCESSIBLE\"\n}"
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: This API key is not authorized to access deals/api/v1/opportunities/create.
                      Request an API key from your administrator that includes this endpoint in its configured
                      scope.
                  error_code:
                    type: string
                    example: API_INACCESSIBLE
        '422':
          description: '422'
          content:
            application/json:
              examples:
                Enter a deal name:
                  value: "{\n  \"error\": \"Name is required\"\n}"
                Check the entered ID:
                  value: "{\n  \"error\": \"Parameters misconfigured. 12345 is not a valid ID\"\n}"
              schema:
                oneOf:
                - title: Enter a deal name
                  type: object
                  properties:
                    error:
                      type: string
                      example: Name is required
                - title: Check the entered ID
                  type: object
                  properties:
                    error:
                      type: string
                      example: Parameters misconfigured. 12345 is not a valid ID
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Too many requests:
                  value: "{\n    \"message\": \"The maximum number of api calls allowed for api/v1/opportunities\
                    \ is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.\"\
                    \n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The maximum number of api calls allowed for api/v1/opportunities is 600 times
                      per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.
      deprecated: false
  /opportunities/search:
    get:
      summary: List All Deals
      description: '## Endpoint essentials


        **API key access:** `deals/api/v1/opportunities/search` or `Master API key`


        **OAuth scopes:** `opportunities_list`


        **Credit usage:** `0 credits` — [Learn more about API pricing and credits](https://docs.apollo.io/docs/api-pricing).


        <a href="https://knowledge.apollo.io/hc/en-us/articles/4415062467725-Deals-Overview" target="_blank">Deals</a>
        on Apollo help you track sales opportunities.<br><br>Use the List All Deals endpoint to retrieve
        every deal that has been created for your team''s Apollo account.'
      tags:
      - Deals
      operationId: list-all-deals
      parameters:
      - name: sort_by_field
        in: query
        description: 'Sort the tasks by 1 of the following options:    <ul> <li> `amount`: The largest
          deal values first. </li> <li> `is_closed`: Deals that have been closed first. </li> <li> `is_won`:
          Deals that have been won first. </li> </ul>'
        schema:
          type: string
      - name: page
        in: query
        description: 'The page number of the Apollo data that you want to retrieve. <br><br>Use this parameter
          in combination with the `per_page` parameter to make search results for navigable and improve
          the performance of the endpoint. <br><br>Example: `4`'
        schema:
          type: integer
          format: int32
      - name: per_page
        in: query
        description: 'The number of search results that should be returned for each page. Limiting the
          number of results per page improves the endpoint''s performance. <br><br>Use the `page` parameter
          to search the different pages of data. <br><br>Example: `10`'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"breadcrumbs\": [],\n  \"opportunities\": [\n    {\n      \"id\": \"66e09ea8e3cfcf01b2208ec7\"\
                    ,\n      \"team_id\": \"6095a710bd01d100a506d4ac\",\n      \"owner_id\": \"66302798d03b9601c7934ebf\"\
                    ,\n      \"salesforce_owner_id\": null,\n      \"amount\": 9999999999,\n      \"closed_date\"\
                    : \"2026-10-15T00:00:00.000+00:00\",\n      \"account_id\": \"60afffecbff6de00a4b82be7\"\
                    ,\n      \"description\": null,\n      \"is_closed\": false,\n      \"is_won\": false,\n\
                    \      \"name\": \"Ridiculously Massive Space Deal\",\n      \"stage_name\": null,\n\
                    \      \"opportunity_stage_id\": \"66bb94fbc1695c00017fba5f\",\n      \"source\":\
                    \ \"api\",\n      \"salesforce_id\": null,\n      \"created_at\": \"2024-09-10T19:31:52.436Z\"\
                    ,\n      \"actual_close_date\": null,\n      \"next_step\": null,\n      \"next_step_date\"\
                    : null,\n      \"closed_lost_reason\": null,\n      \"closed_won_reason\": null,\n\
                    \      \"forecast_category\": \"pipeline\",\n      \"deal_probability\": 25,\n   \
                    \   \"created_by_id\": \"60affe7d6e270a00f5db6fe4\",\n      \"current_solutions\"\
                    : null,\n      \"deal_source\": null,\n      \"manually_updated_probability\": null,\n\
                    \      \"manually_updated_forecast\": null,\n      \"crm_id\": null,\n      \"crm_record_url\"\
                    : null,\n      \"crm_owner_id\": null,\n      \"probability\": null,\n      \"opportunity_pipeline_id\"\
                    : null,\n      \"stage_updated_at\": \"2024-09-10T21:50:18.113+00:00\",\n      \"\
                    next_step_last_updated_at\": null,\n      \"exchange_rate_code\": \"USD\",\n     \
                    \ \"exchange_rate_value\": 1,\n      \"amount_in_team_currency\": 9999999999,\n  \
                    \    \"forecasted_revenue\": 2499999999.75,\n      \"last_activity_date\": \"2024-09-10T21:50:18.113Z\"\
                    ,\n      \"existence_level\": \"full\",\n      \"typed_custom_fields\": {},\n    \
                    \  \"opportunity_rule_config_statuses\": [],\n      \"opportunity_contact_roles\"\
                    : [],\n      \"currency\": {\n        \"name\": \"US Dollar\",\n        \"iso_code\"\
                    : \"USD\",\n        \"symbol\": \"$\"\n      },\n      \"account\": {\n        \"\
                    id\": \"60afffecbff6de00a4b82be7\",\n        \"name\": \"NASA - National Aeronautics\
                    \ and Space Administration\",\n        \"website_url\": \"http://www.nasa.gov\",\n\
                    \        \"blog_url\": null,\n        \"angellist_url\": null,\n        \"linkedin_url\"\
                    : \"http://www.linkedin.com/company/nasa\",\n        \"twitter_url\": \"https://twitter.com/NASA\"\
                    ,\n        \"facebook_url\": \"http://www.facebook.com/NASAJPL\",\n        \"primary_phone\"\
                    : {\n          \"number\": \"+1 202-555-0117\",\n          \"source\": \"Owler\",\n\
                    \          \"sanitized_number\": \"+12025550117\"\n        },\n        \"languages\"\
                    : [\n          \"English\"\n        ],\n        \"alexa_ranking\": 1751,\n       \
                    \ \"phone\": \"+1 202-555-0117\",\n        \"linkedin_uid\": \"2003\",\n        \"\
                    founded_year\": 1958,\n        \"publicly_traded_symbol\": null,\n        \"publicly_traded_exchange\"\
                    : \"nyse\",\n        \"logo_url\": \"https://zenprospect-production.s3.amazonaws.com/uploads/pictures/139afb7258561417c1d70d4c/picture\"\
                    ,\n        \"crunchbase_url\": null,\n        \"primary_domain\": \"nasa.gov\",\n\
                    \        \"sanitized_phone\": \"+12025550117\",\n        \"domain\": \"nasa.gov\"\
                    ,\n        \"team_id\": \"6095a710bd01d100a506d4ac\",\n        \"organization_id\"\
                    : \"55e16cfbf3e5bb66cf0026f3\",\n        \"account_stage_id\": \"6095a710bd01d100a506d4b9\"\
                    ,\n        \"source\": \"deployment\",\n        \"original_source\": \"deployment\"\
                    ,\n        \"creator_id\": null,\n        \"owner_id\": null,\n        \"created_at\"\
                    : \"2021-05-27T20:24:12.644Z\",\n        \"phone_status\": \"no_status\",\n      \
                    \  \"hubspot_id\": null,\n        \"salesforce_id\": null,\n        \"crm_owner_id\"\
                    : null,\n        \"parent_account_id\": null,\n        \"account_playbook_statuses\"\
                    : [],\n        \"account_rule_config_statuses\": [\n          {\n            \"_id\"\
                    : \"6466e8047759270001e53509\",\n            \"created_at\": null,\n            \"\
                    rule_action_config_id\": \"64650edd434f8f00a3b13938\",\n            \"rule_config_id\"\
                    : \"64650edd434f8f00a3b13939\",\n            \"status_cd\": \"completed\",\n     \
                    \       \"updated_at\": null,\n            \"id\": \"6466e8047759270001e53509\",\n\
                    \            \"key\": \"6466e8047759270001e53509\"\n          },\n          {\n  \
                    \          \"_id\": \"664f9e867bc0ad0001bd4230\",\n            \"created_at\": null,\n\
                    \            \"rule_action_config_id\": \"65735e0ea63d2700faba5c6e\",\n          \
                    \  \"rule_config_id\": \"65735e0ea63d2700faba5c6f\",\n            \"status_cd\": \"\
                    completed\",\n            \"updated_at\": null,\n            \"id\": \"664f9e867bc0ad0001bd4230\"\
                    ,\n            \"key\": \"664f9e867bc0ad0001bd4230\"\n          }\n        ],\n  \
                    \      \"existence_level\": \"full\",\n        \"label_ids\": [\n          \"6466e8261e13be000133f25d\"\
                    \n        ],\n        \"typed_custom_fields\": {},\n        \"custom_field_errors\"\
                    : null,\n        \"modality\": \"account\",\n        \"source_display_name\": \"Requested\
                    \ from Apollo\",\n        \"crm_record_url\": null,\n        \"contact_emailer_campaign_ids\"\
                    : [],\n        \"contact_campaign_status_tally\": {},\n        \"num_contacts\": 2,\n\
                    \        \"last_activity_date\": null\n      }\n    },\n    {\n      \"id\": \"66e0ab918c3aab02d0fc1484\"\
                    ,\n      \"team_id\": \"6095a710bd01d100a506d4ac\",\n      \"owner_id\": \"66302798d03b9601c7934ebf\"\
                    ,\n      \"salesforce_owner_id\": null,\n      \"amount\": 3543535353,\n      \"closed_date\"\
                    : \"2025-01-24T00:00:00.000+00:00\",\n      \"account_id\": \"6598a1ff9998b100011e62e8\"\
                    ,\n      \"description\": null,\n      \"is_closed\": false,\n      \"is_won\": false,\n\
                    \      \"name\": \"Massive Big Deal\",\n      \"stage_name\": null,\n      \"opportunity_stage_id\"\
                    : \"6095a710bd01d100a506d4bd\",\n      \"source\": \"ui_form\",\n      \"salesforce_id\"\
                    : null,\n      \"created_at\": \"2024-09-10T20:26:57.250Z\",\n      \"actual_close_date\"\
                    : null,\n      \"next_step\": null,\n      \"next_step_date\": null,\n      \"closed_lost_reason\"\
                    : null,\n      \"closed_won_reason\": null,\n      \"forecast_category\": \"pipeline\"\
                    ,\n      \"deal_probability\": 10,\n      \"created_by_id\": \"66302798d03b9601c7934ebf\"\
                    ,\n      \"current_solutions\": null,\n      \"deal_source\": null,\n      \"manually_updated_probability\"\
                    : null,\n      \"manually_updated_forecast\": null,\n      \"crm_id\": null,\n   \
                    \   \"crm_record_url\": null,\n      \"crm_owner_id\": null,\n      \"probability\"\
                    : null,\n      \"opportunity_pipeline_id\": \"654b989fcb2a5200010a90db\",\n      \"\
                    stage_updated_at\": \"2024-09-10T20:26:57.250+00:00\",\n      \"next_step_last_updated_at\"\
                    : null,\n      \"exchange_rate_code\": \"USD\",\n      \"exchange_rate_value\": 1,\n\
                    \      \"amount_in_team_currency\": 3543535353,\n      \"forecasted_revenue\": 354353535.3,\n\
                    \      \"last_activity_date\": \"2024-09-10T20:27:04.893Z\",\n      \"existence_level\"\
                    : \"full\",\n      \"typed_custom_fields\": {},\n      \"opportunity_rule_config_statuses\"\
                    : [],\n      \"opportunity_contact_roles\": [],\n      \"currency\": {\n        \"\
                    name\": \"US Dollar\",\n        \"iso_code\": \"USD\",\n        \"symbol\": \"$\"\n\
                    \      },\n      \"account\": {\n        \"id\": \"6598a1ff9998b100011e62e8\",\n \
                    \       \"name\": \"NVIDIA\",\n        \"website_url\": \"http://www.nvidia.com\"\
                    ,\n        \"blog_url\": null,\n        \"angellist_url\": null,\n        \"linkedin_url\"\
                    : \"http://www.linkedin.com/company/nvidia\",\n        \"twitter_url\": \"https://twitter.com/NVIDIANetworkng\"\
                    ,\n        \"facebook_url\": \"https://www.facebook.com/NVIDIANetworking\",\n    \
                    \    \"primary_phone\": {\n          \"number\": \"+1 408-555-0142\",\n          \"\
                    source\": \"Owler\",\n          \"sanitized_number\": \"+14085550142\"\n        },\n\
                    \        \"languages\": [],\n        \"alexa_ranking\": 256,\n        \"phone\": \"\
                    +1-408-555-0142\",\n        \"linkedin_uid\": \"3608\",\n        \"founded_year\"\
                    : 1993,\n        \"publicly_traded_symbol\": \"NVDA\",\n        \"publicly_traded_exchange\"\
                    : \"nasdaq\",\n        \"logo_url\": \"https://zenprospect-production.s3.amazonaws.com/uploads/pictures/07f1389988fefd17c25c9b4e/picture\"\
                    ,\n        \"crunchbase_url\": null,\n        \"primary_domain\": \"nvidia.com\",\n\
                    \        \"sanitized_phone\": \"+14085550142\",\n        \"market_cap\": \"2921.5B\"\
                    ,\n        \"domain\": \"nvidia.com\",\n        \"team_id\": \"6095a710bd01d100a506d4ac\"\
                    ,\n        \"organization_id\": \"5f50a22da4560d00e3eddf31\",\n        \"account_stage_id\"\
                    : \"6095a710bd01d100a506d4b7\",\n        \"source\": \"deployment\",\n        \"original_source\"\
                    : \"deployment\",\n        \"creator_id\": \"60affe7d6e270a00f5db6fe4\",\n       \
                    \ \"owner_id\": null,\n        \"created_at\": \"2024-01-06T00:42:39.874Z\",\n   \
                    \     \"phone_status\": \"no_status\",\n        \"hubspot_id\": null,\n        \"\
                    salesforce_id\": null,\n        \"crm_owner_id\": null,\n        \"parent_account_id\"\
                    : null,\n        \"account_playbook_statuses\": [],\n        \"account_rule_config_statuses\"\
                    : [\n          {\n            \"_id\": \"664f9ea42bd8b70001d5125f\",\n           \
                    \ \"created_at\": null,\n            \"rule_action_config_id\": \"65735e0ea63d2700faba5c6e\"\
                    ,\n            \"rule_config_id\": \"65735e0ea63d2700faba5c6f\",\n            \"status_cd\"\
                    : \"completed\",\n            \"updated_at\": null,\n            \"id\": \"664f9ea42bd8b70001d5125f\"\
                    ,\n            \"key\": \"664f9ea42bd8b70001d5125f\"\n          },\n          {\n\
                    \            \"_id\": \"666599704a8c4e0001eb707a\",\n            \"created_at\": null,\n\
                    \            \"rule_action_config_id\": \"64650edd434f8f00a3b13938\",\n          \
                    \  \"rule_config_id\": \"64650edd434f8f00a3b13939\",\n            \"status_cd\": \"\
                    failed\",\n            \"updated_at\": null,\n            \"id\": \"666599704a8c4e0001eb707a\"\
                    ,\n            \"key\": \"666599704a8c4e0001eb707a\"\n          }\n        ],\n  \
                    \      \"existence_level\": \"full\",\n        \"label_ids\": [\n          \"6466e8261e13be000133f25d\"\
                    \n        ],\n        \"typed_custom_fields\": {},\n        \"custom_field_errors\"\
                    : null,\n        \"modality\": \"account\",\n        \"source_display_name\": \"Requested\
                    \ from Apollo\",\n        \"crm_record_url\": null,\n        \"contact_emailer_campaign_ids\"\
                    : [],\n        \"contact_campaign_status_tally\": {},\n        \"num_contacts\": 287,\n\
                    \        \"last_activity_date\": null\n      }\n    },\n    {\n      \"id\": \"64e4d9d3f1b93a00b6e9afcd\"\
                    ,\n      \"team_id\": \"6095a710bd01d100a506d4ac\",\n      \"owner_id\": \"60affe7d6e270a00f5db6fe4\"\
                    ,\n      \"salesforce_owner_id\": null,\n      \"amount\": 20000000,\n      \"closed_date\"\
                    : \"2024-01-31T00:00:00.000+00:00\",\n      \"account_id\": \"62c5b05b09b10900cb37616a\"\
                    ,\n      \"description\": null,\n      \"is_closed\": false,\n      \"is_won\": false,\n\
                    \      \"name\": \"Huge Deal\",\n      \"stage_name\": null,\n      \"opportunity_stage_id\"\
                    : \"6153414bc0559d00016ce5fe\",\n      \"source\": \"ui_form\",\n      \"salesforce_id\"\
                    : null,\n      \"created_at\": \"2023-08-22T15:52:51.142Z\",\n      \"actual_close_date\"\
                    : null,\n      \"next_step\": null,\n      \"next_step_date\": null,\n      \"closed_lost_reason\"\
                    : null,\n      \"closed_won_reason\": null,\n      \"forecast_category\": \"pipeline\"\
                    ,\n      \"deal_probability\": 10,\n      \"created_by_id\": \"60affe7d6e270a00f5db6fe4\"\
                    ,\n      \"current_solutions\": null,\n      \"deal_source\": null,\n      \"manually_updated_probability\"\
                    : null,\n      \"manually_updated_forecast\": null,\n      \"crm_id\": null,\n   \
                    \   \"crm_record_url\": null,\n      \"crm_owner_id\": null,\n      \"probability\"\
                    : null,\n      \"opportunity_pipeline_id\": \"654b989fcb2a5200010a90db\",\n      \"\
                    stage_updated_at\": null,\n      \"next_step_last_updated_at\": null,\n      \"exchange_rate_code\"\
                    : \"USD\",\n      \"exchange_rate_value\": 1,\n      \"amount_in_team_currency\":\
                    \ 20000000,\n      \"forecasted_revenue\": 2000000,\n      \"last_activity_date\"\
                    : \"2023-11-09T02:06:28.283Z\",\n      \"existence_level\": \"full\",\n      \"typed_custom_fields\"\
                    : {},\n      \"opportunity_rule_config_statuses\": [],\n      \"opportunity_contact_roles\"\
                    : [],\n      \"currency\": {\n        \"name\": \"US Dollar\",\n        \"iso_code\"\
                    : \"USD\",\n        \"symbol\": \"$\"\n      },\n      \"account\": {\n        \"\
                    id\": \"62c5b05b09b10900cb37616a\",\n        \"name\": \"Amazon\",\n        \"website_url\"\
                    : \"http://www.amazon.com\",\n        \"blog_url\": null,\n        \"angellist_url\"\
                    : null,\n        \"linkedin_url\": \"http://www.linkedin.com/company/amazon\",\n \
                    \       \"twitter_url\": \"https://twitter.com/amazon\",\n        \"facebook_url\"\
                    : \"https://facebook.com/Amazon/\",\n        \"primary_phone\": {\n          \"number\"\
                    : \"+1 206-555-0108\",\n          \"source\": \"Owler\",\n          \"sanitized_number\"\
                    : \"+12065550108\"\n        },\n        \"languages\": [],\n        \"alexa_ranking\"\
                    : 18,\n        \"phone\": \"+1 206-555-0108\",\n        \"linkedin_uid\": \"1586\"\
                    ,\n        \"founded_year\": 1994,\n        \"publicly_traded_symbol\": \"AMZN\",\n\
                    \        \"publicly_traded_exchange\": \"nasdaq\",\n        \"logo_url\": \"https://zenprospect-production.s3.amazonaws.com/uploads/pictures/4b090fa1d16c355d80faff04/picture\"\
                    ,\n        \"crunchbase_url\": null,\n        \"primary_domain\": \"amazon.com\",\n\
                    \        \"sanitized_phone\": \"+12065550108\",\n        \"market_cap\": \"1957.3B\"\
                    ,\n        \"domain\": \"amazon.com\",\n        \"team_id\": \"6095a710bd01d100a506d4ac\"\
                    ,\n        \"organization_id\": \"5f2a39cb77a7440112460cf5\",\n        \"account_stage_id\"\
                    : \"6095a710bd01d100a506d4b7\",\n        \"source\": \"deployment\",\n        \"original_source\"\
                    : \"deployment\",\n        \"creator_id\": null,\n        \"owner_id\": null,\n  \
                    \      \"created_at\": \"2022-07-06T15:55:07.205Z\",\n        \"phone_status\": \"\
                    no_status\",\n        \"hubspot_id\": null,\n        \"salesforce_id\": null,\n  \
                    \      \"crm_owner_id\": null,\n        \"parent_account_id\": null,\n        \"account_playbook_statuses\"\
                    : [\n          {\n            \"_id\": \"6360ba2b7eb0be00cbea1356\",\n           \
                    \ \"added_by_id\": \"60affe7d6e270a00f5db6fe4\",\n            \"added_on\": \"2022-11-01T06:18:19.578+00:00\"\
                    ,\n            \"completed_step_ids\": [],\n            \"created_at\": null,\n  \
                    \          \"current_step_id\": \"6360b83b3f99e300a3d3d20e\",\n            \"finished_reason_cd\"\
                    : null,\n            \"paused_reason_cd\": 0,\n            \"playbook_id\": \"634832438e3ac500cc66265b\"\
                    ,\n            \"position\": 1,\n            \"status_cd\": \"paused\",\n        \
                    \    \"updated_at\": null,\n            \"id\": \"6360ba2b7eb0be00cbea1356\",\n  \
                    \          \"key\": \"6360ba2b7eb0be00cbea1356\"\n          }\n        ],\n      \
                    \  \"account_rule_config_statuses\": [\n          {\n            \"_id\": \"6466e8047759270001e53509\"\
                    ,\n            \"created_at\": null,\n            \"rule_action_config_id\": \"64650edd434f8f00a3b13938\"\
                    ,\n            \"rule_config_id\": \"64650edd434f8f00a3b13939\",\n            \"status_cd\"\
                    : \"completed\",\n            \"updated_at\": null,\n            \"id\": \"6466e8047759270001e53509\"\
                    ,\n            \"key\": \"6466e8047759270001e53509\"\n          },\n          {\n\
                    \            \"_id\": \"658118c6b2714c0001e4efe5\",\n            \"created_at\": null,\n\
                    \            \"rule_action_config_id\": \"6580939a36272f01c6eda909\",\n          \
                    \  \"rule_config_id\": \"6580939a36272f01c6eda90b\",\n            \"status_cd\": \"\
                    completed\",\n            \"updated_at\": null,\n            \"id\": \"658118c6b2714c0001e4efe5\"\
                    ,\n            \"key\": \"658118c6b2714c0001e4efe5\"\n          },\n          {\n\
                    \            \"_id\": \"662698e8b5d78e0007897f55\",\n            \"created_at\": null,\n\
                    \            \"rule_action_config_id\": \"66268d54ce4494030093b962\",\n          \
                    \  \"rule_config_id\": \"66268d54ce4494030093b963\",\n            \"status_cd\": \"\
                    active\",\n            \"updated_at\": null,\n            \"id\": \"662698e8b5d78e0007897f55\"\
                    ,\n            \"key\": \"662698e8b5d78e0007897f55\"\n          },\n          {\n\
                    \            \"_id\": \"664f9e7887829d0001373206\",\n            \"created_at\": null,\n\
                    \            \"rule_action_config_id\": \"65735e0ea63d2700faba5c6e\",\n          \
                    \  \"rule_config_id\": \"65735e0ea63d2700faba5c6f\",\n            \"status_cd\": \"\
                    completed\",\n            \"updated_at\": null,\n            \"id\": \"664f9e7887829d0001373206\"\
                    ,\n            \"key\": \"664f9e7887829d0001373206\"\n          }\n        ],\n  \
                    \      \"existence_level\": \"full\",\n        \"label_ids\": [\n          \"6466e8261e13be000133f25d\"\
                    \n        ],\n        \"typed_custom_fields\": {},\n        \"custom_field_errors\"\
                    : null,\n        \"modality\": \"account\",\n        \"source_display_name\": \"Requested\
                    \ from Apollo\",\n        \"crm_record_url\": null,\n        \"contact_emailer_campaign_ids\"\
                    : [],\n        \"contact_campaign_status_tally\": {},\n        \"num_contacts\": 11,\n\
                    \        \"last_activity_date\": null\n      }\n    }\n  ],\n  \"salesforce_users\"\
                    : [],\n  \"partial_results_only\": false,\n  \"has_join\": false,\n  \"disable_eu_prospecting\"\
                    : false,\n  \"partial_results_limit\": 10000,\n  \"pagination\": {\n    \"page\":\
                    \ 1,\n    \"per_page\": 3,\n    \"total_entries\": 35,\n    \"total_pages\": 12\n\
                    \  },\n  \"num_fetch_result\": null\n}"
              schema:
                type: object
                properties:
                  breadcrumbs:
                    type: array
                  opportunities:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 66e09ea8e3cfcf01b2208ec7
                        team_id:
                          type: string
                          example: 6095a710bd01d100a506d4ac
                        owner_id:
                          type: string
                          example: 66302798d03b9601c7934ebf
                        salesforce_owner_id: {}
                        amount:
                          type: integer
                          example: 9999999999
                          default: 0
                        closed_date:
                          type: string
                          example: '2026-10-15T00:00:00.000+00:00'
                        account_id:
                          type: string
                          example: 60afffecbff6de00a4b82be7
                        description: {}
                        is_closed:
                          type: boolean
                          example: false
                          default: true
                        is_won:
                          type: boolean
                          example: false
                          default: true
                        name:
                          type: string
                          example: Ridiculously Massive Space Deal
                        stage_name: {}
                        opportunity_stage_id:
                          type: string
                          example: 66bb94fbc1695c00017fba5f
                        source:
                          type: string
                          example: api
                        salesforce_id: {}
                        created_at:
                          type: string
                          example: '2024-09-10T19:31:52.436Z'
                        actual_close_date: {}
                        next_step: {}
                        next_step_date: {}
                        closed_lost_reason: {}
                        closed_won_reason: {}
                        forecast_category:
                          type: string
                          example: pipeline
                        deal_probability:
                          type: integer
                          example: 25
                          default: 0
                        created_by_id:
                          type: string
                          example: 60affe7d6e270a00f5db6fe4
                        current_solutions: {}
                        deal_source: {}
                        manually_updated_probability: {}
                        manually_updated_forecast: {}
                        crm_id: {}
                        crm_record_url: {}
                        crm_owner_id: {}
                        probability: {}
                        opportunity_pipeline_id: {}
                        stage_updated_at:
                          type: string
                          example: '2024-09-10T21:50:18.113+00:00'
                        next_step_last_updated_at: {}
                        exchange_rate_code:
                          type: string
                          example: USD
                        exchange_rate_value:
                          type: integer
                          example: 1
                          default: 0
                        amount_in_team_currency:
                          type: integer
                          example: 9999999999
                          default: 0
                        forecasted_revenue:
                          type: number
                          example: 2499999999.75
                          default: 0
                        last_activity_date:
                          type: string
                          example: '2024-09-10T21:50:18.113Z'
                        existence_level:
                          type: string
                          example: full
                        typed_custom_fields:
                          type: object
                          properties: {}
                        opportunity_rule_config_statuses:
                          type: array
                        opportunity_contact_roles:
                          type: array
                        currency:
                          type: object
                          properties:
                            name:
                              type: string
                              example: US Dollar
                            iso_code:
                              type: string
                              example: USD
                            symbol:
                              type: string
                              example: $
                        account:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 60afffecbff6de00a4b82be7
                            name:
                              type: string
                              example: NASA - National Aeronautics and Space Administration
                            website_url:
                              type: string
                              example: http://www.nasa.gov
                            blog_url: {}
                            angellist_url: {}
                            linkedin_url:
                              type: string
                              example: http://www.linkedin.com/company/nasa
                            twitter_url:
                              type: string
                              example: https://twitter.com/NASA
                            facebook_url:
                              type: string
                              example: http://www.facebook.com/NASAJPL
                            primary_phone:
                              type: object
                              properties:
                                number:
                                  type: string
                                  example: +1 202-555-0117
                                source:
                                  type: string
                                  example: Owler
                                sanitized_number:
                                  type: string
                                  example: '+12025550117'
                            languages:
                              type: array
                              items:
                                type: string
                                example: English
                            alexa_ranking:
                              type: integer
                              example: 1751
                              default: 0
                            phone:
                              type: string
                              example: +1 202-555-0117
                            linkedin_uid:
                              type: string
                              example: '2003'
                            founded_year:
                              type: integer
                              example: 1958
                              default: 0
                            publicly_traded_symbol: {}
                            publicly_traded_exchange:
                              type: string
                              example: nyse
                            logo_url:
                              type: string
                              example: https://zenprospect-production.s3.amazonaws.com/uploads/pictures/139afb7258561417c1d70d4c/picture
                            crunchbase_url: {}
                            primary_domain:
                              type: string
                              example: nasa.gov
                            sanitized_phone:
                              type: string
                              example: '+12025550117'
                            domain:
                              type: string
                              example: nasa.gov
                            team_id:
                              type: string
                              example: 6095a710bd01d100a506d4ac
                            organization_id:
                              type: string
                              example: 55e16cfbf3e5bb66cf0026f3
                            account_stage_id:
                              type: string
                              example: 6095a710bd01d100a506d4b9
                            source:
                              type: string
                              example: deployment
                            original_source:
                              type: string
                              example: deployment
                            creator_id: {}
                            owner_id: {}
                            created_at:
                              type: string
                              example: '2021-05-27T20:24:12.644Z'
                            phone_status:
                              type: string
                              example: no_status
                            hubspot_id: {}
                            salesforce_id: {}
                            crm_owner_id: {}
                            parent_account_id: {}
                            account_playbook_statuses:
                              type: array
                            account_rule_config_statuses:
                              type: array
                              items:
                                type: object
                                properties:
                                  _id:
                                    type: string
                                    example: 6466e8047759270001e53509
                                  created_at: {}
                                  rule_action_config_id:
                                    type: string
                                    example: 64650edd434f8f00a3b13938
                                  rule_config_id:
                                    type: string
                                    example: 64650edd434f8f00a3b13939
                                  status_cd:
                                    type: string
                                    example: completed
                                  updated_at: {}
                                  id:
                                    type: string
                                    example: 6466e8047759270001e53509
                                  key:
                                    type: string
                                    example: 6466e8047759270001e53509
                            existence_level:
                              type: string
                              example: full
                            label_ids:
                              type: array
                              items:
                                type: string
                                example: 6466e8261e13be000133f25d
                            typed_custom_fields:
                              type: object
                              properties: {}
                            custom_field_errors: {}
                            modality:
                              type: string
                              example: account
                            source_display_name:
                              type: string
                              example: Requested from Apollo
                            crm_record_url: {}
                            contact_emailer_campaign_ids:
                              type: array
                            contact_campaign_status_tally:
                              type: object
                              properties: {}
                            num_contacts:
                              type: integer
                              example: 2
                              default: 0
                            last_activity_date: {}
                  salesforce_users:
                    type: array
                  partial_results_only:
                    type: boolean
                    example: false
                    default: true
                  has_join:
                    type: boolean
                    example: false
                    default: true
                  disable_eu_prospecting:
                    type: boolean
                    example: false
                    default: true
                  partial_results_limit:
                    type: integer
                    example: 10000
                    default: 0
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                        example: 1
                        default: 0
                      per_page:
                        type: integer
                        example: 3
                        default: 0
                      total_entries:
                        type: integer
                        example: 35
                        default: 0
                      total_pages:
                        type: integer
                        example: 12
                        default: 0
                  num_fetch_result: {}
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Result:
                  value: Invalid API key. See https://docs.apollo.io/reference/authentication for how
                    to authenticate.
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Need master API key:
                  value: "{\n  \"error\": \"This API key is not authorized to access deals/api/v1/opportunities/search.\
                    \ Request an API key from your administrator that includes this endpoint in its configured\
                    \ scope.\",\n  \"error_code\": \"API_INACCESSIBLE\"\n}"
                Check Apollo pricing plan:
                  value: "{\n  \"message\": \"This endpoint is only available to Apollo users on paid\
                    \ plans.\"\n}"
              schema:
                oneOf:
                - title: Need master API key
                  type: object
                  properties:
                    error:
                      type: string
                      example: This API key is not authorized to access deals/api/v1/opportunities/search.
                        Request an API key from your administrator that includes this endpoint in its
                        configured scope.
                    error_code:
                      type: string
                      example: API_INACCESSIBLE
                - title: Check Apollo pricing plan
                  type: object
                  properties:
                    message:
                      type: string
                      example: This endpoint is only available to Apollo users on paid plans.
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Too many requests:
                  value: "{\n    \"message\": \"The maximum number of api calls allowed for api/v1/opportunities/search\
                    \ is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.\"\
                    \n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The maximum number of api calls allowed for api/v1/opportunities/search is
                      600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.
      deprecated: false
  /opportunities/{opportunity_id}:
    get:
      summary: View Deal
      description: '## Endpoint essentials


        **API key access:** `deals/api/v1/opportunities/show` or `Master API key`


        **OAuth scopes:** `opportunity_read`


        **Credit usage:** `0 credits` — [Learn more about API pricing and credits](https://docs.apollo.io/docs/api-pricing).


        <a href="https://knowledge.apollo.io/hc/en-us/articles/4415062467725-Deals-Overview" target="_blank">Deals</a>
        on Apollo help you track sales opportunities.<br><br>Use the View Deal endpoint to retrieve complete
        details about a deal within your team''s Apollo account.<br><br>Deal information can include the
        ID of the deal owner, the monetary value of the deal, the deal stage, and general details about
        the account.'
      tags:
      - Deals
      operationId: view-deal
      parameters:
      - name: opportunity_id
        in: path
        description: 'The ID for the deal you want to view. <br><br>Each deal in the Apollo database is
          assigned a unique ID. To find deal IDs, call the <a href="https://docs.apollo.io/reference/list-all-deals"
          target="_blank">List All Deals endpoint</a> and identify the value for `id` for the desired
          deal. <br><br>Example: `66e09ea8e3cfcf01b2208ec7`'
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"opportunity\": {\n    \"id\": \"66e09ea8e3cfcf01b2208ec7\",\n    \"team_id\"\
                    : \"6095a710bd01d100a506d4ac\",\n    \"owner_id\": \"66302798d03b9601c7934ebf\",\n\
                    \    \"salesforce_owner_id\": null,\n    \"amount\": 99999999,\n    \"closed_date\"\
                    : null,\n    \"account_id\": \"60afffecbff6de00a4b82be7\",\n    \"description\": null,\n\
                    \    \"is_closed\": false,\n    \"is_won\": false,\n    \"name\": \"Massive Space\
                    \ Deal\",\n    \"stage_name\": null,\n    \"opportunity_stage_id\": \"6095a710bd01d100a506d4bd\"\
                    ,\n    \"source\": \"api\",\n    \"salesforce_id\": null,\n    \"created_at\": \"\
                    2024-09-10T19:31:52.436Z\",\n    \"actual_close_date\": null,\n    \"next_step\":\
                    \ null,\n    \"next_step_date\": null,\n    \"closed_lost_reason\": null,\n    \"\
                    closed_won_reason\": null,\n    \"forecast_category\": \"pipeline\",\n    \"deal_probability\"\
                    : 10,\n    \"created_by_id\": \"60affe7d6e270a00f5db6fe4\",\n    \"current_solutions\"\
                    : null,\n    \"deal_source\": null,\n    \"manually_updated_probability\": null,\n\
                    \    \"manually_updated_forecast\": null,\n    \"crm_id\": null,\n    \"crm_record_url\"\
                    : null,\n    \"crm_owner_id\": null,\n    \"probability\": null,\n    \"opportunity_pipeline_id\"\
                    : \"654b989fcb2a5200010a90db\",\n    \"stage_updated_at\": \"2024-09-10T19:33:40.529+00:00\"\
                    ,\n    \"next_step_last_updated_at\": null,\n    \"exchange_rate_code\": \"USD\",\n\
                    \    \"exchange_rate_value\": 1,\n    \"amount_in_team_currency\": 99999999,\n   \
                    \ \"forecasted_revenue\": 9999999.9,\n    \"last_activity_date\": \"2024-09-10T19:33:40.529Z\"\
                    ,\n    \"existence_level\": \"full\",\n    \"typed_custom_fields\": {},\n    \"opportunity_rule_config_statuses\"\
                    : [],\n    \"opportunity_contact_roles\": [],\n    \"currency\": {\n      \"name\"\
                    : \"US Dollar\",\n      \"iso_code\": \"USD\",\n      \"symbol\": \"$\"\n    },\n\
                    \    \"num_contacts\": 0,\n    \"account\": {\n      \"id\": \"60afffecbff6de00a4b82be7\"\
                    ,\n      \"domain\": \"nasa.gov\",\n      \"name\": \"NASA - National Aeronautics\
                    \ and Space Administration\",\n      \"team_id\": \"6095a710bd01d100a506d4ac\",\n\
                    \      \"organization_id\": \"55e16cfbf3e5bb66cf0026f3\",\n      \"account_stage_id\"\
                    : \"6095a710bd01d100a506d4b9\",\n      \"source\": \"deployment\",\n      \"original_source\"\
                    : \"deployment\",\n      \"creator_id\": null,\n      \"owner_id\": null,\n      \"\
                    created_at\": \"2021-05-27T20:24:12.644Z\",\n      \"phone\": \"+1 202-555-0117\"\
                    ,\n      \"phone_status\": \"no_status\",\n      \"hubspot_id\": null,\n      \"salesforce_id\"\
                    : null,\n      \"crm_owner_id\": null,\n      \"parent_account_id\": null,\n     \
                    \ \"linkedin_url\": null,\n      \"sanitized_phone\": \"+12025550117\",\n      \"\
                    account_playbook_statuses\": [],\n      \"account_rule_config_statuses\": [\n    \
                    \    {\n          \"_id\": \"6466e8047759270001e53509\",\n          \"created_at\"\
                    : null,\n          \"rule_action_config_id\": \"64650edd434f8f00a3b13938\",\n    \
                    \      \"rule_config_id\": \"64650edd434f8f00a3b13939\",\n          \"status_cd\"\
                    : \"completed\",\n          \"updated_at\": null,\n          \"id\": \"6466e8047759270001e53509\"\
                    ,\n          \"key\": \"6466e8047759270001e53509\"\n        },\n        {\n      \
                    \    \"_id\": \"664f9e867bc0ad0001bd4230\",\n          \"created_at\": null,\n   \
                    \       \"rule_action_config_id\": \"65735e0ea63d2700faba5c6e\",\n          \"rule_config_id\"\
                    : \"65735e0ea63d2700faba5c6f\",\n          \"status_cd\": \"completed\",\n       \
                    \   \"updated_at\": null,\n          \"id\": \"664f9e867bc0ad0001bd4230\",\n     \
                    \     \"key\": \"664f9e867bc0ad0001bd4230\"\n        }\n      ],\n      \"existence_level\"\
                    : \"full\",\n      \"label_ids\": [\n        \"6466e8261e13be000133f25d\"\n      ],\n\
                    \      \"typed_custom_fields\": {},\n      \"custom_field_errors\": null,\n      \"\
                    modality\": \"account\",\n      \"source_display_name\": \"Requested from Apollo\"\
                    ,\n      \"crm_record_url\": null,\n      \"contact_emailer_campaign_ids\": [],\n\
                    \      \"contact_campaign_status_tally\": {},\n      \"num_contacts\": 0,\n      \"\
                    last_activity_date\": null\n    }\n  }\n}"
              schema:
                type: object
                properties:
                  opportunity:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 66e09ea8e3cfcf01b2208ec7
                      team_id:
                        type: string
                        example: 6095a710bd01d100a506d4ac
                      owner_id:
                        type: string
                        example: 66302798d03b9601c7934ebf
                      salesforce_owner_id: {}
                      amount:
                        type: integer
                        example: 99999999
                        default: 0
                      closed_date: {}
                      account_id:
                        type: string
                        example: 60afffecbff6de00a4b82be7
                      description: {}
                      is_closed:
                        type: boolean
                        example: false
                        default: true
                      is_won:
                        type: boolean
                        example: false
                        default: true
                      name:
                        type: string
                        example: Massive Space Deal
                      stage_name: {}
                      opportunity_stage_id:
                        type: string
                        example: 6095a710bd01d100a506d4bd
                      source:
                        type: string
                        example: api
                      salesforce_id: {}
                      created_at:
                        type: string
                        example: '2024-09-10T19:31:52.436Z'
                      actual_close_date: {}
                      next_step: {}
                      next_step_date: {}
                      closed_lost_reason: {}
                      closed_won_reason: {}
                      forecast_category:
                        type: string
                        example: pipeline
                      deal_probability:
                        type: integer
                        example: 10
                        default: 0
                      created_by_id:
                        type: string
                        example: 60affe7d6e270a00f5db6fe4
                      current_solutions: {}
                      deal_source: {}
                      manually_updated_probability: {}
                      manually_updated_forecast: {}
                      crm_id: {}
                      crm_record_url: {}
                      crm_owner_id: {}
                      probability: {}
                      opportunity_pipeline_id:
                        type: string
                        example: 654b989fcb2a5200010a90db
                      stage_updated_at:
                        type: string
                        example: '2024-09-10T19:33:40.529+00:00'
                      next_step_last_updated_at: {}
                      exchange_rate_code:
                        type: string
                        example: USD
                      exchange_rate_value:
                        type: integer
                        example: 1
                        default: 0
                      amount_in_team_currency:
                        type: integer
                        example: 99999999
                        default: 0
                      forecasted_revenue:
                        type: number
                        example: 9999999.9
                        default: 0
                      last_activity_date:
                        type: string
                        example: '2024-09-10T19:33:40.529Z'
                      existence_level:
                        type: string
                        example: full
                      typed_custom_fields:
                        type: object
                        properties: {}
                      opportunity_rule_config_statuses:
                        type: array
                      opportunity_contact_roles:
                        type: array
                      currency:
                        type: object
                        properties:
                          name:
                            type: string
                            example: US Dollar
                          iso_code:
                            type: string
                            example: USD
                          symbol:
                            type: string
                            example: $
                      num_contacts:
                        type: integer
                        example: 0
                        default: 0
                      account:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 60afffecbff6de00a4b82be7
                          domain:
                            type: string
                            example: nasa.gov
                          name:
                            type: string
                            example: NASA - National Aeronautics and Space Administration
                          team_id:
                            type: string
                            example: 6095a710bd01d100a506d4ac
                          organization_id:
                            type: string
                            example: 55e16cfbf3e5bb66cf0026f3
                          account_stage_id:
                            type: string
                            example: 6095a710bd01d100a506d4b9
                          source:
                            type: string
                            example: deployment
                          original_source:
                            type: string
                            example: deployment
                          creator_id: {}
                          owner_id: {}
                          created_at:
                            type: string
                            example: '2021-05-27T20:24:12.644Z'
                          phone:
                            type: string
                            example: +1 202-555-0117
                          phone_status:
                            type: string
                            example: no_status
                          hubspot_id: {}
                          salesforce_id: {}
                          crm_owner_id: {}
                          parent_account_id: {}
                          linkedin_url: {}
                          sanitized_phone:
                            type: string
                            example: '+12025550117'
                          account_playbook_statuses:
                            type: array
                          account_rule_config_statuses:
                            type: array
                            items:
                              type: object
                              properties:
                                _id:
                                  type: string
                                  example: 6466e8047759270001e53509
                                created_at: {}
                                rule_action_config_id:
                                  type: string
                                  example: 64650edd434f8f00a3b13938
                                rule_config_id:
                                  type: string
                                  example: 64650edd434f8f00a3b13939
                                status_cd:
                                  type: string
                                  example: completed
                                updated_at: {}
                                id:
                                  type: string
                                  example: 6466e8047759270001e53509
                                key:
                                  type: string
                                  example: 6466e8047759270001e53509
                          existence_level:
                            type: string
                            example: full
                          label_ids:
                            type: array
                            items:
                              type: string
                              example: 6466e8261e13be000133f25d
                          typed_custom_fields:
                            type: object
                            properties: {}
                          custom_field_errors: {}
                          modality:
                            type: string
                            example: account
                          source_display_name:
                            type: string
                            example: Requested from Apollo
                          crm_record_url: {}
                          contact_emailer_campaign_ids:
                            type: array
                          contact_campaign_status_tally:
                            type: object
                            properties: {}
                          num_contacts:
                            type: integer
                            example: 0
                            default: 0
                          last_activity_date: {}
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Check API key:
                  value: Invalid API key. See https://docs.apollo.io/reference/authentication for how
                    to authenticate.
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Need master API key:
                  value: "{\n  \"error\": \"This API key is not authorized to access deals/api/v1/opportunities/show.\
                    \ Request an API key from your administrator that includes this endpoint in its configured\
                    \ scope.\",\n  \"error_code\": \"API_INACCESSIBLE\"\n}"
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: This API key is not authorized to access deals/api/v1/opportunities/show.
                      Request an API key from your administrator that includes this endpoint in its configured
                      scope.
                  error_code:
                    type: string
                    example: API_INACCESSIBLE
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Check the deal ID:
                  value: "{\n  \"status\": 404,\n  \"error\": \"Not Found\"\n}"
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 404
                    default: 0
                  error:
                    type: string
                    example: Not Found
        '422':
          description: '422'
          content:
            application/json:
              examples:
                Add a deal ID:
                  value: "{\n  \"error\": \"Parameters misconfigured. opportunity_id is not a valid ID\"\
                    \n}"
                Do not have access to deal:
                  value: "{\n  \"error\": \"You are not authorized to view this page.\"\n}"
              schema:
                oneOf:
                - title: Add a deal ID
                  type: object
                  properties:
                    error:
                      type: string
                      example: Parameters misconfigured. opportunity_id is not a valid ID
                - title: Do not have access to deal
                  type: object
                  properties:
                    error:
                      type: string
                      example: You are not authorized to view this page.
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Too many requests:
                  value: "{\n    \"message\": \"The maximum number of api calls allowed for api/v1/opportunities/{opportunity_id}\
                    \ is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.\"\
                    \n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The maximum number of api calls allowed for api/v1/opportunities/{opportunity_id}
                      is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.
      deprecated: false
    patch:
      summary: Update Deal
      description: '## Endpoint essentials


        **API key access:** `deals/api/v1/opportunities/update` or `Master API key`


        **OAuth scopes:** `opportunity_update`


        **Credit usage:** `0 credits` — [Learn more about API pricing and credits](https://docs.apollo.io/docs/api-pricing).


        <a href="https://knowledge.apollo.io/hc/en-us/articles/4415062467725-Deals-Overview" target="_blank">Deals</a>
        on Apollo help you track sales opportunities.<br><br>Use the Update Deal endpoint to update the
        details of existing deals within your team''s Apollo account.<br><br>To create new deals in your
        Apollo account, use the <a href="https://docs.apollo.io/reference/create-deal">Create Deal endpoint</a>
        instead.'
      tags:
      - Deals
      operationId: update-deal
      parameters:
      - name: opportunity_id
        in: path
        description: 'The ID for the deal you want to update. <br><br>Each deal in the Apollo database
          is assigned a unique ID. To find deal IDs, call the <a href="https://docs.apollo.io/reference/list-all-deals"
          target="_blank">List All Deals endpoint</a> and identify the value for `id` for the desired
          deal. <br><br>Example: `66e09ea8e3cfcf01b2208ec7`'
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                owner_id:
                  type: string
                  description: 'The ID for the deal owner within your team''s Apollo account. Enter a
                    different ID to update the owner of the deal. <br><br>Use the <a href="https://docs.apollo.io/reference/get-a-list-of-users"
                    target="_blank">Get a List of Users endpoint</a> to retrieve IDs for all of the users
                    within your Apollo account. <br><br>Example: `66302798d03b9601c7934ebf`'
                name:
                  type: string
                  description: 'Update the name of the deal. This should be a human-readable name. <br><br>Example:
                    `Massive Q3 Deal`'
                amount:
                  type: string
                  description: 'The monetary value of the deal. Enter a different value to update the
                    deal amount. <br><br>Do not enter commas or currency symbols for the value. The currency
                    is automatically populated by the settings within your Apollo account. Commas are
                    not accepted and result in the deal amount being left blank. <br><br>Example: `55123478`
                    (results in a deal value of `$55,123,478` if the default currency is USD)'
                opportunity_stage_id:
                  type: string
                  description: 'The ID for the deal stage within your team''s Apollo account. Enter a
                    different ID to update the deal stage. <br><br>Each deal stage is assigned a unique
                    ID. To find deal stage IDs, call the <a href="https://docs.apollo.io/reference/list-deal-stages"
                    target="_blank">List Deal Stages endpoint</a> and identify the value for `id` for
                    each stage. <br><br>Example: `6095a710bd01d100a506d4bd`'
                closed_date:
                  type: string
                  format: date
                  description: 'Update the estimated close date for the deal. This can be a future or
                    past date. <br><br>The date should be formatted as `YYYY-MM-DD`. <br><br>Example:
                    `2025-10-30`'
                typed_custom_fields:
                  type: object
                  description: "Add information to <a href=\"https://knowledge.apollo.io/hc/en-us/articles/4415062486669-Create-a-Deal\"\
                    \ target=\"_blank\">custom fields</a> in Apollo. <br><br><b>Your custom fields are\
                    \ unique to your team's Apollo account. This means that the examples in this documentation\
                    \ may not work for your testing purposes.</b> <br><br>To utilize this parameter successfully,\
                    \ call the <a href=\"https://docs.apollo.io/reference/get-a-list-of-all-custom-fields\"\
                    >Get a List of All Custom Fields</a> endpoint and identify the `id` value for the\
                    \ custom field, as well as the appropriate data type. For example, if a custom field\
                    \ accepts picklist entries, you need to pass the accompanying `id` value for the picklist\
                    \ entry that you want to use as the input value. <br><br><b>Example</b>: When the\
                    \ <a href=\"https://docs.apollo.io/reference/get-a-list-of-all-custom-fields\">Get\
                    \ a List of All Custom Fields</a> endpoint returns an `id` of field: \n * `\"60c39ed82bd02f01154c470a\"\
                    ` (datetime) \n \n\n then the value passed should be: \n\n `{\"60c39ed82bd02f01154c470a\"\
                    : \"2025-08-07\"}`"
                  additionalProperties:
                    type: string
                  example:
                    60c39ed82bd02f01154c470a: '2025-08-07'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    opportunity:
                      id: 66e09ea8e3cfcf01b2208ec7
                      team_id: 6095a710bd01d100a506d4ac
                      owner_id: 66302798d03b9601c7934ebf
                      salesforce_owner_id: null
                      amount: 999999999999
                      closed_date: '2026-10-15T00:00:00.000+00:00'
                      account_id: 60afffecbff6de00a4b82be7
                      description: null
                      is_closed: false
                      is_won: false
                      name: Ridiculously Massive Space Deal
                      stage_name: null
                      opportunity_stage_id: 66bb94fbc1695c00017fba5f
                      source: api
                      salesforce_id: null
                      created_at: '2024-09-10T19:31:52.436Z'
                      actual_close_date: null
                      next_step: null
                      next_step_date: null
                      closed_lost_reason: null
                      closed_won_reason: null
                      forecast_category: pipeline
                      deal_probability: 25
                      created_by_id: 60affe7d6e270a00f5db6fe4
                      current_solutions: null
                      deal_source: null
                      manually_updated_probability: null
                      manually_updated_forecast: null
                      crm_id: null
                      crm_record_url: null
                      crm_owner_id: null
                      probability: null
                      opportunity_pipeline_id: null
                      stage_updated_at: '2024-09-10T21:31:53.640+00:00'
                      next_step_last_updated_at: null
                      exchange_rate_code: USD
                      exchange_rate_value: 1
                      amount_in_team_currency: 999999999999
                      forecasted_revenue: 249999999999.75
                      last_activity_date: '2024-09-10T21:30:04.809Z'
                      existence_level: full
                      opportunity_rule_config_statuses: []
                      opportunity_contact_roles: []
                      currency:
                        name: US Dollar
                        iso_code: USD
                        symbol: $
                      typed_custom_fields:
                        5b75f1c11dc2727d43ae3bb9: test
                        5c4296857f799409361890ea: test2
              schema:
                type: object
                properties:
                  opportunity:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 66e09ea8e3cfcf01b2208ec7
                      team_id:
                        type: string
                        example: 6095a710bd01d100a506d4ac
                      owner_id:
                        type: string
                        example: 66302798d03b9601c7934ebf
                      salesforce_owner_id: {}
                      amount:
                        type: integer
                        example: 999999999999
                        default: 0
                      closed_date:
                        type: string
                        example: '2026-10-15T00:00:00.000+00:00'
                      account_id:
                        type: string
                        example: 60afffecbff6de00a4b82be7
                      description: {}
                      is_closed:
                        type: boolean
                        example: false
                        default: true
                      is_won:
                        type: boolean
                        example: false
                        default: true
                      name:
                        type: string
                        example: Ridiculously Massive Space Deal
                      stage_name: {}
                      opportunity_stage_id:
                        type: string
                        example: 66bb94fbc1695c00017fba5f
                      source:
                        type: string
                        example: api
                      salesforce_id: {}
                      created_at:
                        type: string
                        example: '2024-09-10T19:31:52.436Z'
                      actual_close_date: {}
                      next_step: {}
                      next_step_date: {}
                      closed_lost_reason: {}
                      closed_won_reason: {}
                      forecast_category:
                        type: string
                        example: pipeline
                      deal_probability:
                        type: integer
                        example: 25
                        default: 0
                      created_by_id:
                        type: string
                        example: 60affe7d6e270a00f5db6fe4
                      current_solutions: {}
                      deal_source: {}
                      manually_updated_probability: {}
                      manually_updated_forecast: {}
                      crm_id: {}
                      crm_record_url: {}
                      crm_owner_id: {}
                      probability: {}
                      opportunity_pipeline_id: {}
                      stage_updated_at:
                        type: string
                        example: '2024-09-10T21:31:53.640+00:00'
                      next_step_last_updated_at: {}
                      exchange_rate_code:
                        type: string
                        example: USD
                      exchange_rate_value:
                        type: integer
                        example: 1
                        default: 0
                      amount_in_team_currency:
                        type: integer
                        example: 999999999999
                        default: 0
                      forecasted_revenue:
                        type: number
                        example: 249999999999.75
                        default: 0
                      last_activity_date:
                        type: string
                        example: '2024-09-10T21:30:04.809Z'
                      existence_level:
                        type: string
                        example: full
                      typed_custom_fields:
                        type: object
                        properties: {}
                      opportunity_rule_config_statuses:
                        type: array
                      opportunity_contact_roles:
                        type: array
                      currency:
                        type: object
                        properties:
                          name:
                            type: string
                            example: US Dollar
                          iso_code:
                            type: string
                            example: USD
                          symbol:
                            type: string
                            example: $
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Check API key:
                  value: Invalid API key. See https://docs.apollo.io/reference/authentication for how
                    to authenticate.
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Need master API key:
                  value: "{\n  \"error\": \"This API key is not authorized to access deals/api/v1/opportunities/update.\
                    \ Request an API key from your administrator that includes this endpoint in its configured\
                    \ scope.\",\n  \"error_code\": \"API_INACCESSIBLE\"\n}"
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: This API key is not authorized to access deals/api/v1/opportunities/update.
                      Request an API key from your administrator that includes this endpoint in its configured
                      scope.
                  error_code:
                    type: string
                    example: API_INACCESSIBLE
        '422':
          description: '422'
          content:
            application/json:
              examples:
                Check the deal ID:
                  value: "{\n  \"error\": \"Opportunity does not exist.\"\n}"
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Opportunity does not exist.
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Too many requests:
                  value: "{\n    \"message\": \"The maximum number of api calls allowed for api/v1/opportunities/{opportunity_id}\
                    \ is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.\"\
                    \n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The maximum number of api calls allowed for api/v1/opportunities/{opportunity_id}
                      is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.
      deprecated: false
  /opportunity_stages:
    get:
      summary: List Deal Stages
      description: '## Endpoint essentials


        **API key access:** `deals/api/v1/opportunity_stages/index` or `Master API key`


        **OAuth scopes:** `opportunity_stages_list`


        **Credit usage:** `0 credits` — [Learn more about API pricing and credits](https://docs.apollo.io/docs/api-pricing).


        <a href="https://knowledge.apollo.io/hc/en-us/articles/4415062467725-Deals-Overview" target="_blank">Deals</a>
        on Apollo help you track sales opportunities.<br><br>Use the List Deal Stages endpoint to retrieve
        information about every deal stage that''s available in your team''s Apollo account.<br><br>The
        `id` value for each deal stage can be used to set the stage when <a href="https://docs.apollo.io/reference/create-deal">creating
        a deal</a> or <a href="https://docs.apollo.io/reference/update-deal">updating a deal</a> via the
        Apollo API.'
      tags:
      - Deals
      operationId: list-deal-stages
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"opportunity_stages\": [\n    {\n      \"id\": \"6095a710bd01d100a506d4bd\"\
                    ,\n      \"team_id\": \"6095a710bd01d100a506d4ac\",\n      \"name\": \"Qualify\",\n\
                    \      \"display_order\": 0,\n      \"forecast_category_cd\": \"Pipeline\",\n    \
                    \  \"is_won\": false,\n      \"is_closed\": false,\n      \"probability\": 10,\n \
                    \     \"description\": \"Very first interaction with the AE on the account to determine\
                    \ their pain and fit for sales enablement in their business. This is the discovery\
                    \ phase where we ask questions to uncover need. This is more focused on their bsuiness\
                    \ and their workflow than our solution.\",\n      \"salesforce_id\": \"01J8jXTZaxnljrDxwv\"\
                    ,\n      \"is_meeting_set\": null,\n      \"opportunity_pipeline_id\": \"654b989fcb2a5200010a90db\"\
                    ,\n      \"is_editable\": null,\n      \"type\": \"Open\"\n    },\n    {\n      \"\
                    id\": \"66bb94fbc1695c00017fba5f\",\n      \"team_id\": \"6095a710bd01d100a506d4ac\"\
                    ,\n      \"name\": \"Meet & Present\",\n      \"display_order\": 1,\n      \"forecast_category_cd\"\
                    : \"Pipeline\",\n      \"is_won\": false,\n      \"is_closed\": false,\n      \"probability\"\
                    : 25,\n      \"description\": null,\n      \"salesforce_id\": \"01JqvNlB1DidltWun5\"\
                    ,\n      \"is_meeting_set\": null,\n      \"opportunity_pipeline_id\": null,\n   \
                    \   \"is_editable\": null,\n      \"type\": \"Open\"\n    },\n    {\n      \"id\"\
                    : \"66bb94fbc1695c00017fba60\",\n      \"team_id\": \"6095a710bd01d100a506d4ac\",\n\
                    \      \"name\": \"Propose\",\n      \"display_order\": 2,\n      \"forecast_category_cd\"\
                    : \"Pipeline\",\n      \"is_won\": false,\n      \"is_closed\": false,\n      \"probability\"\
                    : 50,\n      \"description\": null,\n      \"salesforce_id\": \"01JPihF5IsBmhrBPcs\"\
                    ,\n      \"is_meeting_set\": null,\n      \"opportunity_pipeline_id\": null,\n   \
                    \   \"is_editable\": null,\n      \"type\": \"Open\"\n    },\n    {\n      \"id\"\
                    : \"66bb94fbc1695c00017fba61\",\n      \"team_id\": \"6095a710bd01d100a506d4ac\",\n\
                    \      \"name\": \"Negotiate\",\n      \"display_order\": 3,\n      \"forecast_category_cd\"\
                    : \"Pipeline\",\n      \"is_won\": false,\n      \"is_closed\": false,\n      \"probability\"\
                    : 75,\n      \"description\": null,\n      \"salesforce_id\": \"01JRJRsXzbxjuBVqK1\"\
                    ,\n      \"is_meeting_set\": null,\n      \"opportunity_pipeline_id\": null,\n   \
                    \   \"is_editable\": null,\n      \"type\": \"Open\"\n    },\n    {\n      \"id\"\
                    : \"660abf69d8358b01ae3c214e\",\n      \"team_id\": \"6095a710bd01d100a506d4ac\",\n\
                    \      \"name\": \"Closed Won\",\n      \"display_order\": 4,\n      \"forecast_category_cd\"\
                    : \"Closed\",\n      \"is_won\": true,\n      \"is_closed\": true,\n      \"probability\"\
                    : 100,\n      \"description\": null,\n      \"salesforce_id\": \"01Jth7NCQeSgkAM2TZ\"\
                    ,\n      \"is_meeting_set\": null,\n      \"opportunity_pipeline_id\": \"6579e5ff75a5170001f03d38\"\
                    ,\n      \"is_editable\": null,\n      \"type\": \"Closed/Won\"\n    },\n    {\n \
                    \     \"id\": \"660abf69d8358b01ae3c214f\",\n      \"team_id\": \"6095a710bd01d100a506d4ac\"\
                    ,\n      \"name\": \"Closed Lost\",\n      \"display_order\": 5,\n      \"forecast_category_cd\"\
                    : \"Omitted\",\n      \"is_won\": false,\n      \"is_closed\": true,\n      \"probability\"\
                    : 0,\n      \"description\": null,\n      \"salesforce_id\": \"01Jyg7och9mJ35AhLf\"\
                    ,\n      \"is_meeting_set\": null,\n      \"opportunity_pipeline_id\": \"6579e5ff75a5170001f03d38\"\
                    ,\n      \"is_editable\": null,\n      \"type\": \"Closed/Lost\"\n    },\n    {\n\
                    \      \"id\": \"6153414bc0559d00016ce5fd\",\n      \"team_id\": \"6095a710bd01d100a506d4ac\"\
                    ,\n      \"name\": \"Prospecting\",\n      \"display_order\": 6,\n      \"forecast_category_cd\"\
                    : \"Closed\",\n      \"is_won\": false,\n      \"is_closed\": false,\n      \"probability\"\
                    : 10,\n      \"description\": null,\n      \"salesforce_id\": \"01JxhZCvoQar5TgwoX\"\
                    ,\n      \"is_meeting_set\": null,\n      \"opportunity_pipeline_id\": \"654b989fcb2a5200010a90db\"\
                    ,\n      \"is_editable\": null,\n      \"type\": \"Open\"\n    },\n    {\n      \"\
                    id\": \"6153414bc0559d00016ce5fe\",\n      \"team_id\": \"6095a710bd01d100a506d4ac\"\
                    ,\n      \"name\": \"Qualification\",\n      \"display_order\": 7,\n      \"forecast_category_cd\"\
                    : \"Closed\",\n      \"is_won\": false,\n      \"is_closed\": false,\n      \"probability\"\
                    : 10,\n      \"description\": null,\n      \"salesforce_id\": \"01JRnbtEO24H0zPfvk\"\
                    ,\n      \"is_meeting_set\": null,\n      \"opportunity_pipeline_id\": \"654b989fcb2a5200010a90db\"\
                    ,\n      \"is_editable\": null,\n      \"type\": \"Open\"\n    },\n    {\n      \"\
[...]
