openapi: 3.1.0
info:
  title: Apollo.io Sequences API
  version: '1.0'
  summary: Programmatic access to Apollo's sales intelligence and engagement platform — data enrichment,
    prospect and company search, and go-to-market workflow management.
  description: 'The Apollo API provides programmatic access to [Apollo](https://www.apollo.io/), the all-in-one
    sales intelligence and engagement platform. Use it to enrich people and company data (individually
    or in bulk), search Apollo''s database of over 240 million contacts and 30 million companies, and
    manage accounts, contacts, deals, sequences, tasks, calls, and conversations in your go-to-market
    workflows.


    ## Base URL


    All API requests are made to `https://api.apollo.io/api/v1`.


    ## Authentication


    - **Apollo users** authenticate with an API key passed in the `x-api-key` request header. See [Create
    API Keys](https://docs.apollo.io/docs/create-api-key).

    - **Apollo partners** building integrations on behalf of mutual users authenticate with the [OAuth
    2.0 authorization flow](https://docs.apollo.io/docs/use-oauth-20-authorization-flow-to-access-apollo-user-information-partners).


    ## Rate limits & credits


    Rate limits and credit consumption depend on your [Apollo pricing plan](https://docs.apollo.io/docs/api-pricing).
    Check your current limits and usage with the [View API Usage Stats and Rate Limits](https://docs.apollo.io/reference/view-api-usage-stats)
    endpoint. For more details, see [Rate Limits](https://docs.apollo.io/reference/rate-limits) and the
    [API FAQs](https://docs.apollo.io/docs/apollo-api-faqs).


    New to the API? Start with the [Apollo API overview](https://docs.apollo.io/reference/apollo-api).'
  termsOfService: https://www.apollo.io/terms/api
  contact:
    name: Apollo API Support
    url: https://docs.apollo.io/
servers:
- url: https://api.apollo.io/api/v1
tags:
- name: Sequences
  description: Manage outreach sequences and the contacts enrolled in them.
security:
- apiKey: []
- bearerAuth: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: '[Recommended] API key, passed in the `x-api-key` request header.

        See [Create API Keys](https://docs.apollo.io/docs/create-api-key).'
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth 2.0 access token, used by Apollo partners building integrations.

        See the [OAuth 2.0 authorization flow](https://docs.apollo.io/docs/use-oauth-20-authorization-flow-to-access-apollo-user-information-partners).'
paths:
  /emailer_schedules:
    get:
      summary: List Email Schedules
      description: '## Endpoint essentials


        **API key access:** `api/v1/emailer_schedules/index` or `Master API key`


        **OAuth scopes:** `emailer_schedules_list`


        **Credit usage:** `0 credits` — [Learn more about API pricing and credits](https://docs.apollo.io/docs/api-pricing).


        <a href="https://knowledge.apollo.io/hc/en-us/articles/4409477927309-Configure-a-Sequence-Sending-Schedule"
        target="_blank">Sending schedules</a> control the days and times that Apollo sends emails for
        your sequences. You can configure multiple sending schedules for different sequences, for example
        to match your audience''s time zone or when your contacts are most likely to engage.<br><br>Use
        the List Email Schedules endpoint to retrieve every sending schedule that has been created for
        your team''s Apollo account. For each schedule, the response returns its ID, name, time zone,
        weekly sending windows, and whether it is your team''s default schedule.<br><br>Use a schedule''s
        `id` as the `emailer_schedule_id` when you <a href="https://docs.apollo.io/reference/create-sequence"
        target="_blank">create a sequence</a> or <a href="https://docs.apollo.io/reference/update-sequence"
        target="_blank">update a sequence</a> to control when that sequence''s emails are sent.'
      tags:
      - Sequences
      operationId: list-email-schedules
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"emailer_schedules\": [\n    {\n      \"id\": \"6605a1f2e4b0c80012a3d456\"\
                    ,\n      \"name\": \"Normal Business Hours\",\n      \"default\": true,\n      \"\
                    time_zone\": \"America/Los_Angeles\",\n      \"schedule_hash\": {\n        \"monday\"\
                    : [[8, 17]],\n        \"tuesday\": [[8, 17]],\n        \"wednesday\": [[8, 17]],\n\
                    \        \"thursday\": [[8, 17]],\n        \"friday\": [[8, 17]]\n      },\n     \
                    \ \"created_at\": \"2024-03-28T18:56:24.067Z\",\n      \"use_contacts_time_zone\"\
                    : true,\n      \"skip_holidays\": true\n    },\n    {\n      \"id\": \"6605a2b7e4b0c80012a3d789\"\
                    ,\n      \"name\": \"West Coast Afternoons\",\n      \"default\": false,\n      \"\
                    time_zone\": \"America/New_York\",\n      \"schedule_hash\": {\n        \"monday\"\
                    : [[12, 17]],\n        \"wednesday\": [[12, 17]],\n        \"friday\": [[12, 17]]\n\
                    \      },\n      \"created_at\": \"2024-04-02T14:10:05.512Z\",\n      \"use_contacts_time_zone\"\
                    : false,\n      \"skip_holidays\": true\n    }\n  ]\n}"
              schema:
                type: object
                properties:
                  emailer_schedules:
                    type: array
                    description: The list of sending schedules that belong to your team.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique Apollo ID for the sending schedule. Use this value as
                            the `emailer_schedule_id` when you create or update a sequence.
                          example: 6605a1f2e4b0c80012a3d456
                        name:
                          type: string
                          description: The name of the sending schedule.
                          example: Normal Business Hours
                        default:
                          type: boolean
                          description: Whether this is the default sending schedule for your team. Only
                            one schedule can be the default at a time.
                          example: true
                        time_zone:
                          type: string
                          description: The IANA time zone that the schedule's sending windows are defined
                            in, for example `America/Los_Angeles`.
                          example: America/Los_Angeles
                        schedule_hash:
                          type: object
                          description: The weekly sending windows, keyed by day of the week. Each day
                            maps to an array of `[start_hour, end_hour]` pairs using 24-hour times, so
                            `[[8, 17]]` means 8:00 AM to 5:00 PM. Days with no sending windows are omitted.
                        created_at:
                          type: string
                          description: The timestamp for when the schedule was created, in ISO 8601 format.
                          example: '2024-03-28T18:56:24.067Z'
                        use_contacts_time_zone:
                          type: boolean
                          description: Whether Apollo sends emails according to each contact's own time
                            zone instead of the schedule's `time_zone`.
                          example: true
                        skip_holidays:
                          type: boolean
                          description: Whether Apollo skips sending emails on holidays.
                          example: true
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Check API key:
                  value: Invalid API key. See https://docs.apollo.io/reference/authentication for how
                    to authenticate.
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Need master API key:
                  value: "{\n  \"error\": \"This API key is not authorized to access api/v1/emailer_schedules/index.\
                    \ Request an API key from your administrator that includes this endpoint in its configured\
                    \ scope.\",\n  \"error_code\": \"API_INACCESSIBLE\"\n}"
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: This API key is not authorized to access api/v1/emailer_schedules/index.
                      Request an API key from your administrator that includes this endpoint in its configured
                      scope.
                  error_code:
                    type: string
                    example: API_INACCESSIBLE
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Too many requests:
                  value: "{\n    \"message\": \"The maximum number of api calls allowed for api/v1/emailer_schedules\
                    \ is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.\"\
                    \n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The maximum number of api calls allowed for api/v1/emailer_schedules is 600
                      times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.
      deprecated: false
  /emailer_campaigns/search:
    post:
      summary: Search for Sequences
      description: '## Endpoint essentials


        **API key access:** `api/v1/emailer_campaigns/search` or `Master API key`


        **OAuth scopes:** `emailer_campaigns_search`


        **Credit usage:** `0 credits` — [Learn more about API pricing and credits](https://docs.apollo.io/docs/api-pricing).


        <a href="https://knowledge.apollo.io/hc/en-us/articles/4409237165837-Sequences-Overview" target="_blank">Sequences</a>
        are outreach campaigns that sales teams use to reach out to contacts over a planned period of
        time.<br><br>Use the Search for Sequences endpoint to search for the sequences that have been
        created for your team''s Apollo account.'
      tags:
      - Sequences
      operationId: search-for-sequences
      parameters:
      - name: q_name
        in: query
        description: 'Add keywords to narrow the search of the sequences in your team''s Apollo account.
          <br><br>Keywords should directly match at least part of a sequence''s name. For example, searching
          the keyword `marketing` might return the result `NY Marketing Sequence`, but not `NY Marketer
          Conference 2025 attendees`. <br><br>This parameter only searches sequence names, not other sequence
          fields. <br><br>Example: `marketing conference attendees`'
        schema:
          type: string
      - name: page
        in: query
        description: 'The page number of the Apollo data that you want to retrieve. <br><br>Use this parameter
          in combination with the `per_page` parameter to make search results for navigable and improve
          the performance of the endpoint. <br><br>Example: `4`'
        schema:
          type: string
      - name: per_page
        in: query
        description: 'The number of search results that should be returned for each page. Limiting the
          number of results per page improves the endpoint''s performance. <br><br>Use the `page` parameter
          to search the different pages of data. <br><br>Example: `10`'
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    pagination:
                      page: 1
                      per_page: 5
                      total_entries: 1
                      total_pages: 1
                    breadcrumbs:
                    - label: Name
                      signal_field_name: q_name
                      value: Copywriting Dublin
                      display_name: Copywriting Dublin
                    emailer_campaigns:
                    - id: 66e9e215ece19801b219997f
                      name: Target Copywriting Clients in Dublin
                      archived: false
                      created_at: '2024-09-17T20:09:57.837Z'
                      emailer_schedule_id: 6095a711bd01d100a506d52a
                      max_emails_per_day: null
                      user_id: 66302798d03b9601c7934ebf
                      same_account_reply_policy_cd: null
                      excluded_account_stage_ids:
                      - 6095a710bd01d100a506d4b8
                      - 6095a710bd01d100a506d4b9
                      - 6095a710bd01d100a506d4ba
                      - 6095a710bd01d100a506d4bb
                      excluded_contact_stage_ids:
                      - 6095a710bd01d100a506d4b5
                      - 6095a710bd01d100a506d4b4
                      - 6095a710bd01d100a506d4b0
                      - 6095a710bd01d100a506d4b1
                      contact_email_event_to_stage_mapping: {}
                      label_ids:
                      - 66e9e215ece19801b2199980
                      - 66e9e215ece19801b2199981
                      - 66e9e215ece19801b2199982
                      create_task_if_email_open: false
                      email_open_trigger_task_threshold: 3
                      mark_finished_if_click: false
                      active: false
                      days_to_wait_before_mark_as_response: 5
                      starred_by_user_ids:
                      - 66302798d03b9601c7934ebf
                      mark_finished_if_reply: true
                      mark_finished_if_interested: true
                      mark_paused_if_ooo: true
                      sequence_by_exact_daytime: null
                      last_used_at: null
                      sequence_ruleset_id: 6095a711bd01d100a506d4e0
                      folder_id: null
                      same_account_reply_delay_days: 30
                      is_performing_poorly: false
                      num_contacts_email_status_extrapolated: 0
                      remind_ab_test_results: false
                      ab_test_step_ids: []
                      prioritized_by_user: null
                      creation_type: new
                      num_steps: 3
                      unique_scheduled: 0
                      unique_delivered: 0
                      unique_bounced: 0
                      unique_opened: 0
                      unique_hard_bounced: 0
                      unique_spam_blocked: 0
                      unique_replied: 0
                      unique_demoed: 0
                      unique_clicked: 0
                      unique_unsubscribed: 0
                      bounce_rate: 0
                      hard_bounce_rate: 0
                      open_rate: 0
                      click_rate: 0
                      reply_rate: 0
                      spam_block_rate: 0
                      opt_out_rate: 0
                      demo_rate: 0
                      loaded_stats: true
                      cc_emails: ''
                      bcc_emails: ''
                      underperforming_touches_count: 0
                      sharing_permission:
                        visibility: everyone
                        access_type: can_view
                        object_type: EmailerCampaign
                        object_id: 66e9e215ece19801b219997f
                        is_owner: true
                        owner_id: 66302798d03b9601c7934ebf
                        sharing_accesses: []
                    num_fetch_result: null
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                        example: 1
                        default: 0
                      per_page:
                        type: integer
                        example: 5
                        default: 0
                      total_entries:
                        type: integer
                        example: 1
                        default: 0
                      total_pages:
                        type: integer
                        example: 1
                        default: 0
                  breadcrumbs:
                    type: array
                    items:
                      type: object
                      properties:
                        label:
                          type: string
                          example: Name
                        signal_field_name:
                          type: string
                          example: q_name
                        value:
                          type: string
                          example: Copywriting Dublin
                        display_name:
                          type: string
                          example: Copywriting Dublin
                  emailer_campaigns:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 66e9e215ece19801b219997f
                        name:
                          type: string
                          example: Target Copywriting Clients in Dublin
                        archived:
                          type: boolean
                          example: false
                          default: true
                        created_at:
                          type: string
                          example: '2024-09-17T20:09:57.837Z'
                        emailer_schedule_id:
                          type: string
                          example: 6095a711bd01d100a506d52a
                        max_emails_per_day: {}
                        user_id:
                          type: string
                          example: 66302798d03b9601c7934ebf
                        same_account_reply_policy_cd: {}
                        excluded_account_stage_ids:
                          type: array
                          items:
                            type: string
                            example: 6095a710bd01d100a506d4b8
                        excluded_contact_stage_ids:
                          type: array
                          items:
                            type: string
                            example: 6095a710bd01d100a506d4b5
                        contact_email_event_to_stage_mapping:
                          type: object
                          properties: {}
                        label_ids:
                          type: array
                          items:
                            type: string
                            example: 66e9e215ece19801b2199980
                        create_task_if_email_open:
                          type: boolean
                          example: false
                          default: true
                        email_open_trigger_task_threshold:
                          type: integer
                          example: 3
                          default: 0
                        mark_finished_if_click:
                          type: boolean
                          example: false
                          default: true
                        active:
                          type: boolean
                          example: false
                          default: true
                        days_to_wait_before_mark_as_response:
                          type: integer
                          example: 5
                          default: 0
                        starred_by_user_ids:
                          type: array
                          items:
                            type: string
                            example: 66302798d03b9601c7934ebf
                        mark_finished_if_reply:
                          type: boolean
                          example: true
                          default: true
                        mark_finished_if_interested:
                          type: boolean
                          example: true
                          default: true
                        mark_paused_if_ooo:
                          type: boolean
                          example: true
                          default: true
                        sequence_by_exact_daytime: {}
                        last_used_at: {}
                        sequence_ruleset_id:
                          type: string
                          example: 6095a711bd01d100a506d4e0
                        folder_id: {}
                        same_account_reply_delay_days:
                          type: integer
                          example: 30
                          default: 0
                        is_performing_poorly:
                          type: boolean
                          example: false
                          default: true
                        num_contacts_email_status_extrapolated:
                          type: integer
                          example: 0
                          default: 0
                        remind_ab_test_results:
                          type: boolean
                          example: false
                          default: true
                        ab_test_step_ids:
                          type: array
                        prioritized_by_user: {}
                        creation_type:
                          type: string
                          example: new
                        num_steps:
                          type: integer
                          example: 3
                          default: 0
                        unique_scheduled:
                          type: integer
                          example: 0
                          default: 0
                        unique_delivered:
                          type: integer
                          example: 0
                          default: 0
                        unique_bounced:
                          type: integer
                          example: 0
                          default: 0
                        unique_opened:
                          type: integer
                          example: 0
                          default: 0
                        unique_hard_bounced:
                          type: integer
                          example: 0
                          default: 0
                        unique_spam_blocked:
                          type: integer
                          example: 0
                          default: 0
                        unique_replied:
                          type: integer
                          example: 0
                          default: 0
                        unique_demoed:
                          type: integer
                          example: 0
                          default: 0
                        unique_clicked:
                          type: integer
                          example: 0
                          default: 0
                        unique_unsubscribed:
                          type: integer
                          example: 0
                          default: 0
                        bounce_rate:
                          type: integer
                          example: 0
                          default: 0
                        hard_bounce_rate:
                          type: integer
                          example: 0
                          default: 0
                        open_rate:
                          type: integer
                          example: 0
                          default: 0
                        click_rate:
                          type: integer
                          example: 0
                          default: 0
                        reply_rate:
                          type: integer
                          example: 0
                          default: 0
                        spam_block_rate:
                          type: integer
                          example: 0
                          default: 0
                        opt_out_rate:
                          type: integer
                          example: 0
                          default: 0
                        demo_rate:
                          type: integer
                          example: 0
                          default: 0
                        loaded_stats:
                          type: boolean
                          example: true
                          default: true
                        cc_emails:
                          type: string
                          example: ''
                        bcc_emails:
                          type: string
                          example: ''
                        underperforming_touches_count:
                          type: integer
                          example: 0
                          default: 0
                        sharing_permission:
                          type: object
                          description: Who can see and act on the sequence. This replaced the legacy `permissions`
                            field, which is no longer returned.
                          properties:
                            visibility:
                              type: string
                              description: '`everyone` if the sequence is shared with the whole team,
                                or `restricted` if it is limited to the owner and the users or teams listed
                                in `sharing_accesses`.'
                              enum:
                              - restricted
                              - everyone
                              example: everyone
                            access_type:
                              type: string
                              description: The level of access granted to the team when `visibility` is
                                `everyone`. `null` when `visibility` is `restricted`.
                              enum:
                              - can_view
                              - can_edit
                              - full_access
                              nullable: true
                              example: can_view
                            object_type:
                              type: string
                              example: EmailerCampaign
                            object_id:
                              type: string
                              description: The Apollo ID for the sequence.
                              example: 66e9e215ece19801b219997f
                            is_owner:
                              type: boolean
                              description: Whether the authenticated user owns the sequence.
                              example: true
                            owner_id:
                              type: string
                              description: The Apollo user ID for the sequence owner. Matches `user_id`.
                              example: 66302798d03b9601c7934ebf
                            sharing_accesses:
                              type: array
                              description: Sequences shared with specific users or teams, in addition
                                to whatever `visibility` grants.
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  shared_by:
                                    type: string
                                    description: The Apollo user ID for the user who granted the access.
                                  user_or_team_id:
                                    type: string
                                    description: The Apollo ID for the user or team the sequence is shared
                                      with.
                                  user_or_team_type:
                                    type: string
                                  access_type:
                                    type: string
                                    enum:
                                    - can_view
                                    - can_edit
                                    - full_access
                                  object_id:
                                    type: string
                                  object_type:
                                    type: string
                                  is_default:
                                    type: boolean
                  num_fetch_result: {}
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Check API key:
                  value: Invalid API key. See https://docs.apollo.io/reference/authentication for how
                    to authenticate.
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Need master API key:
                  value: "{\n  \"error\": \"This API key is not authorized to access api/v1/emailer_campaigns/search.\
                    \ Request an API key from your administrator that includes this endpoint in its configured\
                    \ scope.\",\n  \"error_code\": \"API_INACCESSIBLE\"\n}"
                Check Apollo pricing plan:
                  value: "{\n  \"message\": \"This endpoint is only available to Apollo users on paid\
                    \ plans.\"\n}"
              schema:
                oneOf:
                - title: Need master API key
                  type: object
                  properties:
                    error:
                      type: string
                      example: This API key is not authorized to access api/v1/emailer_campaigns/search.
                        Request an API key from your administrator that includes this endpoint in its
                        configured scope.
                    error_code:
                      type: string
                      example: API_INACCESSIBLE
                - title: Check Apollo pricing plan
                  type: object
                  properties:
                    message:
                      type: string
                      example: This endpoint is only available to Apollo users on paid plans.
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Too many requests:
                  value: "{\n    \"message\": \"The maximum number of api calls allowed for api/v1/emailer_campaigns/search\
                    \ is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.\"\
                    \n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The maximum number of api calls allowed for api/v1/emailer_campaigns/search
                      is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.
      deprecated: false
  /emailer_campaigns/{sequence_id}/add_contact_ids:
    post:
      summary: Add Contacts to a Sequence
      description: '## Endpoint essentials


        **API key access:** `api/v1/emailer_campaigns/add_contact_ids` or `Master API key`


        **OAuth scopes:** `emailer_campaigns_add_contact_ids`


        **Credit usage:** `0 credits` — [Learn more about API pricing and credits](https://docs.apollo.io/docs/api-pricing).


        <a href="https://knowledge.apollo.io/hc/en-us/articles/4409237165837-Sequences-Overview" target="_blank">Sequences</a>
        are outreach campaigns that sales teams use to reach out to contacts over a planned period of
        time.<br><br>Use the Add Contacts to a Sequence endpoint to add contacts to the existing sequences
        in your team''s Apollo account.<br><br>A contact is a person that your team has explicitly added
        to your database. Only contacts can be added to sequences. To enrich a person''s data, call the
        <a href="https://docs.apollo.io/reference/people-enrichment">People Enrichment endpoint</a>. Then,
        to add the person as a contact in your database, call the <a href="https://docs.apollo.io/reference/create-a-contact">Create
        a Contact endpoint</a>.'
      tags:
      - Sequences
      operationId: add-contacts-to-sequence
      parameters:
      - name: sequence_id
        in: path
        description: 'The Apollo ID for the sequence to which you want to add contacts. <br><br>To find
          sequence IDs, call the <a href="https://docs.apollo.io/reference/search-for-sequences" target="_blank">Search
          for Sequences endpoint</a> and identify the `id` value for the sequence. <br><br>Example: `66e9e215ece19801b219997f`'
        required: true
        schema:
          type: string
      - name: emailer_campaign_id
        in: query
        description: 'The same ID as the `sequence_id`. <br><br>Example: `66e9e215ece19801b219997f`'
        required: true
        schema:
          type: string
      - name: contact_ids[]
        in: query
        description: 'The Apollo IDs for the contacts that you want to add to the sequence. <br><br>To
          find contact IDs, call the <a href="https://docs.apollo.io/reference/search-for-contacts" target="_blank">Search
          for Contacts endpoint</a> and identify the `id` value for the contact. <br><br>Example: `66e34b81740c50074e3d1bd4`<br><br>Note:
          Either `contact_ids[]` or `label_names[]` must be provided.'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: label_names[]
        in: query
        description: 'Alternative to `contact_ids[]`. Array of label names to identify contacts to add
          to the sequence. Contacts with these labels will be added to the sequence. <br><br>Note: Either
          `contact_ids[]` or `label_names[]` must be provided.'
        required: false
        schema:
          type: array
          items:
            type: string
      - name: send_email_from_email_account_id
        in: query
        description: 'The Apollo ID(s) for the email account(s) used to send to contacts you add to the
          sequence. Accepts either one id as a string, or multiple ids as an array of strings (multi-mailbox
          / rotation). To find email account IDs, call the <a href="https://docs.apollo.io/reference/get-a-list-of-email-accounts"
          target="_blank">Get a List of Email Accounts endpoint</a> and identify the `id` value for each
          email account. <br><br>Examples: `6633baaece5fbd01c791d7ca` (string) or `["6633baaece5fbd01c791d7ca",
          "6633baaece5fbd01c791d7cb"]` (array).'
        required: true
        schema:
          oneOf:
          - type: string
            description: Single email account ID.
          - type: array
            items:
              type: string
            minItems: 1
            description: One or more email account IDs.
      - name: send_email_from_email_address
        in: query
        description: Optional specific email address to send from within the email account.
        required: false
        schema:
          type: string
      - name: sequence_no_email
        in: query
        description: Set to `true` if you want to add contacts to the sequence even if they do not have
          an email address.
        required: false
        schema:
          type: boolean
          default: false
      - name: sequence_unverified_email
        in: query
        description: Set to `true` if you want to add contacts to the sequence if they have an unverified
          email address.
        required: false
        schema:
          type: boolean
          default: false
      - name: sequence_job_change
        in: query
        description: Set to `true` if you want to add contacts to the sequence even if they have recently
          changed jobs.
        required: false
        schema:
          type: boolean
          default: false
      - name: sequence_active_in_other_campaigns
        in: query
        description: Set to `true` if you want to add contacts to the sequence even if they have been
          added to other sequences. This parameter does not differentiate between active and paused sequences.
        required: false
        schema:
          type: boolean
          default: false
      - name: sequence_finished_in_other_campaigns
        in: query
        description: Set to `true` if you want to add contacts to the sequence if they have been marked
          as `finished` in another sequence.
        required: false
        schema:
          type: boolean
          default: false
      - name: sequence_same_company_in_same_campaign
        in: query
        description: Set to `true` if you want to add contacts to the sequence even if other contacts
          from the same company are already in the sequence.
        required: false
        schema:
          type: boolean
          default: false
      - name: contacts_without_ownership_permission
        in: query
        description: Set to `true` if you want to add contacts even if you don't have ownership permission
          for them.
        required: false
        schema:
          type: boolean
          default: false
      - name: add_if_in_queue
        in: query
        description: Set to `true` if you want to add contacts even if they are currently in the queue
          for processing.
        required: false
        schema:
          type: boolean
          default: false
      - name: contact_verification_skipped
        in: query
        description: Set to `true` if you want to skip contact verification during the addition process.
        required: false
        schema:
          type: boolean
          default: false
      - name: user_id
        in: query
        description: 'The ID for the user in your team''s Apollo account. <br><br>This is the user taking
          the action to add contacts to a sequence. When the sequence is updated, the activity log shows
          the user that added the contacts. <br><br>Use the <a href="https://docs.apollo.io/reference/get-a-list-of-users"
          target="_blank">Get a List of Users endpoint</a> to retrieve IDs for all of the users within
          your Apollo account. <br><br>Example: `66302798d03b9601c7934ebf`'
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: Initial status for added contacts. When set to `paused` along with `auto_unpause_at`,
          enables scheduled addition of contacts.
        required: false
        schema:
          type: string
          enum:
          - active
          - paused
      - name: auto_unpause_at
        in: query
        description: 'DateTime when paused contacts should be automatically unpaused. Must be used with
          `status=paused`. Format: ISO 8601 datetime string.'
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    contacts:
                    - contact_roles: []
                      id: 66e34b81740c50074e3d1bd4
                      first_name: Fyodor
                      last_name: Dostoevsky
                      name: Fyodor Dostoevsky
                      linkedin_url: null
                      title: Chief Writer
                      contact_stage_id: null
                      owner_id: 67b307d00957c2000d08872b
                      creator_id: 60affe7d6e270a00f5db6fe4
                      person_id: null
                      email_needs_tickling: null
                      organization_name: Apollo.io
                      source: api
                      original_source: api
                      organization_id: null
                      headline: null
                      photo_url: null
                      present_raw_address: St. Petersburg, Russia
                      linkedin_uid: null
                      extrapolated_email_confidence: null
                      salesforce_id: null
                      salesforce_lead_id: null
                      salesforce_contact_id: null
                      salesforce_account_id: null
                      crm_owner_id: null
                      created_at: '2024-09-12T20:13:53.207Z'
                      emailer_campaign_ids:
                      - 66e9e215ece19801b219997f
                      direct_dial_status: null
                      direct_dial_enrichment_failed_at: null
                      city: Saint Petersburg
                      country: Russia
                      state: Saint Petersburg
                      email_status: verified
                      email_source: null
                      account_id: null
                      last_activity_date: '2025-03-09T20:31:17.000+00:00'
                      hubspot_vid: null
                      hubspot_company_id: null
                      crm_id: null
                      sanitized_phone: '+15555550117'
                      merged_crm_ids: null
                      updated_at: '2025-05-23T13:38:25.109Z'
                      queued_for_crm_push: false
                      suggested_from_rule_engine_config_id: null
                      email_unsubscribed: null
                      person_deleted: null
                      call_opted_out: null
                      label_ids: []
                      has_pending_email_arcgate_request: false
                      has_email_arcgate_request: false
                      existence_level: full
                      email: fyodor.dostoevsky@apollo.io
                      email_from_customer: true
                      typed_custom_fields: {}
                      custom_field_errors: null
                      crm_record_url: null
                      email_status_unavailable_reason: null
                      email_true_status: User Managed
                      updated_email_true_status: true
                      source_display_name: Created from API
                      twitter_url: null
                      facebook_url: null
                      contact_campaign_statuses:
                      - id: 68782af181c7f0002159df25
                        emailer_campaign_id: 66e9e215ece19801b219997f
                        send_email_from_user_id: 66302798d03b9601c7934ebf
                        inactive_reason: Sequence inactive
                        status: paused
                        added_at: '2025-07-16T22:42:57.372+00:00'
                        added_by_user_id: 60affe7d6e270a00f5db6fe4
                        finished_at: null
                        paused_at: null
                        auto_unpause_at: null
                        send_email_from_email_address: test.marcus.hale@apollomail.io
                        send_email_from_email_account_id: 6633baaece5fbd01c791d7ca
                        manually_set_unpause: null
                        failure_reason: null
                        current_step_id: null
                        in_response_to_emailer_message_id: null
                        cc_emails: null
                        bcc_emails: null
                        to_emails: null
                        current_step_position: null
                      contact_emails:
                      - email_md5: cf4604bbd3c12ca9e36e20aa0aefac29
                        email_sha256: b5d981918efbd5a93eb10f834643a4277034f24e3b5cabc2631440c7ade49cf8
                        email_status: verified
                        extrapolated_email_confidence: null
                        position: 0
                        email: fyodor.dostoevsky@apollo.io
                        free_domain: false
                        source: User Managed
                        third_party_vendor_name: null
                        vendor_validation_statuses: []
                        email_needs_tickling: null
                        email_true_status: User Managed
                        email_status_unavailable_reason: null
                      time_zone: Asia/Krasnoyarsk
                      show_intent: false
                      phone_numbers:
                      - raw_number: 555-555-0117
                        sanitized_number: '+15555550117'
                        type: work_direct
                        position: 0
                        status: no_status
                        dnc_status: null
                        dnc_other_info: {}
                        dialer_flags: null
                        source_name: User Managed
                        vendor_validation_statuses: []
                        third_party_vendor_name: null
                      account_phone_note: null
                      free_domain: false
                      email_domain_catchall: false
                    skipped_contact_ids:
                      66e34b81740c50074e3d1bd5: contact_not_found
                    emailer_campaign:
                      id: 66e9e215ece19801b219997f
                      name: Target Copywriting Clients in Dublin
                      archived: true
                      created_at: '2024-09-17T20:09:57.837Z'
                      emailer_schedule_id: 6095a711bd01d100a506d52a
                      max_emails_per_day: null
                      user_id: 66302798d03b9601c7934ebf
                      active: false
                      loaded_stats: true
                    emailer_steps:
                    - id: 66e9e232ece19801b21999a4
                      emailer_campaign_id: 66e9e215ece19801b219997f
                      position: 1
                      wait_time: 4
                      type: auto_email
                      wait_mode: hour
                    emailer_touches:
                    - id: 66e9e232ece19801b21999a6
                      emailer_step_id: 66e9e232ece19801b21999a4
                      emailer_template_id: 66e9e232ece19801b21999a5
                      status: approved
                      type: new_thread
                    team:
                      id: 6095a710bd01d100a506d4ac
                      sequences_finder_empty: false
                    signals_hash: null
              schema:
                type: object
                properties:
                  contacts:
                    type: array
                    description: Array of contacts that were successfully added to the sequence
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the contact
                        first_name:
                          type: string
                          nullable: true
                        last_name:
                          type: string
                          nullable: true
                        name:
                          type: string
                          description: Full name of the contact
                        email:
                          type: string
                          nullable: true
                        title:
                          type: string
                          nullable: true
                        organization_name:
                          type: string
                          nullable: true
                        linkedin_url:
                          type: string
                          nullable: true
                        contact_stage_id:
                          type: string
                          nullable: true
                        owner_id:
                          type: string
                          nullable: true
                        creator_id:
                          type: string
                        person_id:
                          type: string
                          nullable: true
                        organization_id:
                          type: string
                          nullable: true
                        account_id:
                          type: string
                          nullable: true
                        source:
                          type: string
                        original_source:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                        updated_at:
                          type: string
                          format: date-time
                        emailer_campaign_ids:
                          type: array
                          items:
                            type: string
                        email_status:
                          type: string
                          nullable: true
                        city:
                          type: string
                          nullable: true
                        country:
                          type: string
                          nullable: true
                        state:
                          type: string
                          nullable: true
                        sanitized_phone:
                          type: string
                          nullable: true
                        time_zone:
                          type: string
                          nullable: true
                        contact_campaign_statuses:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              emailer_campaign_id:
                                type: string
                              status:
                                type: string
                              added_at:
                                type: string
                                format: date-time
                              send_email_from_email_account_id:
                                type: string
                              send_email_from_email_address:
                                type: string
                                nullable: true
                              inactive_reason:
                                type: string
                                nullable: true
                        contact_emails:
                          type: array
                          items:
                            type: object
                            properties:
                              email:
                                type: string
                              email_status:
                                type: string
                              position:
                                type: integer
                              email_md5:
                                type: string
                              email_sha256:
                                type: string
                              free_domain:
                                type: boolean
                              source:
                                type: string
                              email_true_status:
                                type: string
                        phone_numbers:
                          type: array
                          items:
                            type: object
                            properties:
                              raw_number:
                                type: string
                              sanitized_number:
                                type: string
                              type:
                                type: string
                              position:
                                type: integer
                              status:
                                type: string
                              source_name:
                                type: string
                        label_ids:
                          type: array
                          items:
                            type: string
                        typed_custom_fields:
                          type: object
                        free_domain:
                          type: boolean
                        email_domain_catchall:
                          type: boolean
                  skipped_contact_ids:
                    type: object
                    description: Hash mapping contact IDs to reasons why they were skipped during the
                      addition process. Each key is a contact ID and each value is a reason code.
                    properties:
                      <contact_id>:
                        type: string
                        description: Reason why this contact was skipped
                        x-enumDescriptions:
                          contact_not_found: Contact ID was not found for the team
                          contacts_already_exists_in_current_campaign: Contact is already a part of current
                            sequence
                          contacts_active_in_other_campaigns: Contact is active in other sequence
                          contacts_finished_in_other_campaigns: Contact is finished in other sequence
                          contacts_without_email: Contact does not have email
                          contacts_unverified_email: Contact does not have verified email
                          contacts_with_job_change: Contact has a pending job change event
                          contacts_in_same_company: Contact from the same company is part of the current
                            sequence (Including for completeness, but extremely rare - only for old users
                            who had opted in for such feature)
                          contacts_without_ownership_permission: User does not have permission to reach
                            out to contact
                          contacts_in_pending_state: Contact is already part of account queue (Rare for
                            api only users - only applicable for users who are using account based workflows
                            in apollo)
                          contacts_with_unverified_user_managed_email: Contact has unverified user-managed
                            email
                  emailer_campaign:
                    type: object
                    description: Complete emailer campaign object with statistics
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      archived:
                        type: boolean
                      active:
                        type: boolean
                      created_at:
                        type: string
                        format: date-time
                      user_id:
                        type: string
                      emailer_schedule_id:
                        type: string
                        nullable: true
                      max_emails_per_day:
                        type: integer
                        nullable: true
                      same_account_reply_policy_cd:
                        type: string
                        nullable: true
                      excluded_account_stage_ids:
                        type: array
                        items:
                          type: string
                      excluded_contact_stage_ids:
                        type: array
                        items:
                          type: string
                      label_ids:
                        type: array
                        items:
                          type: string
                      loaded_stats:
                        type: boolean
                      unique_scheduled:
                        oneOf:
                        - type: integer
                        - type: string
                          enum:
                          - loading
                      unique_delivered:
                        type: integer
                      unique_bounced:
                        type: integer
                      unique_opened:
                        type: integer
                      unique_replied:
                        type: integer
                      bounce_rate:
                        type: number
                      open_rate:
                        type: number
                      reply_rate:
                        type: number
                      contact_statuses:
                        type: object
                        properties:
                          active:
                            oneOf:
                            - type: integer
                            - type: string
                              enum:
                              - loading
                          failed:
                            type: integer
                          paused:
                            oneOf:
                            - type: integer
                            - type: string
                              enum:
                              - loading
                          finished:
                            oneOf:
                            - type: integer
                            - type: string
                              enum:
                              - loading
                          bounced:
                            oneOf:
                            - type: integer
                            - type: string
                              enum:
                              - loading
                      sharing_permission:
                        type: object
                        properties:
                          visibility:
                            type: string
                          access_type:
                            type: string
                          object_type:
                            type: string
                          object_id:
                            type: string
                          is_owner:
                            type: boolean
                          owner_id:
                            type: string
                          sharing_accesses:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                shared_by:
                                  type: string
                                user_or_team_id:
                                  type: string
                                user_or_team_type:
                                  type: string
                                access_type:
                                  type: string
                                object_id:
                                  type: string
                                object_type:
                                  type: string
                  emailer_steps:
                    type: array
                    description: Array of sequence steps
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        emailer_campaign_id:
                          type: string
                        position:
                          type: integer
                        wait_time:
                          type: integer
                        type:
                          type: string
                          enum:
                          - auto_email
                          - call
                          - action_item
                          - manual_email
                        wait_mode:
                          type: string
                          enum:
                          - hour
                          - day
                          - week
                        note:
                          type: string
                          nullable: true
                        priority:
                          type: string
                          enum:
                          - high
                          - medium
                          - low
                          nullable: true
                        counts:
                          type: object
                          properties:
                            active:
                              type: integer
                            paused:
                              type: integer
                            finished:
                              type: integer
                            bounced:
                              type: integer
                        unique_scheduled:
                          oneOf:
                          - type: integer
                          - type: string
                            enum:
                            - loading
                        unique_skipped:
                          oneOf:
                          - type: integer
                          - type: string
                            enum:
                            - loading
                        unique_completed:
                          oneOf:
                          - type: integer
                          - type: string
                            enum:
                            - loading
                  emailer_touches:
                    type: array
                    description: Array of email templates/touches for the sequence
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        emailer_step_id:
                          type: string
                        emailer_template_id:
                          type: string
                        status:
                          type: string
                          enum:
                          - approved
                          - pending
                          - draft
                        type:
                          type: string
                          enum:
                          - new_thread
                          - reply
                        include_signature:
                          type: boolean
                        has_personalized_opener:
                          type: boolean
                        template_type:
                          type: string
                        unique_scheduled:
                          oneOf:
                          - type: integer
                          - type: string
                            enum:
                            - loading
                        unique_delivered:
                          type: integer
                        unique_bounced:
                          type: integer
                        unique_opened:
                          type: integer
                        unique_replied:
                          type: integer
                        bounce_rate:
                          type: number
                          nullable: true
                        open_rate:
                          type: number
                          nullable: true
                        reply_rate:
                          type: number
                          nullable: true
                  team:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 6095a710bd01d100a506d4ac
                      sequences_finder_empty:
                        type: boolean
                        example: false
                  signals_hash:
                    type: object
                    description: Optional signals data for play recommendations and analytics
                    nullable: true
                required:
                - contacts
                - skipped_contact_ids
                - emailer_campaign
                - emailer_steps
                - emailer_touches
                - team
        '401':
          description: Unauthorized - Invalid API key
          content:
            text/plain:
              schema:
                type: string
              examples:
                Invalid API Key:
                  value: Invalid API key. See https://docs.apollo.io/reference/authentication for how
                    to authenticate.
        '403':
          description: Forbidden - Master API key required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_code:
                    type: string
              examples:
                Master API Key Required:
                  value:
                    error: This API key is not authorized to access api/v1/emailer_campaigns/add_contact_ids.
                      Request an API key from your administrator that includes this endpoint in its configured
                      scope.
                    error_code: API_INACCESSIBLE
        '422':
          description: Unprocessable Entity - Validation errors
          content:
            application/json:
              examples:
                Add contact IDs:
                  value: "{\n  \"error\": \"Please specify either contact_ids or label_names.\"\n}"
                Add IDs:
                  value: "{\n  \"error\": \"Please specify a emailer_campaign_id and send_email_from_email_account_id.\"\
                    \n}"
                Inactive Email Accounts:
                  value: "{\n  \"error\": \"These mailboxes are no longer active. test@example.com\"\n\
                    }"
                Aggregate Accounts Not Supported:
                  value: "{\n  \"error\": \"Aggregate accounts are not supported for this sequence. These\
                    \ are the aggregate accounts: 6633baaece5fbd01c791d7ca\"\n}"
              schema:
                oneOf:
                - title: Add contact IDs
                  type: object
                  properties:
                    error:
                      type: string
                      example: Please specify either contact_ids or label_names.
                - title: Add IDs
                  type: object
                  properties:
                    error:
                      type: string
                      example: Please specify a emailer_campaign_id and send_email_from_email_account_id.
                - title: Inactive Email Accounts
                  type: object
                  properties:
                    error:
                      type: string
                      example: These mailboxes are no longer active. test@example.com
                - title: Aggregate Accounts Not Supported
                  type: object
                  properties:
                    error:
                      type: string
                      example: 'Aggregate accounts are not supported for this sequence. These are the
                        aggregate accounts: 6633baaece5fbd01c791d7ca'
        '429':
          description: Too Many Requests - Rate limit exceeded
          content:
            application/json:
              examples:
                Too many requests:
                  value: "{\n    \"message\": \"The maximum number of api calls allowed for api/v1/emailer_campaigns/{sequence_id}/add_contact_ids\
                    \ is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.\"\
                    \n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The maximum number of api calls allowed for api/v1/emailer_campaigns/{sequence_id}/add_contact_ids
                      is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.
  /emailer_campaigns/remove_or_stop_contact_ids:
    post:
      summary: Update Contact Status in a Sequence
      description: '## Endpoint essentials


        **API key access:** `api/v1/emailer_campaigns/remove_or_stop_contact_ids` or `Master API key`


        **OAuth scopes:** `emailer_campaigns_remove_or_stop_contact_ids`


        **Credit usage:** `0 credits` — [Learn more about API pricing and credits](https://docs.apollo.io/docs/api-pricing).


        <a href="https://knowledge.apollo.io/hc/en-us/articles/4409237165837-Sequences-Overview" target="_blank">Sequences</a>
        are outreach campaigns that sales teams use to reach out to contacts over a planned period of
        time.<br><br>Use the Update Contact Status in a Sequence endpoint to either mark contacts as having
        `finished` a sequence, or to remove them from a sequence entirely.'
      tags:
      - Sequences
      operationId: update-contact-status-sequence
      parameters:
      - name: emailer_campaign_ids[]
        in: query
        description: 'The Apollo IDs for the sequences that you want to update. If you add multiple sequences,
          you will update the status of the contacts across the chosen sequences. <br><br>To find sequence
          IDs, call the <a href="https://docs.apollo.io/reference/search-for-sequences" target="_blank">Search
          for Sequences endpoint</a> and identify the `id` value for the sequence. <br><br>Example: `66e9e215ece19801b219997f`'
        required: true
        schema:
          type: array
          items:
            type: string
      - name: contact_ids[]
        in: query
        description: 'The Apollo IDs for the contacts in the sequences. These are the contacts whose sequence
          status you want to update. <br><br>To find contact IDs, call the <a href="https://docs.apollo.io/reference/search-for-contacts"
          target="_blank">Search for Contacts endpoint</a> and identify the `id` value for the contact.
          <br><br>Example: `66e34b81740c50074e3d1bd4`'
        required: true
        schema:
          type: array
          items:
            type: string
      - name: mode
        in: query
        description: 'Choose 1 of the following options to update the sequence status of the contacts:   <ul>
          <li> `mark_as_finished`: Mark the contacts as having finished the sequence. </li> <li> `remove`:
          Remove the contacts from the sequence. </li> <li> `stop`: Indicate that the contacts progress
          in the sequence has halted.  </li> </ul>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                OK:
                  value:
                    contacts:
                    - contact_roles: []
                      id: 66e34b81740c50074e3d1bd4
                      first_name: Fyodor
                      last_name: Dostoevsky
                      name: Fyodor Dostoevsky
                      linkedin_url: null
                      title: Chief Writer
                      contact_stage_id: null
                      owner_id: 67b307d00957c2000d08872b
                      creator_id: 60affe7d6e270a00f5db6fe4
                      person_id: null
                      email_needs_tickling: null
                      organization_name: Apollo.io
                      source: api
                      original_source: api
                      organization_id: null
                      headline: null
                      photo_url: null
                      present_raw_address: St. Petersburg, Russia
                      linkedin_uid: null
                      extrapolated_email_confidence: null
                      salesforce_id: null
                      salesforce_lead_id: null
                      salesforce_contact_id: null
                      salesforce_account_id: null
                      crm_owner_id: null
                      created_at: '2024-09-12T20:13:53.207Z'
                      emailer_campaign_ids:
                      - 66e9e215ece19801b219997f
                      direct_dial_status: null
                      direct_dial_enrichment_failed_at: null
                      city: Saint Petersburg
                      country: Russia
                      state: Saint Petersburg
                      email_status: verified
                      email_source: null
                      account_id: null
                      last_activity_date: '2025-03-09T20:31:17.000+00:00'
                      hubspot_vid: null
                      hubspot_company_id: null
                      crm_id: null
                      sanitized_phone: '+15555550117'
                      merged_crm_ids: null
                      updated_at: '2025-05-23T13:38:25.109Z'
                      queued_for_crm_push: false
                      suggested_from_rule_engine_config_id: null
                      email_unsubscribed: null
                      person_deleted: null
                      call_opted_out: null
                      label_ids: []
                      has_pending_email_arcgate_request: false
                      has_email_arcgate_request: false
                      existence_level: full
                      email: fyodor.dostoevsky@apollo.io
                      email_from_customer: true
                      custom_field_errors: {}
                      crm_record_url: null
                      email_status_unavailable_reason: null
                      email_true_status: User Managed
                      updated_email_true_status: true
                      source_display_name: Created from API
                      twitter_url: null
                      facebook_url: null
                      contact_campaign_statuses:
                      - id: 68782af181c7f0002159df25
                        emailer_campaign_id: 66e9e215ece19801b219997f
                        send_email_from_user_id: 66302798d03b9601c7934ebf
                        inactive_reason: manually finished
                        status: finished
                        added_at: '2025-07-16T22:42:57.372+00:00'
                        added_by_user_id: 60affe7d6e270a00f5db6fe4
                        finished_at: '2025-07-16T22:45:21.237+00:00'
                        paused_at: null
                        auto_unpause_at: null
                        send_email_from_email_address: test.marcus.hale@apollomail.io
                        send_email_from_email_account_id: 6633baaece5fbd01c791d7ca
                        manually_set_unpause: null
                        failure_reason: null
                        current_step_id: null
                        in_response_to_emailer_message_id: null
                        cc_emails: null
                        bcc_emails: null
                        to_emails: null
                        current_step_position: null
                      contact_emails:
                      - email_md5: cf4604bbd3c12ca9e36e20aa0aefac29
                        email_sha256: b5d981918efbd5a93eb10f834643a4277034f24e3b5cabc2631440c7ade49cf8
                        email_status: verified
                        extrapolated_email_confidence: null
                        position: 0
                        email: fyodor.dostoevsky@apollo.io
                        free_domain: false
                        source: User Managed
                        third_party_vendor_name: null
                        vendor_validation_statuses: []
                        email_needs_tickling: null
                        email_true_status: User Managed
                        email_status_unavailable_reason: null
                      time_zone: Asia/Krasnoyarsk
                      show_intent: false
                      phone_numbers:
                      - raw_number: 555-555-0117
                        sanitized_number: '+15555550117'
                        type: work_direct
                        position: 0
                        status: no_status
                        dnc_status: null
                        dnc_other_info: {}
                        dialer_flags: null
                        source_name: User Managed
                        vendor_validation_statuses: []
                        third_party_vendor_name: null
                      account_phone_note: null
                      free_domain: false
                      email_domain_catchall: false
                      typed_custom_fields:
                        5b75f1c11dc2727d43ae3bb9: test
                        5c4296857f799409361890ea: test2
                    emailer_campaigns:
                    - id: 66e9e215ece19801b219997f
                    num_contacts: 3
                    contact_statuses:
                      active: loading
                      failed: 0
                      paused: loading
                      finished: loading
                      bounced: loading
                      hard_bounced: loading
                      spam_blocked: loading
                      not_sent: loading
                    emailer_steps:
                    - id: 66e9e232ece19801b21999a4
                      emailer_campaign_id: 66e9e215ece19801b219997f
                      position: 1
                      wait_time: 4
                      type: auto_email
                      wait_mode: hour
                      note: null
                      max_emails_per_day: null
                      exact_datetime: null
                      priority: null
                      auto_skip_in_x_days: null
                      counts:
                        active: 0
                        paused: 0
                        finished: 4
                        bounced: 0
                        spam_blocked: 0
                        hard_bounced: 0
                        not_sent: 0
                      ab_test_details: {}
                    - id: 66e9e250ece19802d1196d07
                      emailer_campaign_id: 66e9e215ece19801b219997f
                      position: 2
                      wait_time: 3
                      type: call
                      wait_mode: day
                      note: ''
                      max_emails_per_day: null
                      exact_datetime: null
                      priority: high
                      auto_skip_in_x_days: null
                      counts:
                        active: 0
                        paused: 0
                        finished: 0
                        bounced: 0
                        spam_blocked: 0
                        hard_bounced: 0
                        not_sent: 0
                      ab_test_details: {}
                      note_text: ''
                      unique_scheduled: loading
                      unique_skipped: loading
                      unique_completed: loading
                      outcomes: []
                    - id: 66e9e265ece198053919497b
                      emailer_campaign_id: 66e9e215ece19801b219997f
                      position: 3
                      wait_time: 3
                      type: action_item
                      wait_mode: day
                      note: Decide the next step to take for contacts in the sequence.
                      max_emails_per_day: null
                      exact_datetime: null
                      priority: medium
                      auto_skip_in_x_days: null
                      counts:
                        active: 0
                        paused: 0
                        finished: 0
                        bounced: 0
                        spam_blocked: 0
                        hard_bounced: 0
                        not_sent: 0
                      ab_test_details: {}
                      unique_scheduled: loading
                      unique_skipped: loading
                      unique_completed: loading
                  summary: OK
              schema:
                type: object
                properties:
                  entity_progress_job:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 66e9fca8cc087302d18b83be
                      user_id:
                        type: string
                        example: 60affe7d6e270a00f5db6fe4
                      job_type:
                        type: string
                        example: sequence_remove_stop_contacts
                      entity_ids:
                        type: array
                        items:
                          type: string
                          example: 66e9e9e21fbdad01b2b33bbd
                      params:
                        type: object
                        properties:
                          sequence_ids:
                            type: array
                            items:
                              type: string
                              example: 66e9e215ece19801b219997f
                          mode:
                            type: string
                            example: mark_as_finished
                          stop_reason: {}
                          api_key:
                            type: string
                            example: dC3MrapHs3ktwPi1uy_-vp
                          access_token: {}
                      progress:
                        type: integer
                        example: 0
                        default: 0
                      batch_size:
                        type: integer
                        example: 999
                        default: 0
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Check API key:
                  value: Invalid API key. See https://docs.apollo.io/reference/authentication for how
                    to authenticate.
        '403':
          description: '403'
          content:
            application/json:
              examples:
                Need master API key:
                  value: "{\n  \"error\": \"This API key is not authorized to access api/v1/emailer_campaigns/remove_or_stop_contact_ids.\
                    \ Request an API key from your administrator that includes this endpoint in its configured\
                    \ scope.\",\n  \"error_code\": \"API_INACCESSIBLE\"\n}"
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: This API key is not authorized to access api/v1/emailer_campaigns/remove_or_stop_contact_ids.
                      Request an API key from your administrator that includes this endpoint in its configured
                      scope.
                  error_code:
                    type: string
                    example: API_INACCESSIBLE
        '429':
          description: '429'
          content:
            application/json:
              examples:
                Too many requests:
                  value: "{\n    \"message\": \"The maximum number of api calls allowed for api/v1/emailer_campaigns/remove_or_stop_contact_ids\
                    \ is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.\"\
                    \n}"
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The maximum number of api calls allowed for api/v1/emailer_campaigns/remove_or_stop_contact_ids
                      is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.
      deprecated: false
  /sequences:
    post:
      summary: Create a Sequence
      description: '## Endpoint essentials


        **API key access:** `api/v1/sequences/create` or `Master API key`


        **OAuth scopes:** `emailer_campaigns_create`


        **Credit usage:** `0 credits` — [Learn more about API pricing and credits](https://docs.apollo.io/docs/api-pricing).


        <a href="https://knowledge.apollo.io/hc/en-us/articles/4409237165837-Sequences-Overview" target="_blank">Sequences</a>
        are outreach campaigns that sales teams use to reach out to contacts over a planned period of
        time.<br><br>Use the Create a Sequence endpoint to create a new sequence in your team''s Apollo
        account, including its steps and email templates.<br><br>To create a sequence with steps, add
        the `emailer_steps` array to the request body. Each email step (`auto_email`, `manual_email`)
        can include one or more `emailer_touches` (email variants); adding more than one touch to a step
        creates an A/B test, which requires a plan with A/B testing access.<br><br>To activate the sequence
        immediately after creation, set `active` to `true`. Email touches only send if their `status`
        is `approved`, and a touch can only be approved if its template has a non-empty body.


        ### Who owns a sequence created via API


        The new sequence is owned by the user your request acts as, returned as `object_owner_id` (and
        its alias, `user_id`). With an API key that user isn''t the teammate who created the key, so expect
        `object_owner_id` to differ from that teammate''s profile — see [Authentication](https://docs.apollo.io/reference/authentication)
        for how the acting user is resolved and how to confirm it.


        This endpoint ignores `user_id` in the request body, so you can''t choose the owner at creation
        time. To reassign ownership afterward, call [Update a Sequence](https://docs.apollo.io/reference/update-sequence)
        with a `user_id`.'
      tags:
      - Sequences
      operationId: create-sequence
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'A human-readable name for the sequence. <br><br>Example: `Q3 Outbound
                    Outreach`'
                permissions:
                  type: string
                  deprecated: true
                  description: '**Deprecated.** This parameter is still accepted, but it no longer controls
                    who can access the sequence and it is no longer returned in any sequence response.
                    <br><br>New sequences are created with restricted visibility, so only the owner can
                    access the sequence until it is shared. To share it, call the <a href="https://docs.apollo.io/reference/update-sequence">Update
                    a Sequence endpoint</a> with the `sharing_permission` object.'
                active:
                  type: boolean
                  description: Set to `true` to activate the sequence immediately after creation so contacts
                    added to it start receiving steps. If omitted or `false`, the sequence is created
                    in an inactive state.
                emailer_schedule_id:
                  type: string
                  description: The Apollo ID for the schedule that controls the days and times emails
                    are sent. The schedule must belong to your team and must not be empty.
                user_id:
                  type: string
                  description: Ignored by this endpoint. The new sequence is always owned by the user
                    your request acts as, returned as `object_owner_id` (alias `user_id`) — see <a href="https://docs.apollo.io/reference/authentication">Authentication</a>
                    for which user that is. <br><br>To assign a different owner, create the sequence and
                    then call the <a href="https://docs.apollo.io/reference/update-sequence">Update a
                    Sequence endpoint</a> with the `user_id` you want.
                label_names:
                  type: array
                  items:
                    type: string
                  description: 'Add the names of lists (labels) to apply to the sequence. Labels that
                    do not exist yet are created. <br><br>Example: `["Outbound", "Q3"]`'
                folder_id:
                  type: string
                  description: The Apollo ID for the folder in which to place the sequence.
                sequence_by_exact_daytime:
                  type: boolean
                  description: Set to `true` to schedule every step at an exact date and time (`exact_datetime`
                    becomes required on each step) instead of using relative wait intervals (`wait_time`/`wait_mode`).
                max_emails_per_day:
                  type: integer
                  description: The maximum number of emails the sequence sends per day. Must not be negative.
                mark_finished_if_reply:
                  type: boolean
                  description: Set to `true` to mark contacts as finished in the sequence when they reply
                    to an email.
                mark_finished_if_click:
                  type: boolean
                  description: Set to `true` to mark contacts as finished in the sequence when they click
                    a link in an email.
                mark_finished_if_interested:
                  type: boolean
                  description: Set to `true` to mark contacts as finished in the sequence when they are
                    marked as interested.
                mark_paused_if_ooo:
                  type: boolean
                  description: Set to `true` to pause contacts in the sequence when an out-of-office auto-reply
                    is detected.
                days_to_wait_before_mark_as_response:
                  type: integer
                  description: The number of days to wait before an incoming email is no longer treated
                    as a response to the sequence.
                create_task_if_email_open:
                  type: boolean
                  description: Set to `true` to automatically create a task when a contact opens an email
                    a certain number of times. Use `email_open_trigger_task_threshold` to set the number
                    of opens.
                email_open_trigger_task_threshold:
                  type: integer
                  description: The number of email opens that triggers task creation when `create_task_if_email_open`
                    is `true`.
                same_account_reply_delay_days:
                  type: integer
                  description: The number of days to pause other contacts at the same account after a
                    reply is received. The maximum value is `1000`.
                excluded_account_stage_ids:
                  type: array
                  items:
                    type: string
                  description: The Apollo IDs for account stages to exclude from the sequence. All IDs
                    must belong to your team.
                excluded_contact_stage_ids:
                  type: array
                  items:
                    type: string
                  description: The Apollo IDs for contact stages to exclude from the sequence. All IDs
                    must belong to your team.
                ignore_apollo_global_email_bounce_list:
                  type: boolean
                  description: Set to `true` to send emails to contacts even if their email address is
                    on Apollo's global bounce list.
                sequence_ruleset_id:
                  type: string
                  description: The Apollo ID for an existing sequence ruleset to apply shared sequence
                    settings.
                emailer_steps:
                  type: array
                  description: The steps to create in the sequence. Steps run in the order they appear
                    in this array; the first item becomes the first step. There is no separate ordering
                    field on input.
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: 'The type of step. Choose 1 of the following options: <ul><li>`auto_email`:
                          An email that Apollo sends automatically.</li><li>`manual_email`: An email task
                          that a user sends manually.</li><li>`call`: A phone call task.</li><li>`action_item`:
                          A general to-do task.</li><li>`linkedin_step_connect`: A LinkedIn connection
                          request task.</li><li>`linkedin_step_message`: A LinkedIn message task.</li><li>`linkedin_step_view_profile`:
                          A LinkedIn profile view task.</li><li>`linkedin_step_interact_post`: A LinkedIn
                          post interaction task.</li></ul>Step types other than `auto_email` require a
                          plan with access to basic task functions.'
                      wait_time:
                        type: integer
                        description: 'How long to wait after the previous step before this step runs.
                          Required (along with `wait_mode`) unless the sequence uses `sequence_by_exact_daytime`.
                          <br><br>Example: `2`'
                      wait_mode:
                        type: string
                        description: 'The unit for `wait_time`. Choose 1 of the following options: `minute`,
                          `hour`, `day`.'
                      exact_datetime:
                        type: string
                        description: The exact date and time at which the step runs, in ISO 8601 format.
                          Required for each step when `sequence_by_exact_daytime` is `true`; must be in
                          the future and later than the datetimes of all previous steps.
                      priority:
                        type: string
                        description: 'The priority of the task created for the step. Choose 1 of the following
                          options: `high`, `medium`, `low`. Not applicable to `auto_email` steps.'
                      note:
                        type: string
                        description: A note describing the step (for example, call talking points or action
                          item instructions).
                      max_emails_per_day:
                        type: integer
                        description: The maximum number of emails to send per day for this step.
                      auto_skip_in_x_days:
                        type: integer
                        description: Automatically skip the task for this step if it is not completed
                          within the given number of days.
                      emailer_touches:
                        type: array
                        description: The email variants for the step. Applies to `auto_email`, `manual_email`,
                          `linkedin_step_message`, `linkedin_step_connect`, and `call` steps. Adding more
                          than 1 touch to a step creates an A/B test, which requires a plan with A/B testing
                          access.
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              description: 'How the email threads with earlier steps. Choose 1 of the
                                following options: <ul><li>`new_thread`: Start a new email thread.</li><li>`reply_to_thread`:
                                Reply to the thread started by a previous step. A `reply_to_thread` touch
                                must come after a step that starts a new thread.</li></ul>'
                            status:
                              type: string
                              description: 'The review status of the touch. Choose 1 of the following
                                options: <ul><li>`approved`: The touch is approved and will be sent. Requires
                                a template with a non-empty body.</li><li>`to_be_reviewed`: The touch
                                requires review before it sends. (default)</li></ul>'
                            include_signature:
                              type: boolean
                              description: Set to `true` to append the sending user's email signature
                                to the email.
                            emailer_template:
                              type: object
                              description: The email content for the touch. Provide `id` to update an
                                existing template that your team owns, or omit `id` to create a new template.
                              properties:
                                id:
                                  type: string
                                  description: The Apollo ID for an existing email template to use and
                                    update.
                                subject:
                                  type: string
                                  description: The subject line for the email. Supports dynamic variables
                                    such as `{{first_name}}`. Leave empty on a `reply_to_thread` touch
                                    to reuse the thread's subject.
                                body_html:
[...]
